@if ($k-atoms == true and $k-atom-a != false) or $k-atom-a == true {

  /* Anchor
     ========================================================================== */

  a {
    color: $k-link-color;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $k-link-color;
    }
  }
}
