@if ($k-atoms == true and $k-atom-dl != false) or $k-atom-dl == true {

  /* Definition list
     ========================================================================== */

  dl {
    @include clearfix;
    @include content-block;
  }

  dt {
    @include reset;
    font-weight: $k-bold-font-weight;
    float: left;
    clear: left;
    margin-right: $k-tiny-spacing;

    @include rtl {
      float: right;
      clear: right;
      margin-right: 0;
      margin-left: $k-tiny-spacing;
    }
  }

  dd {
    @include reset;
    display: block;
    @include content-block($k-tiny-spacing);
    max-width: 100%;

    &.k-ellipsis {
      vertical-align: bottom;

      .k-ellipsis__item {
        vertical-align: inherit;
      }
    }
  }
}
