/* Image
   ========================================================================== */

/*
Image

- Images have a max-width to fit nicely into responsive layout
- When image is the only child in a parent, `vertical-align: middle` is applied to eliminate line-height bug

markup:
<img src="{image source}" alt="{alternative text}">

sg-wrapper:
<p>
    <sg-wrapper-content/>
</p>

Styleguide 1.4

*/

/**
 * 1. Responsive images
 * 2. Eliminating line-height bug when used alone in container
 * 3. No hidden borders on parents
 */

img {
  max-width: 100%; /* 1 */
  height: auto;

  &:only-child {
    vertical-align: middle; /* 2 */
    backface-visibility: hidden; /* 3 */
  }
}


.k-image-16 {
  @include allwidth(16px);
}