/* Label
   ========================================================================== */

/*
Label

markup:
<label>Label</label>

Styleguide 1.5

*/

/**
 * 1. Force IE8 to wrap long content
 */

label {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%; /* 1 */
  margin-bottom: $spacing-tiny;
  font-weight: $bold;

  &:last-child {
    margin-bottom: 0;
  }
}
