/* Legend
   ========================================================================== */

/*
Legend

- Legends have a bottom margin to separate them from each other
- The last-child doesn't have this bottom margin so parent containers can have four-sided paddings

markup:
<legend>...</legend>

sg-wrapper:
<fieldset>
    <sg-wrapper-content/>
</fieldset>

Styleguide 1.6

*/

/**
 * 1. No margin top for the first legend
 * 2. No margin bottom for the last legend
 */

legend {
  width: 100%;
  padding: 0;
  color: $color-type;
  border: 0;
  display: block;
  margin: 0;
  border: none;
  border-bottom: 1px solid darker($component-background);
  padding-top: $spacing;
  padding-bottom: $spacing-tiny;
  font-size: $font-size-huge;
  line-height: $line-height-huge;
  font-weight: $regular;
  @include content-block;
}
