@if ($k-atoms == true and $k-atom-legend != false) or $k-atom-legend == true {

  /* Legend
     ========================================================================== */

  /**
   * 1. No margin top for the first legend
   * 2. No margin bottom for the last legend
   */

  legend {
    width: 100%;
    padding: 0;
    color: $k-color-type;
    border: 0;
    display: block;
    margin: 0;
    border: none;
    border-bottom: 1px solid darker($k-component-background);
    padding-top: $k-spacing;
    padding-bottom: $k-spacing-tiny;
    font-size: $k-font-size-huge;
    line-height: $k-line-height-huge;
    font-weight: $k-font-weight-normal;
    @include content-block;

    &:first-child {
      padding-top: 0;
    }
  }
}
