@if ($k-atoms == true and $k-atom-ul-ol-li != false) or $k-atom-ul-ol-li == true {

  /* Lists
     ========================================================================== */

  ul,
  ol {
    margin-top: 0;
    margin-right: 0;
    @include content-block;
    margin-left: 0;
    padding-left: 1.5em;
  }

  @include rtl {
    ul,
    ol {
      padding-left: 0;
      padding-right: 1.5em;
    }
  }
}
