.k-thumbnail {
  width: 33%;
  max-width: 240px;
}

.k-wrapped-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.k-link-coverleft {
  @include psuedo(before) {
    top: 0;
    right: 100%;
    left: -100%;
    bottom: 0;
    background: transparent;
  }
}

.k-table-pagination {
  @include content-block($section-spacing);
}

.k-manage {
  @include content-block($section-spacing);
}
.k-manage__item {
  display: inline-block;
}

.k-title + .k-manage,
.k-subtitle + .k-manage {
  margin-top: -($section-spacing / 2);
}


















.gallery {
  overflow: hidden;
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -10px;
}

.gallery__item {
  position: relative;
  flex: 1 1 auto;
  margin: 10px;
  min-width: 220px;

  &:before {
    display: block;
    content: " ";
    padding-top: 75%;
  }
}

.gallery__content {
  @include coverall;
}