.k-wrapped-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.k-link-coverleft {
  @include pseudo(before) {
    top: 0;
    right: 100%;
    left: -100%;
    bottom: 0;
    background: transparent;
  }
}

.k-table-pagination {
  @include content-block($k-site-section-spacing);
}









.k-ui-container {
  overflow: hidden; // To hide overflowing grid margin for example, also clearing floats
}


.k-icon--primary {
  color: var(--primary-color);
}


// TO win over other templates
[class*="k-icon"][class*="k-icon"][class*="k-icon"] {
  @extend %icon;
}





