/* ==========================================================================
   Alerts
   ========================================================================== */

/*
Alerts

Alerts

.k-alert--success - Success style
.k-alert--info - Info style
.k-alert--warning - Warning style
.k-alert--danger - Danger style

markup:
<div class="k-alert {$modifiers}">
    {Content}
</div>

Styleguide 2.1

*/

.k-alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;

  &:last-child {
    margin-bottom: 0;
  }
}


/* Alternate styles */

.k-alert--success {
  @include alert-variant($alert-success-bg, $alert-success-text);
}

.k-alert--info {
  @include alert-variant($alert-info-bg, $alert-info-text);
}

.k-alert--warning {
  @include alert-variant($alert-warning-bg, $alert-warning-text);
}

.k-alert--danger {
  @include alert-variant($alert-danger-bg, $alert-danger-text);
}
