/*
Button groups

Groups of buttons

markup:
<div class="k-button-group">
    <sg-insert>2.2.1-1</sg-insert>
    <sg-insert>2.2-1</sg-insert>
    <sg-insert>2.2-1</sg-insert>
</div>

Styleguide 2.2.2

*/

// @TODO: document this and put it in the styleguide / refactor / place it standalone

// Make the div behave like a button
.k-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .k-button alignment given font-size hack above

  & > .k-button {
    position: relative;
    float: left;
    margin: 0;

    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.is-active {
      z-index: 2;
    }
  }

  // Prevent double borders when buttons are next to each other
  .k-button + .k-button,
  .k-button + .k-button-group,
  .k-button-group + .k-button,
  .k-button-group + .k-button-group {
    margin-left: -1px;

    &:first-child {
      margin-left: 0;
    }
  }

  & > .k-button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  & > .k-button:first-child:not(:last-child) {
    @include border-right-radius(0);
  }

  & > .k-button:last-child:not(:first-child) {
    @include border-left-radius(0);
  }

}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-toggle="buttons"] {
  & > .k-button,
  & > .k-button-group > .k-button {
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
}
