/* Card
   ========================================================================== */

/*
Card

- Display either an image or an icon
- Display either with or without title
- Only display a title

markup:
<!-- Preview -->
<div class="k-card">
    <div class="k-card__body k-card__body--preview">
        <div class="k-card__preview-content-wrapper">
            <div class="k-card__preview-content">
                <div class="k-card__preview">
                    ...
                </div>
            </div>
        </div>
    </div>
</div><!-- .k-card -->

Styleguide 2.4

*/

/*
Card with image

markup:
<!-- Preview -->
<div class="k-card">
    <div class="k-card__body k-card__body--preview">
        <div class="k-card__preview-content-wrapper">
            <div class="k-card__preview-content">
                <div class="k-card__preview">
                    <sg-insert>1.4</sg-insert>
                </div>
            </div>
        </div>
    </div>
</div><!-- .k-card -->

Styleguide 2.4.1

*/

/*
Card with icon

markup:
<!-- Preview -->
<div class="k-card">
    <div class="k-card__body k-card__body--preview">
        <div class="k-card__preview-content-wrapper">
            <div class="k-card__preview-content">
                <div class="k-card__preview">
                    <sg-insert>2.12.3-3</sg-insert>
                </div>
            </div>
        </div>
    </div>
</div><!-- .k-card -->

Styleguide 2.4.2

*/

/*
Card with title

markup:
<!-- Preview -->
<div class="k-card">
    <a href="javascript:void(0)" class="k-card__body k-card__body--preview">
        <div class="k-card__preview-content-wrapper">
            <div class="k-card__preview-content">
                <div class="k-card__preview">
                    <sg-insert>2.12.3-3</sg-insert>
                </div>
            </div>
        </div>
    </a>
    <div class="k-card__title">
        <label><input type="checkbox" /> Title</label>
    </div>
</div>

Styleguide 2.4.3

*/

/*
Card with title only

markup:
<!-- Preview -->
<div class="k-card">
    <div class="k-card__body">
        <div class="k-card__title">
            <label><input type="checkbox" /> <a href="javascript:void(0)">Title</a></label>
        </div>
    </div>
</div>

Styleguide 2.4.4

*/

.k-card {
  width: 100%;
  @include content-block;
}

.k-card__body {
  @include transition;
  display: block;
  backface-visibility: visible;
  background: $color-primary-plus-5;
  border: 1px solid $color-primary-min-1;


  /**
   * 1. This is the <a> so put color here
   * 2. This is the <a> so put cursor here
   */

  a#{&} {
    color: $color-accent; /* 1 */
    cursor: pointer; /* 2 */
  }
}

.k-card__body--preview {
  @include ratio-block(4 to 3);
}

.k-card__preview-content-wrapper {
  @include coverall(1px);
  backface-visibility: hidden;
  overflow: hidden;
}


/**
 * 1. Space images with 1px
 */

.k-card__preview-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 0;
  white-space: nowrap;
  padding: 1px; /* 1 */

  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @include flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.k-card__preview {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: $font-size;

  @include flexbox {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > img,
  & > span {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;

    @include flexbox {
      flex: 0 1 auto;
    }
  }
}

.k-card__title {
  display: block;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  label {
    font-weight: $regular;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 1px;
  }
}
