/* ==========================================================================
   Checkbox & Radio inputs
   ========================================================================== */

/*
Checkbox & Radio inputs

CSS only styled checkboxes and radio boxes

markup:
<input type="checkbox" id="input1">
<label for="input1">Label 1</label>
<input type="radio" id="input2">
<label for="input2">Label 2</label>
<!-- Or -->
<label><input type="checkbox" id="input1"> Label 1</label>
<label><input type="radio" id="input2"> Label 2</label>

Styleguide 2.4

*/

/**
 * Shared styling between radio boxes and checkboxes
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="checkbox"],
  input[type="radio"] {

    /**
     * 1. Resetting the default styling used by browsers. Don't do this for -moz-
          because the checkbox and radio box will look very ugly
     * 2. Positioning relative to position psuedo before element nicely
     * 3. Vertically positioning next to text
     * 4. Aligning vertically next to labels
     * 5. Indicate that element is clickable
     */

    -webkit-appearance: none; /* 1 */
    /* -moz-appearance: don't set this; /* 1 */
    position: relative; /* 2 */
    height: $form-option-size;
    width: $form-option-size;
    margin-top: -1px; /* 3 */
    margin-bottom: 2px; /* 3 */
    margin-left: 0;
    margin-right: .33em;
    border: $form-option-border-size solid $form-option-border;
    padding: 0;
    background: $form-option-background;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; /* 5 */
    box-shadow: $form-option-shadow;
    @include transition(background);

    /* Hover to indicate element is clickable */

    &:hover {
      background: #f1f1f1;
    }

    /* Set disabled border color a bit lighter so it won't appear to be larger */

    &:disabled {
      border-color: #bbb;
    }

    /**
     * 1. Position psuedo element absolute to have full control
     * 2. Position top-left, margin, width and height will take care of centering
     * 3. Initially hide the psuedo element
     * 4. Show the psuedo element when item is checked
     */

    &:before {
      position: absolute; /* 1 */
      top: 0; /* 2 */
      left: 0; /* 2 */
      display: none; /* 3 */
      text-align: center;
      vertical-align: middle;
      background: transparent;
    }

    &:checked:before {
      display: block; /* 4 */
    }

  }

  /* Put some space between the box and the label */
  label {

    /**
     * <input id="input1">
     * <label for="input1">Label 1</label>
     * <input id="input2">
     * <label for="input2">Label 2</label>
     */

    & + input[type="checkbox"],
    & + input[type="radio"] {
      margin-left: 1em;
    }

    /**
     * <label><input id="input1"> Label 1</label>
     * <label><input id="input2"> Label 2</label>
     */

    & + label {
      margin-left: 1em;
    }
  }
}


/* RTL */

@include modernizr-rtl('.k-appearance.k-checked') {
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: .33em;
    margin-right: 0;

    &:before {
      left: auto;
      right: 0;
    }
  }

  label {

    & + input[type="checkbox"],
    & + input[type="radio"] {
      margin-left: auto;
      margin-right: 1em;
    }

    & + label {
      margin-left: auto;
      margin-right: 1em;
    }
  }
}



/* ==========================================================================
   CSS only styled checkbox
   ========================================================================== */

/**
 * 1. Remove rounded corners by default
 * 2. Display a check icon in the psuedo before element
 * 3. Height of the box minus the border size
 * 4. Height of the psuedo element minus a 1px padding/margin to move icon
      away from the side of the box
 * 5. Set the color of the check icon
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="checkbox"] {
    border-radius: 0; /* 1 */

    @include icon-before(check, true) {
      /* 2 */
      width: $form-option-size - ($form-option-border-size * 2); /* 3 */
      height: $form-option-size - ($form-option-border-size * 2); /* 3 */
      line-height: $form-option-size - ($form-option-border-size * 2); /* 3 */
      font-size: $form-option-size - ($form-option-border-size * 4); /* 4 */
      color: $color-accent; /* 5 */
    }
  }
}



/* ==========================================================================
   CSS only styled radio box
   ========================================================================== */

/**
 * 1. Making the radio box round
 * 2. Adding content to display the psuedo element
 * 3. Small inner circle, scaling with the box itself
 * 4. positioning the inner circle
 * 5. Making inner circle actually round
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="radio"] {
    border-radius: 50%; /* 1 */

    &:before {
      content: " "; /* 2 */
      width: $form-option-size - ($form-option-border-size * 8); /* 3 */
      height: $form-option-size - ($form-option-border-size * 8); /* 3 */
      margin: 3px; /* 4 */
      background: $form-option-color;
      border-radius: 50%; /* 5 */
    }
  }
}