/*
Dropdown

A simple dropdown

markup:
<div class="k-dropdown">
    <a class="k-dropdown__toggle" data-toggle="dropdown" href="#">
        Dropdown trigger
        <span class="k-caret"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">{content}</a></li>
        <li><a href="javascript:void(0)">{content}</a></li>
        <li><a href="javascript:void(0)">{content}</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 120px;">
    <sg-wrapper-content/>
</div>

Styleguide 2.200

*/

/*
Dropup

Drop it up when there's no room anymore below

markup:
<div class="k-dropdown k-dropdown--dropup">
    <a class="k-dropdown__toggle" data-toggle="dropdown" href="#">
        Dropup trigger
        <span class="k-caret"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">{content}</a></li>
        <li><a href="javascript:void(0)">{content}</a></li>
        <li><a href="javascript:void(0)">{content}</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 120px;">
    <div style="width: 10px;height: 100px;"></div>
    <sg-wrapper-content/>
</div>

Styleguide 2.200.1

*/

/*
Dropdown divider

Add a divider between dropdown items

markup:
<li class="k-dropdown__divider"></li>

sg-wrapper:
<div class="k-dropdown is-open">
    <a class="k-dropdown__toggle" data-toggle="dropdown" href="#">
        Dropdown trigger
        <span class="k-caret"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Item above divider</a></li>
        <sg-wrapper-content/>
        <li><a href="javascript:void(0)">Item below divider</a></li>
    </ul>
</div>

Styleguide 2.200.2

*/


/* Dropdown arrow/caret */

.k-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caret-width-base dashed;
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}


/* The dropdown wrapper (div) */

.k-dropdown {
  position: relative;
}


/**
 * The dropdown menu (ul)
 *
 * 1. Hide by default, but block on "open" of the menu
 * 2. Ensures proper alignment if parent has it changed (e.g., modal footer)
 */

.k-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; /* 1 */
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: $font-size-base;
  text-align: left; /* 2 */
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;


  /**
    * Links within the dropdown menu
    *
    * 1. prevent links from randomly breaking onto new lines
    */

  a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; /* 1 */
  }


  /* RTL */
  @include rtl {
    left: auto;
    right: 0;
  }
}


/* Dividers (basically an hr) within the dropdown */

.k-dropdown__divider {
  @include nav-divider($dropdown-divider-bg);
}


/* Hover/Focus state */

.k-dropdown__menu a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}


/* Active state */

.k-dropdown__menu .is-active a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}

/**
 * Disabled state
 *
 * Gray out text and ensure the hover/focus state remains gray
 */

.k-dropdown__menu .is-disabled a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }

  /* Nuke hover/focus effects */
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    @include reset-filter;
    cursor: $cursor-disabled;
  }
}


/* Open state for the dropdown */

.k-dropdown.is-open {

  /* Show the menu */
  & > .k-dropdown__menu {
    display: block;
  }

  /* Remove the outline when :focus is triggered */
  & > a {
    outline: 0;
  }
}


/* Backdrop to catch body clicks on mobile, etc. */

.k-dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindex-dropdown - 10);
}


/**
 * Dropup
 *
 * Allow for dropdowns to go bottom up (aka, dropup-menu)
 */

.k-dropdown--dropup {

  /* Reverse the caret */
  .k-caret {
    border-top: 0;
    border-bottom: $caret-width-base dashed;
    content: "";
  }

  /* Different positioning for bottom up menu */
  .k-dropdown__menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}