/* Empty state
   ========================================================================== */

/*
Empty state

When there are no items to display

markup:
<div class="k-empty-state">
    <p>No items found.</p>
    <p>Maybe select another category or different filters?</p>
</div>

Styleguide 2.7

*/

/*
Onboarding

Display the main action button below the empty state heading

markup:
<div class="k-empty-state">
    <p>It seems like you don't have any items yet.</p>
    <p><a href="javascript:void(0)" class="k-button k-button--success k-button--large">Add your first item</a></p>
</div>

Styleguide 2.7.1

*/

.k-empty-state {
  margin: 0;
  font-size: $font-size-large;
  line-height: $line-height-large;
  text-align: center;
  background: $empty-state-background;
  color: $empty-state-color;
  padding: $empty-state-spacing;

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }

  p {
    @include content-block(1em);
  }
}
