/*
Floating thead

A floating thead so the head will stay on top when scrolling the tables

markup:
<table class="k-js-fixed-table-header">
    <thead>
    <tr>
        <th>Heading</th>
        <th>Heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    </tbody>
</table>

sg-wrapper:
<div class="sg-flexbox" style="height: 175px;">
    <div class="k-table-container">
        <div class="k-table">
            <sg-wrapper-content/>
        </div>
    </div>
</div>

Styleguide 2.400

*/

/**
 * This class is created by the floatThead plugin that's why it's not k-float-thead-wrapper
 *
 * 1. Overriding inline styling, we don't need a z-index of 1000+
 */

.floatThead-wrapper {
  z-index: 1 !important;

  @include flexbox {
    display: flex;
    flex: 0 1 auto;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}
