/* Form block
   ========================================================================== */

/*
Form block

To be used in sidebar of forms
- Data in these boxes should be non-required (e.g. not *) form elements

markup:
<!-- Form block -->
<fieldset class="k-form-block">
    <div class="k-form-block__header">
        Header
    </div>
    <div class="k-form-block__content">
        Form elements
    </div>
</fieldset><!-- .k-form-block -->

Styleguide 2.8

*/

.k-form-block {
  @include border(all, $form-block-border);
  background: $form-block-background;
}


/* The header */

.k-form-block__header {
  @include border(bottom, $form-block-header-border);
  padding: $form-block-header-spacing;
  background: $form-block-header-background;
  font-weight: $bold;
}


/* The content */

.k-form-block__content {
  padding: $form-block-content-spacing;
}
