/* ==========================================================================
   Form block
   ========================================================================== */

/**
 * Form block
 *
 * To be used in sidebar of forms<br />
 * Data in these boxes should be non-required form elements

markup:
<!-- Form block -->
<fieldset class="k-form-block">
    <div class="k-form-block__header">
        {header}
    </div>
    <div class="k-form-block__content">
        {form elements}
    </div>
</fieldset>

Styleguide 2.12

*/


/* The block itself */

.k-form-block {
  @include border(all, $form-block-border);
  background: $form-block-background;
}


/* The header */

.k-form-block__header {
  @include border(bottom, $form-block-header-border);
  padding: $form-block-header-spacing;
  background: $form-block-header-background;
  font-weight: $bold;
}


/* The content */

.k-form-block__content {
  padding: $form-block-content-spacing;
}