/* Gallery
   ========================================================================== */

/*
Gallery

A complete gallery container

markup:
<!-- Grid -->
<div class="k-gallery-container">
    <div class="k-gallery">
        <div class="k-gallery__items">
            <div class="k-gallery__item k-gallery__item--folder">
                <sg-insert>2.4.4</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--folder">
                <sg-insert>2.4.4</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--folder">
                <sg-insert>2.4.4</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--file">
                <sg-insert>2.4.3</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--file">
                <sg-insert>2.4.3</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--file">
                <sg-insert>2.4.3</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--file">
                <sg-insert>2.4.3</sg-insert>
            </div>
            <div class="k-gallery__item k-gallery__item--file">
                <sg-insert>2.4.3</sg-insert>
            </div>
        </div>
    </div>
</div>

Styleguide 2.10

*/

.k-gallery-container {
  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.k-gallery {
  padding: $grid-spacing / 2;
  overflow: auto;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}

.k-gallery__items {
  @include clearfix;

  @include flexbox {
    flex: 1 1 auto;
  }
}

.k-gallery__item {
  float: left;
  padding: $grid-spacing / 2;
  width: 100%;

  @include rtl {
    float: right;
  }


  /* Set breakpoints */

  @include setGridBreakpoint;


  /* Selected styling */

  &.k-is-selected {
    .k-card__header {
      background: $color-accent;
      border-color: darkest($color-accent);
      color: $color-accent-type;

      a {
        color: $color-accent-type;
      }
    }

    .k-card__body {
      color: $color-accent-type;
      border-color: darker($color-accent);
    }

    &:hover,
    &:focus {
      .k-card__header {
        background: darkest($color-accent);
      }
    }
  }
}


/* Make sure that the files are separated from the folders */

.k-gallery__item--folder + .k-gallery__item--file {
  clear: left;

  @include rtl {
    clear: right;
  }
}
