// @TODO: document this and put it in the styleguide / refactor

$grid-itemWidth: 140px !default;
$grid-spacing: 16px !default;
$grid-width: 2560px !default;

@mixin setGridItemWidth($breakpoint,$columns) {
  @media (min-width: $breakpoint ) {
    width: percentage(1/$columns);
    @content;
  }
}

// Calculate the grid items
@mixin setGridBreakpoint($width: $grid-itemWidth, $spacing: $grid-spacing, $gridwidth: $grid-width) {

  // Calculating max number
  $number: floor($gridwidth / $width);

  // From 2 to 20 columns
  @for $i from 2 through $number {

    // Calculating breakpoint
    $prev-breakpoint-width: (($i - 1) * $width) + ($i * $spacing);
    $breakpoint-width: ($i * $width) + (($i + 1) * $spacing);
    $columns: $i;
    $breakpoint: $breakpoint-width;

    // Setting separate breakpoint for $desktop width
    @if ( $breakpoint-width > $desktop and $prev-breakpoint-width < $desktop ) {
      $breakpoint: $desktop;
      $columns: floor(($desktop - $sidebar-width-small - $spacing) / ($width + $spacing));
      @include setGridItemWidth($breakpoint,$columns);
    }

    // All breakpoints above $desktop
    @if ( $breakpoint-width > $desktop and $breakpoint-width < $delta ) {
      $columns: floor(($breakpoint-width - $sidebar-width-small - $spacing) / ($width + $spacing));
      $breakpoint: $sidebar-width-small + (($columns * $width) + (($columns + 1) * $spacing));
      @if ( $breakpoint < $desktop ) {
        $breakpoint: $breakpoint + ($width + $spacing);
      }
    }

    // Setting separate breakpoint for $delta width
    @if ( $breakpoint-width > $delta and $prev-breakpoint-width < $delta ) {
      $breakpoint: $delta;
      $columns: floor(($delta - $sidebar-width - $spacing) / ($width + $spacing));
      @include setGridItemWidth($breakpoint,$columns);
    }

    // All breakpoints above $delta
    @if ( $breakpoint-width > $delta ) {
      $columns: floor(($breakpoint-width - $sidebar-width - $spacing) / ($width + $spacing));
      $breakpoint: $sidebar-width + (($columns * $width) + (($columns + 1) * $spacing));
      @if ( $breakpoint < $delta ) {
        $breakpoint: $breakpoint + ($width + $spacing);
      }
    }

    // Setting breakpoints
    @include setGridItemWidth($breakpoint,$columns);
  }
}

.k-grid-container {
  background: $table-background;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.k-grid {
  background: $table-background;
  padding: $grid-spacing / 2;
  overflow: auto;

  @include flexbox {
    display: flex;
    flex: 0 1 auto;
  }
}

.k-grid__items {
  @include clearfix;

  @include flexbox {
    flex: 1 1 auto;
  }
}

.k-grid__item {
  float: left;
  padding: $grid-spacing / 2;
  width: 100%;

  @include rtl {
    float: right;
  }

  // Set breakpoints
  @include setGridBreakpoint;

  // Selected styling
  &.is-selected {
    .k-card__title {
      background: $color-accent;
      border-color: darkest($color-accent);
      color: $color-accent-type;

      a {
        color: $color-accent-type;
      }
    }

    .k-card__body {
      color: $color-accent-type;
      border-color: darker($color-accent);
    }

    &:hover,
    &:focus {
      .k-card__title {
        background: darkest($color-accent);
      }
    }
  }
}

/* Make sure that the files are separated from the folders */
.k-grid__item--folder + .k-grid__item--file {
  clear: left;
}