/*
Grid

A complete grid

markup:
<!-- Grid -->
<div class="k-grid-container">
    <div class="k-grid">
        <div class="k-grid__items">
            <div class="k-grid__item k-grid__item--folder">
                <sg-insert>2.20.4</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--folder">
                <sg-insert>2.20.4</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--folder">
                <sg-insert>2.20.4</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--file">
                <sg-insert>2.20.3</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--file">
                <sg-insert>2.20.3</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--file">
                <sg-insert>2.20.3</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--file">
                <sg-insert>2.20.3</sg-insert>
            </div>
            <div class="k-grid__item k-grid__item--file">
                <sg-insert>2.20.3</sg-insert>
            </div>
        </div>
    </div>
    <sg-insert>2.50.1</sg-insert>
</div>

Styleguide 2.110

*/


.k-grid-container {
  background: $grid-background;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.k-grid {
  background: $grid-background;
  padding: $grid-spacing / 2;
  overflow: auto;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}

.k-grid__items {
  @include clearfix;

  @include flexbox {
    flex: 1 1 auto;
  }
}

.k-grid__item {
  float: left;
  padding: $grid-spacing / 2;
  width: 100%;

  @include rtl {
    float: right;
  }

  // Set breakpoints
  @include setGridBreakpoint;

  // Selected styling
  &.is-selected {
    .k-card__title {
      background: $color-accent;
      border-color: darkest($color-accent);
      color: $color-accent-type;

      a {
        color: $color-accent-type;
      }
    }

    .k-card__body {
      color: $color-accent-type;
      border-color: darker($color-accent);
    }

    &:hover,
    &:focus {
      .k-card__title {
        background: darkest($color-accent);
      }
    }
  }
}

/* Make sure that the files are separated from the folders */
.k-grid__item--folder + .k-grid__item--file {
  clear: left;
}