/*
Heading

Simple heading

markup:
<!-- Heading -->
<div class="k-heading">
    {Content}
</div><!--.k-heading-->

Styleguide 2.11

*/

.k-heading {
  font-size: $font-size-huge;
  line-height: $line-height-huge;
  @include content-block($spacing);
}
