/*
Heading

Simple heading

markup:
<!-- Heading -->
<div class="k-heading">
    {Content}
</div><!--.k-heading-->

Styleguide 2.6

*/

.k-heading {
  font-size: $font-size--large;
  line-height: $line-height--large;
  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 0;
  }
}