/*
Input group

Input group

default - Default
.k-input-group--small - Small
.k-input-group--large - Large

markup:
<div class="k-input-group {$modifiers}">
    <div class="k-input-group__addon">Addon</div>
    <input type="text" class="form-control" />
    <div class="k-input-group__button">
        <button class="k-button k-button--default" type="button">Button</button>
    </div>
</div>

Styleguide 2.450

*/

/**
 * 1. For dropdowns
 * 2. Prevent input groups from inheriting border styles from table cells when placed within a table
 * 3. Ensure that the input is always above the *appended* addon button for proper border colors.
 * 4. IE9 fubars the placeholder attribute in text inputs and the arrows on
      select elements in input groups. To fix it, we float the input.
 * 5. Put focused element on top of the rest
 */

.k-input-group {
  position: relative; /* 1 */
  display: table;
  border-collapse: separate; /* 2 */

  .form-control {

    /* 3 */
    position: relative;
    z-index: 2;

    /* 4 */
    float: left;

    width: 100%;
    margin-bottom: 0;
    
    &:focus {
      z-index: 3; /* 5 */
    }
  }
}


/* Sizes */

.k-input-group--large > .form-control,
.k-input-group--large > .k-input-group__addon,
.k-input-group--large > .k-input-group__button > .k-button {
  @extend .input-lg;
}
.k-input-group--small > .form-control,
.k-input-group--small > .k-input-group__addon,
.k-input-group--small > .k-input-group__button > .k-button {
  @extend .input-sm;
}

/* Input group parts */

.k-input-group__addon,
.k-input-group__button,
.k-input-group .form-control {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}


/**
 * Addon and addon wrapper for buttons
 *
 * 1. Match the inputs
 */

.k-input-group__addon,
.k-input-group__button {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; /* 1 */
}


/* Text addon */

.k-input-group__addon {
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 1;
  color: $input-color;
  text-align: center;
  background-color: $input-group-addon-bg;
  border: 1px solid $input-group-addon-border-color;
  border-radius: $input-border-radius;


  /* Sizing */

  &.input-sm {
    padding: $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-small;
    border-radius: $input-border-radius-small;
  }

  &.input-lg {
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-large;
    border-radius: $input-border-radius-large;
  }


  /* Nuke default margins from checkboxes and radios to vertically center within. */

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}


/* Reset rounded corners */
.k-input-group .form-control:first-child,
.k-input-group__addon:first-child,
.k-input-group__button:first-child > .k-button,
.k-input-group__button:first-child > .k-button-group > .k-button,
.k-input-group__button:first-child > .k-dropdown__toggle,
.k-input-group__button:last-child > .k-button:not(:last-child):not(.k-dropdown__toggle),
.k-input-group__button:last-child > .k-button-group:not(:last-child) > .k-button {
  @include border-right-radius(0);
}

.k-input-group__addon:first-child {
  border-right: 0;
}

.k-input-group .form-control:last-child,
.k-input-group__addon:last-child,
.k-input-group__button:last-child > .k-button,
.k-input-group__button:last-child > .k-button-group > .k-button,
.k-input-group__button:last-child > .k-dropdown__toggle,
.k-input-group__button:first-child > .k-button:not(:first-child),
.k-input-group__button:first-child > .k-button-group:not(:first-child) > .k-button {
  @include border-left-radius(0);
}

.k-input-group__addon:last-child {
  border-left: 0;
}


/**
 * Button input groups
 *
 * 1. Jankily prevent input button groups from wrapping with `white-space` and
      `font-size` in combination with `inline-block` on buttons.
 * 2. Negative margin for spacing, position for bringing hovered/focused/actived
      element above the siblings.
 * 3. Bring the "active" button to the front
 * 4. Negative margin to only have a 1px border between the two
 */

.k-input-group__button {
  position: relative;

  /* 1 */
  font-size: 0;
  white-space: nowrap;

  /* 2 */
  > .k-button {
    position: relative;

    + .k-button {
      margin-left: -1px;
    }

    /* 3 */
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }
  }

  /* 4 */
  &:first-child {
    > .k-button,
    > .k-button-group {
      margin-right: -1px;
    }
  }

  &:last-child {
    > .k-button,
    > .k-button-group {
      z-index: 2;
      margin-left: -1px;
    }
  }
}

