/* ==========================================================================
   Mobile title
   ========================================================================== */

.k-mobile-title {
  background: $mobile-title-background;
  @include border(bottom, $mobile-title-border);
  padding: $mobile-title-spacing;

  @include breakpoint($charlie) {
    display: none;
  }

  @include flexbox {
    flex: 0 0 auto;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: center;

    @include breakpoint($beta) {
      text-align: left;

      @include rtl {
        text-align: right;
      }
    }
  }
}