/* ==========================================================================
   Mobile title
   ========================================================================== */

/*
Mobile title

Title just for mobile
- Use <b>never</b> together with a `.k-titlebar`
- Use <b>only</b> as <b>child</b> of `.k-content`
- Only visible on smaller screens

markup:
<!-- Title when sidebar is invisible -->
<div class="k-mobile-title">
  <h2>{Title}</h2>
</div>

Styleguide 2.14

*/

.k-mobile-title {
  @include border(bottom, $mobile-title-border);
  background: $mobile-title-background;
  display: table;
  width: 100%;

  @include flexbox {
    flex: 0 0 auto;
  }

  @include breakpoint($charlie) {
    display: none;
  }

  .off-canvas-menu-toggle-holder,
  h2 {
    display: table-cell;
    vertical-align: middle;
  }

  .off-canvas-menu-toggle-holder {
    white-space: nowrap;
  }

  h2 {
    width: 99%;
    padding: $spacing-small;
    text-align: center;

    @include breakpoint($beta) {
      text-align: left;

      @include rtl {
        text-align: right;
      }
    }
  }
}