/* Styling for the move modal */

// @TODO: document this and put it in the styleguide / refactor

.controls--inline {
  white-space: nowrap;

  .select2-container,
  .btn {
    display: inline-block;
  }

  .select2-container {
    width: 200px !important;
    margin-right: 12px;

    @include rtl {
      margin-right: 0;
      margin-left: 12px;
    }
  }
}