/*
Responsive table

- Add the `.k-js-responsive-table` class to the `<table>`
- Use [data-hide="phone/tablet/desktop"] on `<th>` to hide cell on different screen sizes
- Set [data-toggle="true"] and add a `.k-table-data--toggle` class to an empty cell

markup:
<div class="k-table-container">
    <div class="k-table">
        <table class="k-js-responsive-table">
        <thead>
            <tr>
                <th width="1%" data-hide="phone">
                    <sg-insert>2.12-161</sg-insert>
                    <span class="k-visually-hidden">Move icon</sg-insert>
                </th>
                <th width="1%" class="k-table-data--form">
                    <input type="checkbox" />
                </th>
                <th data-toggle="true" class="k-table-data--toggle"></th>
                <th>
                    Title
                </th>
                <th data-hide="phone,tablet">
                    Category
                </th>
                <th data-hide="phone,tablet,desktop">
                    Downloads
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <sg-insert>2.21.9</sg-insert>
                </td>
                <td class="k-table-data--form">
                    <input type="checkbox" />
                </td>
                <td class="k-table-data--toggle"></td>
                <td class="k-table-data--ellipsis">
                    <a href="javascript:void(0)">Title</a>
                </td>
                <td>
                    Category
                </td>
                <td>
                    12
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.11

*/

.footable.breakpoint {
  .footable-toggle {
    content: " ";
    display: inline-block;
    width: $footable-toggle-size;
    height: $footable-toggle-size;
    line-height: ($footable-toggle-size - ($footable-toggle-border-size * 2));
    border: $footable-toggle-border-size solid $footable-toggle-color;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;

    @include icon-after(chevron-bottom, true) {
      display: inline-block;
      width: $footable-toggle-icon-size;
      height: $footable-toggle-icon-size;
      margin: ((($footable-toggle-size - $footable-toggle-icon-size) / 2) - $footable-toggle-border-size);
      color: $footable-toggle-color;
      font-size: $footable-toggle-icon-size;
      line-height: 1.3em;
      transform: rotate(-90deg);
      @include transition;
    }
  }

  tr.k-is-selected {
    .footable-toggle {
      border-color: $footable-toggle-color-active;

      &:after {
        color: $footable-toggle-color-active;
      }
    }
  }


  /**
   * Reset padding, and re-set them on individual divs
   */

  .footable-row-detail-cell {
    padding: 0;
  }

  tr.footable-detail-show {
    .footable-toggle {
      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .footable-row-detail-row {
    @include clearfix;
    @include content-block($table-cell-spacing-vertical);
  }

  .footable-row-detail-name {
    font-weight: $bold;
  }


  /**
   * 1. Just like table cells
   * 2. Almost as tall as the main table rows
   * 3. Same spacing as on table cells
   */

  .footable-row-detail-name,
  .footable-row-detail-value {
    position: relative; /* 1 */
    min-height: round($unit-size * 0.75); /* 2 */
    padding: $table-cell-spacing-vertical $table-cell-spacing-horizontal; /* 3 */
  }


  /* Hide toggle button for sub headings */

  th {
    .footable-toggle {
      display: none;
    }
  }
}
