/*
Scopebar

Default scopebar styling
- Either display with filters or with breadcrumbs

markup:
<!-- Scopebar -->
<div class="k-scopebar">
    <sg-insert>2.18.1</sg-insert>
    <sg-insert>2.18.3</sg-insert>
    <sg-insert>2.18.2</sg-insert>
</div><!-- .k-scopebar -->

Styleguide 2.18

*/

.k-scopebar {
  @include clearfix;
  background: $scopebar-background;
  color: $scopebar-color;
  min-width: 100%;
  box-shadow: inset 0 -1px 0 $scopebar-border;

  /* Faking flexbox */
  @include breakpoint($delta) {
    display: table;
    width: 100%;
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    display: flex;
    width: auto;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }

  @include flexbox($delta, 0) {
    flex-wrap: nowrap;
  }
}


/**
 * Scopebar items
 */

.k-scopebar__item {
  @include clearfix;
  @include border(bottom, $scopebar-border);
  min-width: 0; // For wrapping text in combination with flexbox
  box-shadow: 0 -1px 0px $scopebar-border;

  /* Floating nicely */
  @include breakpoint($alpha) {
    float: left;
  }

  /* Faking flexbox */
  @include breakpoint($delta) {
    display: table-cell;
    width: 99%;
    float: none;
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    flex: 1 1 auto;
    width: auto;
  }
}


/**
 * Static scopebar items
 */

.k-scopebar__item--static {

  /* Faking flexbox */
  @include breakpoint($delta) {
    width: 1%;
    white-space: nowrap;
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    display: block;
    flex: 0 0 auto;
  }
}





/**
 * Toggle buttons
 */

.k-scopebar__item--toggle-buttons {
  @include clearfix;

  /* Floating nicely */
  @include breakpoint($alpha) {
    float: left;
  }

  @include breakpoint($beta) {
    float: right;
  }

  /* Hide on larger screens */
  @include breakpoint($delta) {
    display: none;
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    flex: 1 1 auto;
  }

  @include flexbox($beta, 0) {
    flex: 0 0 auto;
    order: 15;
  }
}


/**
 * Filters
 */

.k-scopebar__item--filters {

  /* Hide when JS is enabled */
  @include js-enabled {
    display: none;

    /* Show on larger screens */
    @include breakpoint($alpha) {
      width: 100%;
    }

    @include breakpoint($beta) {
      width: auto;
      display: block !important;
    }

    /* Faking flexbox */
    @include breakpoint($delta) {
      display: table-cell !important;
      width: 99%;
    }
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    width: 100%;
    flex: 1 1 auto;
    order: 10;
  }

  @include flexbox($beta, 0) {
    width: auto;
    order: 0; /* Reset order */
  }

  @include flexbox($delta, 0) {
    display: block !important;
  }
}


/**
 * Breadcrumbs
 */

.k-scopebar__item--breadcrumbs {

  /* Hide when JS is enabled */
  @include js-enabled {
    display: none;

    /* Show on larger screens */
    @include breakpoint($alpha) {
      width: 100%;
    }

    /* Show on larger screens */
    @include breakpoint($beta) {
      display: block !important;
    }

    /* Faking flexbox */
    @include breakpoint($delta) {
      display: table-cell !important;
      overflow: auto;
      max-width: 0;
    }
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    width: 100%;
    flex: 1 1 auto;
    order: 10;
  }

  @include flexbox($beta, 0) {
    width: auto;
    order: 0; /* Reset order */
  }

  @include flexbox($delta, 0) {
    display: flex !important;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
  }

  .k-breadcrumb {
    flex: 1 1 auto;
  }
}



/**
 * Buttons
 */

.k-scopebar__item--buttons {

  /* Floating nicely */
  @include breakpoint($alpha) {
    float: right;
  }

  /* Stop floating on larger screens for faking flexbox */
  @include breakpoint($delta) {
    float: none;
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    display: block;
    flex: 0 0 auto;
  }
}


/**
 * Search
 */

.k-scopebar__item--search {

  /* Hide when JS is enabled */
  @include js-enabled {
    display: none;
    width: 100%;

    /* Show on larger screens and faking flexbox */
    @include breakpoint($delta) {
      display: table-cell !important;
      float: none;
    }
  }

  /* Flexbox */
  @include flexbox(0, 0) {
    flex: 1 1 auto;
    order: 20;
  }

  @include flexbox($delta, 0) {
    display: block !important;
    flex: 0 0 auto;
    order: 0; /* Reset order */
  }
}
















/**
 * Filters
 *
 * 1. Clearfix so we can float individual filters
 * 2. For positioning dropdowns on smaller screens
 */

.k-scopebar__filters {
  @include clearfix; /* 1 */
  position: relative; /* 2 */
  z-index: 2; /* 2 */
}


/* Individual filter */

.k-scopebar__item--filter {
  display: block;
  float: left;
  width: auto;
  line-height: $scopebar-size;
  @include border(right, #ccc);
  @include border(bottom, #ccc);
  margin-bottom: -1px;
  height: $scopebar-size + 1px;
  font-size: $scopebar-filter-font-size;

  @include breakpoint($beta) {
    position: relative;
  }

  @include rtl {
    border-right: none;
    @include border(left, #ccc);
    float: right;
  }
}


/* Filter title */

.k-scopebar__item--filter__title,
.k-scopebar__item--filter__icon {
  display: inline-block;
  vertical-align: middle;
}

.k-scopebar__item--filter__icon {
  margin-left: 2px;

  @include rtl {
    margin-left: 0;
    margin-right: 2px;
  }

  @include breakpoint($beta) {
    margin-left: 4px;

    @include rtl {
      margin-left: 0;
      margin-right: 4px;
    }
  }
}


/* Scopebar label showing how many active filters you have below a filter button */

.k-scopebar__item__label {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 2px;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d35400;
  color: white;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  font-weight: $bold;
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
  pointer-events: none;

  @include rtl {
    right: auto;
    left: 2px;
  }

  @include breakpoint($beta) {
    top: 6px;
    right: 4px;

    @include rtl {
      right: auto;
      left: 4px;
    }
  }

  &--numberless {
    &:after {
      display: block;
      content: " ";
      width: 5px;
      height: 5px;
      background: white;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    }
  }
}



/**
 * Search
 *
 * 1. Hide by default (when JS is enabled) so we can toggle it open
 * 2. Display as table cell on medium sized screens (!important so it displays even if it's hidden by JS)
 * 3. Display as block for flexbox on larger screens
 * 5. Search area items
 */

.k-scopebar__item--search {
  position: relative;

  @include breakpoint($delta) {
    @include allwidth(220px);
  }

  @include breakpoint($echo) {
    @include allwidth(280px);
  }


  /* 5 */

  .k-search__container {
    width: 100%;
    position: relative;
  }

  .k-search__container--has-search-button .k-search__field {
    padding-left: 28px;

    @include rtl {
      padding-left: 0;
      padding-right: 28px;
    }
  }

  .k-search__container--has-empty-button .k-search__field {
    padding-right: 18px;

    @include rtl {
      padding-right: 0;
      padding-left: 28px;
    }
  }

  .k-search__container--has-both-buttons .k-search__field {
    padding-left: 28px;
    padding-right: 18px;

    @include rtl {
      padding-left: 0;
      padding-right: 28px;
    }
  }

  label {
    @extend .visually-hidden;
  }

  .k-search__field {
    @include reset;
    margin: 0;
    display: block;
    width: 100%;
    height: $scopebar-size;
    border-radius: 0;
    padding: $spacing-tiny;
    padding-right: $scopebar-size;
    background: $scopebar-search-background;
    color: $scopebar-search-color;
    box-shadow: none;
    font-size: 12px;
    -webkit-appearance: none;

    @include rtl {
      padding-right: 0;
      padding-left: $scopebar-size;
    }

    @include breakpoint($delta) {
      @include border(left, $scopebar-border);
      @include border(bottom, $scopebar-border);
      height: $scopebar-size + 1px;
      margin-bottom: -1px;

      @include rtl {
        border-left: none;
        @include border(right, $scopebar-border);
      }
    }
  }

  .k-search__button-search {
    @include reset;
    position: absolute;
    top: 50%;
    left: .5em;
    margin-top: -.75em;

    @include rtl {
      left: auto;
      right: .5em;
    }
  }

  .k-search__button-empty {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    width: 22px;
    height: 22px;
    margin-top: -10px;
    background: transparent;

    @include rtl {
      right: auto;
      left: 0;
    }

    &.k-is-visible {
      display: inline-block;
    }

    span {
      margin: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 16px;
      text-align: center;
      border-radius: 100%;
      color: #777;
      text-decoration: none;
      font-weight: $bold;
      font-family: Arial, helvetica, sans-serif;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;

      span {
        background: #ea9393;
        border: 1px solid #ce4c4c;
        color: #fff;
        text-shadow: 1px 1px 1px #ce4c4c;
        box-shadow: inset 1px 2px 1px lighten(#ce4c4c, 10%);
      }
    }
  }

  // The active search label
  .k-scopebar__item__label--numberless {
    position: absolute;
    right: auto;
    left: 13px;
    top: 5px;

    @include rtl {
      left: auto;
      right: 13px;
    }
  }
}









/**
 * Right floating button group
 */

.k-scopebar__group--right {
  float: right;

  @include rtl {
    float: left;
  }
}

.k-scopebar__group--right__item {
  float: left;
  height: $scopebar-size;

  @include rtl {
    float: right;
  }
}







/*
Scopebar filters

Scopebar filters

markup:
<!-- Filters -->
<div class="k-scopebar__item k-scopebar__item--filters">
    <!-- Filters content -->
    <div class="k-scopebar__filters-content">
        <div class="js-filter-container k-scopebar__filters">
            <div class="js-filter-prototype k-scopebar__item--filter k-scopebar-dropdown js-dropdown">
                <button type="button" class="k-scopebar-dropdown__button js-dropdown-button koowa-tooltip">
                    <span class="js-dropdown-title k-scopebar__item--filter__title">{content}</span>
                    <span class="k-scopebar__item--filter__icon k-icon-chevron-bottom" aria-hidden="true"></span>
                    <div class="js-dropdown-label k-scopebar__item__label">1</div>
                </button>
                <div class="k-scopebar-dropdown__body js-dropdown-body">
                    <div class="k-scopebar-dropdown__body__buttons">
                        <button type="button" class="js-clear-filter btn btn-sm">Clear</button>
                        <button type="button" class="js-apply-filter btn btn-primary btn-sm">Apply filter</button>
                    </div>
                </div>
            </div>
            <div class="js-filter-prototype k-scopebar__item--filter k-scopebar-dropdown js-dropdown">
                <button type="button" class="k-scopebar-dropdown__button js-dropdown-button koowa-tooltip">
                    <span class="js-dropdown-title k-scopebar__item--filter__title">{content}</span>
                    <span class="k-scopebar__item--filter__icon k-icon-chevron-bottom" aria-hidden="true"></span>
                </button>
                <div class="k-scopebar-dropdown__body js-dropdown-body">
                    <div class="k-scopebar-dropdown__body__buttons">
                        <button type="button" class="js-clear-filter btn btn-sm">Clear</button>
                        <button type="button" class="js-apply-filter btn btn-primary btn-sm">Apply filter</button>
                    </div>
                </div>
            </div>
        </div><!-- .k-scopebar__filters -->
    </div><!-- .k-scopebar__filters-content -->
</div><!-- .k-scopebar__item -->

Styleguide 2.18.1

*/

.k-scopebar-dropdown {
  overflow: hidden;

  @include breakpoint($beta) {
    position: relative;
    z-index: 2;
  }

  &.k-is-active {
    overflow: visible;
    z-index: 3;

    .k-scopebar-dropdown__body {
      visibility: visible;
    }

    .k-scopebar__item--filter__title {
      text-decoration: underline;
    }
  }

  &.k-is-active {
    .k-scopebar-dropdown__button {
      background: $scopebar-buttons-background-hover;
    }
  }
}

.k-scopebar-dropdown__button {
  position: relative;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0 6px;

  &:hover,
  &:focus {
    background: $scopebar-buttons-background-hover;
  }

  @include breakpoint($beta) {
    padding: 0 12px;
  }
}

.k-scopebar-dropdown__body {
  position: absolute;
  visibility: hidden;
  background: $dropdown-background;
  @include border(all, $dropdown-border);
  color: $dropdown-color;
  box-shadow: 2px 2px 3px rgba(0,0,0,.15);
  border-radius: 0 0 5px 5px;
  min-width: 200px;
  left: 0;
  right: 0;
  top: 100%;

  @include breakpoint($beta) {
    min-width: 300px;
    right: auto;
    left: -1px;

    @include rtl {
      left: auto;
      right: -1px;
    }
  }

  .select2 {
    min-width: 100%;
  }
}

.k-scopebar-dropdown__body__content {
  padding: 5px;
}

.k-scopebar-dropdown__body__buttons {
  line-height: 14px;
  @include border(top, $dropdown-buttons-border);
  background: $dropdown-buttons-background;
  color: $dropdown-buttons-color;
  padding: 8px 5px;
  text-align: center;
  border-radius: 0 0 5px 5px;

  .btn {
    padding: 4px 30px;
    line-height: 16px;
  }
}






/*
Scopebar search

Scopebar search

markup:
<!-- Search -->
<div class="k-scopebar__item k-scopebar__item--search">
    <div class="k-search__container k-search__container--has-both-buttons">
        <input type="search" name="search" class="k-search__field" placeholder="Find by title or description…" value="">
        <button type="submit" class="k-search__button-search">
            <sg-insert>2.12-144</sg-insert>
            <span class="visually-hidden">Search icon</span>
        </button>
        <button class="k-search__button-empty">
            <span>X</span>
        </button>
    </div>
</div>

Styleguide 2.18.2

*/













/*
Scopebar buttons

Scopebar buttons

markup:
<div class="k-scopebar__item k-scopebar__item--buttons">
    <button class="k-scopebar__button">
        <sg-insert>2.12-115</sg-insert>
        <span class="visually-hidden">Grid icon</span>
    </button>
</div>

Styleguide 2.18.3

*/



.k-scopebar__button {
  @include reset;
  position: relative;
  display: block;
  float: left;
  height: round($scopebar-size * .8);
  margin: round($scopebar-size * .1);
  margin-left: 0;
  padding-left: round((($scopebar-size * .8) - (2px + 16px)) / 2);
  padding-right: round((($scopebar-size * .8) - (2px + 16px)) / 2);
  border-radius: 2px;
  text-align: center;
  line-height: round($scopebar-size * .8);
  cursor: pointer;
  @include transition;
  @include border(all, transparent);

  @include rtl {
    float: right;
    margin-left: auto;
    margin-right: 0;
  }

  &:hover {
    border-color: $scopebar-border;
    background: lighter($scopebar-background);
  }

  &.k-is-active {
    display: none;
  }

  [class^="k-icon"] {
    display: block;
    margin-top: round((($scopebar-size * .8) - (2px + 16px)) / 2); // absolute center
    margin-bottom: round((($scopebar-size * .8) - (2px + 16px)) / 2); // absolute center
    width: 16px;
    height: 16px;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;

    &:before {
      font-size: 16px;
      line-height: 16px;
    }
  }
}









/*
Extended scopebar

When space is tight and you don't need filters you could add the breadcrumbs bar to the scopebar like so:

markup:
<!-- Scopebar -->
<div class="k-scopebar">
    <div class="k-scopebar__item k-scopebar__item--breadcrumbs">
        <sg-insert>2.2</sg-insert>
    </div>
    <sg-insert>2.18.3</sg-insert>
    <sg-insert>2.18.2</sg-insert>
</div><!-- .k-scopebar -->

Styleguide 2.18.4

*/

.k-scopebar {
  .k-breadcrumb {
    border-bottom: none;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: auto;
    top: auto;
    position: static;
    visibility: visible;
  }
}




/*
Toggle buttons

These buttons are created automatically with JavaScript to toggle to following items on mobile
- Filters
- Breadcrumbs
- Search

*/

.k-scopebar__item--toggle-buttons {
  padding-left: 4px;

  @include rtl {
    padding-left: 0;
    padding-right: 4px;
  }

  .k-toggle-scopebar-filters {
    display: block;
    float: left;

    @include breakpoint($beta) {
      display: none;
    }
  }

  .k-toggle-scopebar-breadcrumbs {
    display: block;
    float: left;

    @include breakpoint($beta) {
      display: none;
    }
  }

  .k-toggle-scopebar-search {
    display: block;
    float: right;

    @include breakpoint($delta) {
      display: none;
    }
  }
}
