/*
Table

A complete table

markup:
<!-- Table -->
<div class="k-table-container">
    <div class="k-table">
        <table class="k-js-fixed-table-header k-js-responsive-table">
        <thead>
            <tr>
                <th width="1%"><input type="checkbox"/></th>
                <th class="k-sort-desc"><a href="javascript:void(0)">Item title</a></th>
                <th width="5%"><a href="javascript:void(0)">State</a></th>
                <th width="15%"><a href="javascript:void(0)">Category</a></th>
                <th width="5%"><a href="javascript:void(0)">Date</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"/></td>
                <sg-insert>2.21.3</sg-insert>
                <td><sg-insert>2.21.5-2</sg-insert></td>
                <sg-insert>2.21.2</sg-insert>
                <td class="k-table-data--nowrap">01 January 1999</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <sg-insert>2.21.3</sg-insert>
                <td><sg-insert>2.21.5-2</sg-insert></td>
                <sg-insert>2.21.2</sg-insert>
                <td class="k-table-data--nowrap">01 January 1999</td>
            </tr>
            <sg-insert>2.21.6</sg-insert>
            <tr>
                <td><input type="checkbox"/></td>
                <sg-insert>2.21.3</sg-insert>
                <td><sg-insert>2.21.5-2</sg-insert></td>
                <sg-insert>2.21.2</sg-insert>
                <td class="k-table-data--nowrap">01 January 1999</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <sg-insert>2.21.3</sg-insert>
                <td><sg-insert>2.21.5-2</sg-insert></td>
                <sg-insert>2.21.2</sg-insert>
                <td class="k-table-data--nowrap">01 January 1999</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <sg-insert>2.21.3</sg-insert>
                <td><sg-insert>2.21.5-2</sg-insert></td>
                <sg-insert>2.21.2</sg-insert>
                <td class="k-table-data--nowrap">01 January 1999</td>
            </tr>
        </tbody>
        </table>
    </div>
    <sg-insert>2.21.1</sg-insert>
</div>

sg-wrapper:
<div class="k-component">
    <sg-wrapper-content/>
</div>

Styleguide 2.21

*/



.k-table-container {
  background: $table-background;

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}


.k-table {
  overflow: auto;

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
    background: $table-cell-background-even;
  }
}


/* Default table settings */

.k-table-container {
  table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;

    @include rtl {
      text-align: right;
    }

    @include flexbox {
      flex: 1 1 auto;
    }
  }


  /**
   * Cells
   *
   * 1. Position checkbox
   * 2. Remove default margin and set negative top margin to visually align vertically
   */

  th,
  td {
    border: none;
    position: relative;
    height: $table-cell-size;
    vertical-align: middle;
    text-align: left;
    @include transition;

    input {
      display: inline-block; /* 1 */
      vertical-align: middle; /* 1 */
      margin: -1px 0 0 0; /* 2 */
    }
  }

  @include rtl {
    th,
    td {
      text-align: right;
    }
  }


  /**
   * Head
   *
   * 1. Don't set a vertical padding on table headers. Set padding on table heading children
   *    We do this so <a> elements are fully clickable for sorting
   * 2. Don't use long header titles since they won't be wrapped
   * 3. Whole <th> should be clickable
   * 4. Set padding here
   */

  th {
    @include border(bottom, $table-header-border);
    z-index: 1;
    padding: 0 $table-cell-spacing-horizontal; /* 1 */
    white-space: nowrap; /* 2 */
    background: $table-header-background;
    font-weight: $regular;

    a {
      display: block; /* 3 */
      padding: $table-cell-spacing-vertical $table-cell-spacing-horizontal; /* 4 */
      margin-left: -$table-cell-spacing-horizontal;
      margin-right: -$table-cell-spacing-horizontal;
      line-height: $table-cell-size - ($table-cell-spacing-vertical * 2);
      text-decoration: none;
      @include transition;

      &:focus,
      &:hover {
        background: $table-header-background-hover;
      }
    }
  }


  /**
   * Body
   *
   * 1. Small extra info below title display:block to display below title
   */

  td {
    @include border(bottom, $table-cell-border);
    padding: $table-cell-spacing-vertical $table-cell-spacing-horizontal;
    background: $table-cell-background-even;
    line-height: 18px;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }


  tr:nth-child(odd) {
    td {
      background: $table-cell-background-odd;
    }
  }


  /* Hover background */
  tr,
  tr:nth-child(n) {
    &:focus,
    &:hover {
      td {
        background: $table-cell-background-even-hover;
      }
    }
  }
}




/**
 * Selected
 *
 * When rows are selected they are highlighted
 *
 * 1. Coloring Links and extra elements that don't color automatically with their parent
 */

/*
Selected rows

Styling for selected rows

markup:
<tr class="is-selected">
    <td>Item</td>
    <td>Item</td>
    <td>Item</td>
</tr>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr>
            <sg-wrapper-content/>
            <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.8

*/

.k-table-container {
  tr.is-selected {
    td {
      background: $table-cell-accent-background;
      color: $table-cell-accent-color;

      a, i, span {
        color: $table-cell-accent-color; /* 1 */
      }
    }


    /* Re-set background on td's while hovering th */

    &:hover,
    &:focus {
      td {
        background-color: $table-cell-accent-background-hover;
      }
    }
  }
}


/**
 * Table elements
 */


/*
Item title

A title for list items

markup:
<td class="k-table-data--ellipsis"><a href="javascript:void(0)">Item title</a></td>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <sg-wrapper-content/>
            </tr>
        </tbody>
        </table>
    </div>
</div>


Styleguide 2.21.2

*/

/*
Item subtitle

A subtitle for list items

markup:
<td class="k-table-data--ellipsis">
    <a href="javascript:void(0)">Curabitur blandit tempus porttitor.</a>
    <small>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</small>
</td>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <sg-wrapper-content/>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.3

*/

.k-table-container {
  small {
    display: block;
    font-size: 11px;
    line-height: 11px;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  a {
    @include transition;
  }

  [class^="k-icon"],
  [class^="koowa_icon"] {
    vertical-align: baseline;
    font-size: 16px;
    line-height: 23px;
  }
}



/*
Table cell settings

Different available table cell settings

.k-table-data--right - Right aligned text
.k-table-data--center - Center aligned text
.k-table-data--nowrap - Content will not be wrapped (useful for dates, file sizes etc.)
.k-table-data--wrap - Wrap long content (useful for urls etc.)
.k-table-data--toggle - The cell that will have a responsive toggle button
.k-table-data--ellipsis - Break content at the end of the cell and add text ellipsis

markup:
<td class="{$modifiers}">Content</td>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <sg-wrapper-content/>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.4

*/

.k-table-container {
  .k-table-data--right {
    text-align: right;

    @include rtl {
      text-align: left;
    }
  }

  .k-table-data--center {
    text-align: center;
  }

  .k-table-data--nowrap {
    white-space: nowrap;
  }

  .k-table-data--wrap {
    word-break: break-all;
  }

  .k-table-data--toggle {
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
  }

  .k-table-data--ellipsis {
    max-width: 0;
    overflow: hidden;

    a, span, input, svg, div, small {
      display: block;
      vertical-align: middle;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}



/*
Table levels

A table displaying multiple levels

markup:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <thead>
            <tr>
                <th width="1%"><input type="checkbox"/></th>
                <th>Heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"/></td>
                <td class="k-table__item-level k-table__item-level1">Level 1</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <td class="k-table__item-level k-table__item-level2">Level 2</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <td class="k-table__item-level k-table__item-level3">Level 3</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <td class="k-table__item-level k-table__item-level1">Level 1</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
                <td class="k-table__item-level k-table__item-level1">Level 1</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.7

*/

.k-table-container {
  .k-table__item-level {
    white-space: nowrap;

    &:before {
      content: " ";
      display: block;
      width: 6px;
      height: 6px;
      border-left: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      position: absolute;
      top: 50%;
      margin-top: -.25em;

      @include rtl {
        border-left: none;
        border-right: 1px solid #bbb;
      }
    }
  }

  /* Set proper spacing before levels */

  @for $i from 1 through 15 {
    .k-table__item-level#{$i} {
      padding-left: 24px * ($i - 1) + $table-cell-spacing-horizontal;

      @include rtl {
        padding-left: 0;
        padding-right: 24px * ($i - 1) + $table-cell-spacing-horizontal;
      }

      &:before {
        left: (24px * ($i - 1)) - (18px - $table-cell-spacing-horizontal);

        @include rtl {
          left: auto;
          right: (24px * ($i - 1)) - (18px - $table-cell-spacing-horizontal);
        }
      }
    }
  }

  /* Do not display the level icon for the first level items */

  .k-table__item-level1:before {
    display: none;
  }
}



/*
Table sub header

Add sub headers in between

markup:
<tr class="k-table__sub-header">
    <th colspan="6">
        Sub header
    </th>
</tr>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <sg-wrapper-content/>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.6

*/

.k-table-container {
  .k-table__sub-header {
    th {
      padding: .7em $table-cell-spacing-horizontal .5em;
      height: auto;
      font-size: .875em;
      line-height: 1.2em;
      vertical-align: middle;
      text-transform: uppercase;
      white-space: nowrap;
      background: $table-header-background;
      border-bottom-color: $table-cell-border;
    }
  }
}



/*
Table item states

Different states that items can be in

.k-table__item--state-pending - Pending
.k-table__item--state-expired - Expired
.k-table__item--state-unpublished - Unpublished
.k-table__item--state-published - Published

markup:
<span class="k-table__item--state {$modifiers}">State</span>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <td>
                    <sg-wrapper-content/>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.5

*/

.k-table-container {
  .k-table__item--state {
    @include transition;

    // pointers for clickable elements
    button#{&},
    a#{&} {
      cursor: pointer;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &-pending {
      color: $color-warning;
    }

    &-expired {
      color: $color-neutral;
    }

    &-unpublished {
      color: $color-error;
    }

    &-published {
      color: $color-success;
    }
  }
}



/*
Table pagination

Table pagination

markup:
<div class="k-table-pagination">
    <div class="k-pagination">
        <div class="k-pagination__limit">
            <select class="k-form-control">
                <option value="5">5</option>
                <option value="10" selected="selected">10</option>
                <option value="15">15</option>
            </select>
        </div>
        <ul class="k-pagination__pages">
            <li class="is-active">
                <span>1</span>
            </li>
            <li>
                <a href="javascript:void(0)">2</a>
            </li>
            <li>
                <a href="javascript:void(0)">3</a>
            </li>
            <li>
                <a href="javascript:void(0)">4</a>
            </li>
            <li>
                <a href="javascript:void(0)">5</a>
            </li>
            <li>
                <a href="javascript:void(0)">»</a>
            </li>
        </ul>
    </div>
</div>

Styleguide 2.21.1

*/

/*
1. Faking a bottom border, this shadow will disappear when pagination is positioned to bottom
*/

.k-table-pagination {
  padding: $table-pagination-spacing;
  background: $table-pagination-background;
  @include border(top, #d2d2d2);
  @if $borders != false {
    box-shadow: 0 1px 0 $table-pagination-border; /* 1 */
  }


  /* Flexbox */

  @include flexbox {
      flex: 0 0 auto;
  }


  /**
   * Pagination contents
   *
   * 1. Align vertically
   */

  .k-pagination__limit,
  .k-pagination__pages {
    display: inline-block; /* 1 */
    vertical-align: middle; /* 1 */
  }


  /* Pagination */

  .k-pagination__pages {
    padding-left: 0;
    margin: 0;
    border-radius: $border-radius-base;

    & > li {
      display: inline; // Remove list-style and block-level defaults

      & > a,
      & > span {
        position: relative;
        float: left; // Collapse white-space
        padding: $padding-base-vertical $padding-base-horizontal;
        line-height: $line-height-base;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        margin-left: -1px;
      }

      &:first-child {
        & > a,
        & > span {
          margin-left: 0;
          @include border-left-radius($border-radius-base);
        }
      }

      &:last-child {
        & > a,
        & > span {
          @include border-right-radius($border-radius-base);
        }
      }
    }

    & > li > a,
    & > li > span {
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    & > .is-active > a,
    & > .is-active > span {
      &,
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }


  /* Limit */

  select {
    height: $table-pagination-height;
    width: auto;
    margin-right: $table-pagination-spacing;

    @include rtl {
      margin-right: auto;
      margin-left: $table-pagination-spacing;
    }
  }
}


/*
Responsive table

Responsive tables

markup:
<div class="k-table-container">
    <div class="k-table">
        <table class="k-js-responsive-table">
        <thead>
            <tr>
                <th width="1%" data-hide="phone">
                    <span class="k-icon-move"></span>
                </th>
                <th width="1%">
                    <input type="checkbox"/>
                </th>
                <th data-toggle="true">
                    Title
                </th>
                <th data-hide="phone,tablet">
                    Category
                </th>
                <th data-hide="phone,tablet,desktop">
                    Downloads
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <sg-insert>2.21.9</sg-insert>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <a href="javascript:void(0)">Title</a>
                </td>
                <td>
                    Category
                </td>
                <td>
                    12
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.11

*/

.footable.breakpoint {
  .footable-toggle {
    display: inline-block;
    width: $footable-toggle-size;
    height: $footable-toggle-size;
    line-height: ($footable-toggle-size - ($footable-toggle-border-size * 2));
    border: $footable-toggle-border-size solid $footable-toggle-color;
    border-radius: 50%;
    margin-right: $table-cell-spacing-horizontal;
    text-align: center;

    @include rtl {
      margin-right: 0;
      margin-left: $table-cell-spacing-horizontal;
    }

    @include icon-after(chevron-bottom, true) {
      display: inline-block;
      width: $footable-toggle-icon-size;
      height: $footable-toggle-icon-size;
      margin: ((($footable-toggle-size - $footable-toggle-icon-size) / 2) - $footable-toggle-border-size);
      color: $footable-toggle-color;
      font-size: $footable-toggle-icon-size;
      line-height: 1.3em;
      transform: rotate(-90deg);
      @include transition;
    }
  }

  tr.is-selected {
    .footable-toggle {
      border-color: $footable-toggle-color-active;

      &:after {
        color: $footable-toggle-color-active;
      }
    }
  }

  tr.footable-detail-show {
    .footable-toggle {
      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .footable-row-detail-row {
    margin-bottom: $table-cell-spacing-vertical;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footable-row-detail-name {
    font-weight: $bold;
  }
}



/*
Positioner

For drag and drop sorting

default - Default - shows "no-drop" cursor
.is-active - Active item - shows "move" cursor

markup:
<span class="k-positioner {$modifiers}" data-position="1"></span>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <tbody>
            <tr>
                <td>
                    <sg-wrapper-content/>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

Styleguide 2.21.9

*/

.k-positioner {
  $k-positioner-width: 16px;
  $k-positioner-color: #ccc;

  display: inline-block;
  vertical-align: middle;
  width: $k-positioner-width;
  height: 4px;
  border-top: 1px solid $k-positioner-color;
  border-bottom: 1px solid $k-positioner-color;
  cursor: no-drop;

  &.is-active {
    cursor: move;
  }

  @include psuedo(before) {
    width: $k-positioner-width;
    height: 10px;
    border-top: 1px solid $k-positioner-color;
    border-bottom: 1px solid $k-positioner-color;
    top: -4px;
  }

  &:after {
    position: absolute;
    width: ($k-positioner-width * 2);
    height: ($k-positioner-width * 2);
    top: -($k-positioner-width - 1px);
    left: -($k-positioner-width / 2);
    content: attr(data-position);
    font-size: 10px;
    line-height: ($k-positioner-width * 2.75);
    text-indent: 3px;
    vertical-align: bottom;
    color: #333;
    text-shadow: 0 0 3px white;
    @include transition;
  }
}

.k-table-container {
  tr.is-selected {
    .k-positioner {
      &:after {
        color: white;
        text-shadow: none;
      }
    }
  }
}





/*
Table heading sorting

Styling for table header sorting.

.k-sort-asc - Ascending
.k-sort-desc - Descending

markup:
<th class="{$modifiers}">
    <a href="javascript:void(0)">Title</a>
</th>

sg-wrapper:
<div class="k-table-container">
    <div class="k-table">
        <table>
        <thead>
            <tr>
                <th>Title</th>
                <sg-wrapper-content/>
                <th>Title</th>
            </tr>
        </thead>
        </table>
    </div>
</div>

Styleguide 2.21.10

*/

th.k-sort-asc,
th.k-sort-desc {
  font-weight: $bold;

  a {
    cursor: pointer;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

th.k-sort-asc {
  a {
    @include icon-after(sort-ascending, true) {
      margin-left: .5em;
      vertical-align: middle;
    }
  }
}

th.k-sort-desc {
  a {
    @include icon-after(sort-descending, true) {
      margin-left: .5em;
      vertical-align: middle;
    }
  }
}



/*
Floating thead

A floating thead so the head will stay on top when scrolling the tables

markup:
<table class="k-js-fixed-table-header">
    <thead>
    <tr>
        <th>Heading</th>
        <th>Heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    </tbody>
</table>

sg-wrapper:
<div class="sg-flexbox" style="height: 175px;">
    <div class="k-table-container">
        <div class="k-table">
            <sg-wrapper-content/>
        </div>
    </div>
</div>

Styleguide 2.21.12

*/

/**
 * This class is created by the floatThead plugin that's why it's not k-float-thead-wrapper
 *
 * 1. Overriding inline styling, we don't need a z-index of 1000+
 */

.floatThead-wrapper {
  z-index: 1 !important;

  @include flexbox {
    display: flex;
    flex: 0 1 auto;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}
