/* Tabs
   ========================================================================== */

/*
Tabs

markup:
<ul class="k-tabs">
    <li class="k-is-active">
        <a href="#tab1" data-k-toggle="tab">Tab 1</a>
    </li>
    <li>
        <a href="#tab2" data-k-toggle="tab">Tab 2</a>
    </li>
     <li class="k-is-disabled">
        <a href="#tab3" data-k-toggle="tab">Tab 3 (disabled)</a>
    </li>
</ul>
<div class="k-tabs-content">
    <div id="tab1" class="k-tab k-is-active">
        Content tab 1
    </div>
    <div id="tab2" class="k-tab">
        Content tab 2
    </div>
    <div id="tab3" class="k-tab">
        Content tab 3
    </div>
</div>

Styleguide 2.22

*/

.k-tabs {
  @include clearfix;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $nav-tabs-border;


  /**
   * 1. Make the list-items overlay the bottom border
   */

  & > li {
    position: relative;
    display: block;
    float: left;
    margin-bottom: -1px; /* 1 */

    & > a {
      position: relative;
      display: block;
      padding: $nav-tabs-link-spacing;
      margin-right: 2px;
      line-height: $line-height;
      border: 1px solid transparent;
      border-radius: $border-radius $border-radius 0 0;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-tabs-link-hover-background;
        border-color: $nav-tabs-link-hover-border $nav-tabs-link-hover-border $nav-tabs-border;
      }
    }


    /**
     * Disabled state sets text to gray and nukes hover/tab effects
     */

    &.k-is-disabled > a {
      color: $nav-tabs-disabled-link-color;
      cursor: $cursor-disabled;
      pointer-events: none;

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }


    /**
     * Active state, and its :hover to override normal :hover
     */

    &.k-is-active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-background;
        border: 1px solid $nav-tabs-active-link-hover-border;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }


  /**
   * Open dropdowns
   */

  .k-is-open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-tabs-link-hover-background;
      border-color: $color-accent;
    }
  }
}

/**
 * Tabbable tabs
 *
 * Hide tabbable panes to start, show them when `.k-is-active`
 */

.k-tabs-content {
  & > .k-tab {
    display: none;
    padding: $spacing-small;
  }

  & > .k-is-active {
    display: block;
  }
}
