/* ==========================================================================
   Title bar
   ========================================================================== */

/*
Title bar

The default titlebar
- A titlebar that can be displayed above the `content-wrapper` when there's no toolbar
- Very useful inside modal views
- Always have at least a `k-titlebar` or a `k-toolbar` when there's a `k-sidebar` in your page!
- Use as <b>first child</b> of the `.k-wrapper` only
- {unsureText}

markup:
<div class="k-titlebar">
    <h2>{Title}</h2>
</div><!-- .k-titlebar -->

sg-wrapper:
<div class="k-wrapper">
    <sg-wrapper-content/>
</div>

Styleguide 2.22

*/

/**
 * 1. Set the z-index higher than the menus
 * 2. Setting a background so container will fall nicely over the sidebar
 * 3. Set transition for off canvas sidebar
 */

.k-titlebar {
  @include border(bottom, $titlebar-border);
  position: relative; /* 1 */
  z-index: 2; /* 1 */
  display: table;
  width: 100%;
  background: $titlebar-background; /* 2 */
  color: $titlebar-color;
  @include transition(transform); /* 3 */


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 0 auto;
  }
}


/**
 * Titlebar when toggled
 *
 * 1. Set left to the width of the menu so the menu will appear
 * 2. Set right to the negative width of the menu so the menu will appear
 * 3. Reset when screen is wide enough
 */

.show-left-menu {
  .k-titlebar {
    transform: translate($sidebar-width, 0); /* 1 */

    @include rtl {
      transform: translate(-($sidebar-width), 0);
    }

    @include breakpoint($desktop) {
      transform: translate(0, 0); /* 3 */

      @include rtl {
        transform: translate(0, 0);
      }
    }
  }
}

.show-right-menu {
  .k-titlebar {
    transform: translate(-($sidebar-width), 0); /* 2 */

    @include rtl {
      transform: translate($sidebar-width, 0); /* 2 */
    }

    @include breakpoint($desktop) {
      transform: translate(0, 0); /* 3 */

      @include rtl {
        transform: translate(0, 0);
      }
    }
  }
}


/**
 * Fake Overlay when toggled
 *
 * 1. Set opacity
 * 2. Set z-index so it will become visible
 */

.show-left-menu,
.show-right-menu {
  .k-titlebar:before {
    opacity: .75; /* 1 */
  }
}

.opened--left,
.opened--right {
  .k-titlebar:before {
    z-index: 2; /* 2 */
  }
}


/* Titlebar contents */

.k-titlebar {
  .k-off-canvas-overlay {
    bottom: -1px; /* Also cover the bottom border */
  }

  .off-canvas-menu-toggle-holder,
  h2 {
    display: table-cell;
    vertical-align: middle;
  }

  .off-canvas-menu-toggle-holder {
    white-space: nowrap;
  }

  h2 {
    width: 99%;
    padding: $spacing-small;
    text-align: center;

    @include breakpoint($beta) {
      text-align: left;

      @include rtl {
        text-align: right;
      }
    }
  }
}
