/*
Toolbar

Default toolbar

Markup:
<div class="k-toolbar">
    <span class="k-toolbar-buttons">
        <sg-insert>2.3-3</sg-insert>
        <sg-insert>2.3-1</sg-insert>
        <sg-insert>2.3.1-2</sg-insert>
        <sg-insert>2.3.1-2</sg-insert>
    </span>
</div><!-- .k-toolbar -->


Styleguide 2.24
*/

.k-toolbar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-background;
  min-height: $toolbar-height;


  /* Faking flexbox for older browsers */

  @include breakpoint($desktop) {
    width: 100%;
    display: table;
  }


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 0 auto;
  }
}


/* Toolbar contents */

.k-toolbar {
  .k-button {
    margin: 10px 0 10px 10px;

    /**
     * Make buttons square
     *
     * Only make them square if media queries are supported
     * By default we just want them as buttons
     */

    @include breakpoint(0, range, $charlie) {
      overflow: hidden;
      width: 32px;
      height: 32px;
      padding: 7px 6px;
      text-align: center;
    }
  }

  @include rtl {
    .k-button {
      margin: 10px 10px 10px 0;
    }
  }

  /**
   * Position the icons
   *
   * Only position them if media queries are supported
   * By default we just want them aligned normally
   */

  [class^="k-icon"] {
    @include breakpoint(0, range, $charlie) {
      display: block;
      margin: 0;
      width: $font-size-large;
      height: $font-size-large;
      font-size: $font-size-large;
      line-height: $font-size-large;
    }

    display: inline-block;
    margin: 0 .25em 0 .1em;
  }
}


/* Text on the toolbar buttons */

.k-toolbar__text {
  @include breakpoint(0, range, $charlie) {
    position: relative;
    z-index: -1;
    visibility: hidden;
  }
}
