/* Toolbar
   ========================================================================== */

/*
Toolbar

- <span class="sg-alert"><strong>Important:</strong> Always add an icon in front of the text since icons are used as only content on mobile</span>

Markup:
<!-- Toolbar -->
<div class="k-toolbar k-js-toolbar">
    <button type="button" class="k-button k-button--success">
        <sg-insert>2.12-171</sg-insert>
        Primary action
    </button>
    <button type="button" class="k-button k-button--default">
        <sg-insert>2.12-164</sg-insert>
        Other action
    </button>
    <button type="button" class="k-button k-button--default" disabled>
        <sg-insert>2.12-113</sg-insert>
        Disabled action
    </button>
    <button type="button" class="k-button k-button--default" disabled>
        <sg-insert>2.12-52</sg-insert>
        Disabled action
    </button>
</div><!-- .k-toolbar -->

Styleguide 2.24

*/

.k-toolbar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-background;
  min-height: $toolbar-height;
  padding-bottom: 10px;


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 0 auto;
  }
}


/**
 * Toolbar contents
 */

.k-toolbar {
  .k-button {
    margin: 10px 0 0 10px;


    /**
     * Make buttons square
     *
     * Only make them square if media queries are supported
     * By default we just want them as buttons
     */

    @include breakpoint(0, range, $charlie) {
      overflow: hidden;
      width: 32px;
      height: 32px;
      padding: 7px 6px;
      text-align: center;
    }
  }

  @include rtl {
    .k-button {
      margin: 10px 10px 0 0;
    }
  }


  /* Autosave indicator */

  .k-autosave-indicator {
    margin: 10px 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;

    @include rtl {
      margin: 10px 10px 0 0;
    }
  }


  /**
   * Position the icons
   *
   * Only position them if media queries are supported
   * By default we just want them aligned normally
   */

  [class^="k-icon"] {
    @include breakpoint(0, range, $charlie) {
      display: block;
      margin: 0 0 10px;
      width: $font-size-large;
      height: $font-size-large;
      font-size: $font-size-large;
      line-height: $font-size-large;
    }

    display: inline-block;
    margin: 0 0.25em 0 0.1em;

    @include rtl {
      margin: 0 0.1em 0 0.25em;
    }
  }


  .k-off-canvas-menu-toggle-holder {
    display: inline-block;
    vertical-align: middle;

    .k-off-canvas-menu-toggle {
      margin-bottom: 0;
    }
  }
}


/* Text on the toolbar buttons */

.k-toolbar__text {
  @include breakpoint(0, range, $charlie) {
    position: relative;
    z-index: -1;
    visibility: hidden;
  }
}
