/* Tree
   ========================================================================== */

/*
Tree

markup:
<div class="k-tree" id="k-jqtree"></div>
<script type="text/javascript" defer>
(function($) {
    $(document).ready(function () {
        new Koowa.Tree('#k-jqtree', {
            "data": [
                {"label":"Main category","id":4},
                {"label":"Sub category 1","id":5,"parent":4},
                {"label":"Sub category 2","id":6,"parent":4},
                {"label":"Deeper category","id":7,"parent":6},
                {"label":"Sub category 3","id":8,"parent":4}
            ]
        });
    });
});
</script>

Styleguide 2.26

*/

.k-tree {
  @include clearfix;
  margin: $list-spacing 0;
  overflow: auto;

  .jqtree-element {
    padding: 0 $spacing-tiny 0 $spacing;

    @include rtl {
      padding: 0 $spacing 0 $spacing-tiny;
    }

    &:hover,
    &:focus {
      background: $jqtree-hover-background;
    }
  }

  & > .jqtree-tree {
    margin: 0;
    padding: 0;

    & > .jqtree_common {
      .jqtree-element {
        padding-left: 0;

        @include rtl {
          padding-left: $spacing-tiny;
          padding-right: 0;
        }
      }
    }
  }

  .jqtree-selected {
    & > .jqtree-element {
      background: $color-accent;
      color: $color-accent-type;
    }

    &:hover {
      & > .jqtree-element {
        background: dark($color-accent);
      }
    }
  }
}

.k-sidebar-item {
  .k-tree {
    & > .jqtree-tree {
      & > .jqtree-folder {
        .jqtree-element {
          padding-left: 15px;

          @include rtl {
            padding-left: $spacing-tiny;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

.jqtree-tree {
  @include clearfix;


  /* Reset default ul li styling */

  &, ul {
    @include reset;
    @include clearfix;
    float: left;
    min-width: 100%;

    @include rtl {
      float: right;
    }
  }
}

.jqtree-folder {
  @include clearfix;
}

.jqtree-element {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0;
  padding: 0;
  white-space: nowrap;
  height: auto;
  cursor: pointer;

  a {
    padding: 0;
    background: transparent;
  }

  .jqtree-toggler {
    height: 0;
    padding-top: $tree-size;
    overflow: hidden;
    color: inherit;
  }
}

.jqtree-whitespace,
.jqtree-toggler,
.jqtree-icon,
.jqtree-title {
  display: inline-block;
  font-size: $font-size;
  line-height: $tree-size;
  height: $tree-size;
  vertical-align: middle;
}

.jqtree-whitespace,
.jqtree-toggler,
.jqtree-icon {
  width: $tree-size;
  text-align: center;
}

.jqtree-icon {
  &:before {
    line-height: 26px;
  }
}

.k-tree {
  li li {
    .jqtree-whitespace + .jqtree_common:not(.jqtree-toggler) {
      @include psuedo(after) {
        width: 6px;
        height: 6px;
        border-left: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        top: 50%;
        margin-top: -3px;
        left: -(($tree-size / 2) + 3px);

        @include rtl {
          border-left: none;
          border-right: 1px solid #aaa;
          left: auto;
          right: -(($tree-size / 2) + 3px);
        }
      }
    }
  }
}

.jqtree-toggler {
  @include psuedo(before) {
    top: 50%;
    left: 50%;
    margin-top: -(round($tree-toggle-size / 2) - 1px);
    margin-left: -($tree-toggle-size);
    @include caret(bottom, $tree-toggle-size);
    @include transition;

    // @include rtl { works fine without RTL }
  }

  &:hover,
  &:focus {
    &:before {
      border-top-color: black;
    }
  }

  &.jqtree-closed {
    &:before {
      transform: rotate(-90deg);

      @include rtl {
        transform: rotate(90deg);
      }
    }
  }
}

.jqtree-selected {
  & > .jqtree-element {
    font-weight: $bold;
  }

  & > .jqtree_common > .jqtree-toggler {
    &:hover {
      color: $color-accent-type;

      &:before {
        border-top-color: $color-accent-type;
      }
    }
  }
}

.jqtree-closed {
  ul {
    display: none;
  }
}
