/* Wells
   ========================================================================== */

/*
Wells

markup:
<div class="k-well">
    Content
</div>

Styleguide 2.27

*/

.k-well {
  padding: $spacing-small;
  background-color: $well-background;
  border: 1px solid $well-border;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  @include content-block;

  p {
    @include content-block($spacing-small);
  }
}


/*
Wells content

markup:
<div class="k-well">
    <p>Intro content</p>
    <div class="k-well__content">
        Content
    </div>
</div>

Styleguide 2.27.1

*/

.k-well__content {
  padding: $spacing-small;
  background: white;
  border: 1px solid $well-border;
  border-radius: $border-radius;
}


/*
Wells tabs

markup:
<div class="k-well">
    <p>Intro content</p>
    <sg-insert>2.22</sg-insert>
</div>

Styleguide 2.27.2

*/

.k-well {
  .k-tabs-content {
    margin: 0;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 $border-radius $border-radius;
  }
}
