// Carets
// CSS only carets using borders

@mixin caret(
  $k-direction: right,
  $k-size: 4px,
  $k-color: false) {

  // Top and bottom carets

  @if $k-direction == top or $k-direction == bottom {
    border-left: $k-size solid transparent;
    border-right: $k-size solid transparent;
  }


  // Left and right carets

  @if $k-direction == left or $k-direction == right {
    border-top: $k-size solid transparent;
    border-bottom: $k-size solid transparent;
  }


  // Top

  @if $k-direction == top {
    border-bottom: $k-size solid;

    @if $k-color {
      border-bottom-color: $k-color;
    }
  }


  // Right

  @if $k-direction == right {
    border-left: $k-size solid;

    @if $k-color {
      border-left-color: $k-color;
    }
  }


  // Bottom

  @if $k-direction == bottom {
    border-top: $k-size solid;

    @if $k-color {
      border-top-color: $k-color;
    }
  }


  // Left

  @if $k-direction == left {
    border-right: $k-size solid;

    @if $k-color {
      border-right-color: $k-color;
    }
  }
}