// Cover all
// Cover the entire parent element

@mixin coverall(
  $k-margin: 0,
  $k-top: true,
  $k-right: true,
  $k-bottom: true,
  $k-left: true,
  $k-reset: false,
  $k-position: true) {

  @if $k-position == true {
    position: absolute;
  }

  @if $k-top == true {
    top: $k-margin;
  } @else if $k-top != false {
    top: $k-top;
  }

  @if $k-right == true {
    right: $k-margin;
  } @else if $k-right != false {
    right: $k-right;
  }

  @if $k-bottom == true {
    bottom: $k-margin;
  } @else if $k-bottom != false {
    bottom: $k-bottom;
  }

  @if $k-left == true {
    left: $k-margin;
  } @else if $k-left != false {
    left: $k-left;
  }

  @if $k-reset == true {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}