// Graphical pseudo element
// Set element to position relative and add a pseudo element with position absolute and a "content"

@mixin pseudo(
  $k-pseudo: after,
  $k-parentposition: true,
  $k-display: true,
  $k-position: true,
  $k-content: true) {

  @if $k-parentposition == true {
    position: relative;
  }

  &:#{$k-pseudo} {

    @if $k-display == true {
      display: block;
    }

    @if $k-position == true {
      position: absolute;
    }

    @if $k-content == true {
      content: " ";
    } @else if $k-content != false {
      content: $k-content;
    }

    @content;
  }
}