// Aspect ratio blocks
// Works best when it has a coverall mixin child
// Default ratio is 16:9
// Probably needs a coverall @mixin as a child

@mixin ratio-block($k-ratio: 16 to 9) {

  // Variables
  $k-width: nth($k-ratio, 1);
  $k-height: nth($k-ratio, 3);
  $k-percent: (($k-height / $k-width) * 100%);

  position: relative;

  &:before {
    display: block;
    content: " ";
    padding-top: $k-percent;
  }
}