// Reset elements
// Reset an elements default styling
// Mostly useful for <ul> etc. where default element shave multiple styling rules

@mixin reset(
  $k-margin: true,
  $k-padding: true,
  $k-list-style: true,
  $k-border: true,
  $k-background: true) {

  @if $k-margin == true {
    margin: 0;
  }

  @if $k-padding == true {
    padding: 0;
  }

  @if $k-list-style == true {
    list-style: none;
  }

  @if $k-border == true {
    border: none;
  }

  @if $k-background == true {
    background: transparent;
  }
}