// Transition
// Set a default transition to be used in the whole project
// 1. No 1 pixel jumps on smooth transitons

@mixin transition(
  $k-properties: all,
  $k-duration: $k-transition-duration,
  $k-easing: $k-transition-easing) {

  transition: $k-properties $k-duration $k-easing;
  -webkit-backface-visibility:hidden; // 1
}