.k-float-right-element {
  float: right;
  margin-left: 1em;

  @include rtl {
    float: left;
    margin-left: 0;
    margin-right: 1em;
  }
}

.k-max-width-third {
  max-width: 33%;
}

.k-float-left {
  float: left;

  @include rtl {
    float: right;
  }
}

.k-float-right {
  float: right;

  @include rtl {
    float: left;
  }
}