// ==========================================================================
// Variables
// ==========================================================================

// Margins
$smallMargin:                       10px;
$mediumMargin:                      20px;
$largeMargin:                       30px;

// Sizes
$smallFont:                         12px;
$iconSize:                          24px;

// Widths
$maxWidth:                          1020px;
$queryWidthMedium:                  768px;
$koowaGutterWidthFirstLevel:        45px;
$koowaGutterWidthSecondLevel:       30px;

$koowaPath:                         '../' !default;
$k-icon-path:                       '../' !default;
