// Form examples
//
// Example templates that can be used to quickly build pages
//
// Styleguide 5.0

/*
Complete form page

markup:
<div class="koowa-container koowa">
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Content -->
            <div class="k-content k-js-content">
                <sg-insert>2.24</sg-insert>
                <!-- Component -->
                <div class="k-component">
                    <!-- Form -->
                    <form class="k-flex-wrapper">
                        <!-- Container -->
                        <div class="k-container">
                            <div class="k-container__full">
                                <div class="k-heading">Example form</div>
                            </div>
                            <!-- Main fields -->
                            <div class="k-container__main">
                                <fieldset>
                                    <div class="k-form-group k-form-group--large">
                                        <input class="k-form-control" type="text" placeholder="Title" />
                                    </div>
                                    <div class="k-form-group">
                                        <div class="k-input-group k-input-group--small">
                                            <label for="input-[5.1]-1" class="k-input-group__addon">Alias</label>
                                            <input id="input-[5.1]-1" type="text" class="k-form-control" placeholder="Placeholder" />
                                        </div>
                                    </div>
                                    <div class="k-form-group">
                                        <label>Category</label>
                                        <sg-insert>2.19</sg-insert>
                                    </div>
                                    <div class="k-form-group">
                                        <label>File</label>
                                        <sg-insert>2.9.9</sg-insert>
                                    </div>
                                </fieldset>
                            </div><!-- .k-container__main -->
                            <!-- Other fields -->
                            <div class="k-container__sub">
                                <fieldset class="k-form-block">
                                    <div class="k-form-block__header">
                                        Publish
                                    </div>
                                    <div class="k-form-block__content">
                                        <div class="k-form-group">
                                            <sg-insert>2.17.1</sg-insert>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="k-form-block">
                                    <div class="k-form-block__header">
                                        Date
                                    </div>
                                    <div class="k-form-block__content">
                                        <sg-insert>2.5</sg-insert>
                                    </div>
                                </fieldset>
                            </div><!-- .k-container__sub -->
                        </div><!-- .k-container -->
                    </form><!-- .k-form-layout -->
                </div><!-- .k-component -->
            </div><!-- .k-content -->
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 5.1

*/



/*
Batch form view

markup:
<div class="koowa-container koowa">
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Content -->
            <div class="k-content k-js-content">
                <sg-insert>2.24</sg-insert>
                <!-- Component -->
                <div class="k-component">
                    <!-- Container -->
                    <div class="k-container">
                        <div class="k-container__full">
                            <div class="k-heading">Batch values</div>
                        </div>
                        <div class="k-container__full">
                            <form class="k-container__main">
                                <fieldset>
                                    <div class="k-form-group">
                                        <label>Category</label>
                                        <sg-insert>2.19</sg-insert>
                                    </div>
                                </fieldset>
                            </form><!-- .k-container__main -->
                        </div>
                        <div class="k-container__full">
                            <fieldset>
                                <legend>Documents</legend>
                                <sg-insert>2.9.7</sg-insert>
                            </fieldset>
                        </div>
                    </div><!-- .k-container -->
                </div><!-- .k-component -->
            </div><!-- .k-content -->
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 5.2

*/



/*
Form with sidebar

Only use a sidebar next to a form when also using autosave since we don't want users to lose all their changes when navigating the sidebar

markup:
<div class="koowa-container koowa">
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Sidebar -->
            <div class="k-sidebar-left k-js-sidebar-left">
                <sg-insert>2.16-all</sg-insert>
                <div class="k-sidebar-item k-sidebar-item--flex">
                    <div class="k-sidebar-item__header">
                        Categories
                    </div>
                    <sg-insert>2.26</sg-insert>
                </div>
                <div class="k-sidebar-item">
                    <div class="k-sidebar-item__header">
                        Quick filters
                    </div>
                    <sg-insert>2.13</sg-insert>
                </div>
            </div>
            <!-- Content -->
            <div class="k-content k-js-content">
                <sg-insert>2.24</sg-insert>
                <!-- Component -->
                <div class="k-component">
                    <!-- Form -->
                    <form class="k-flex-wrapper">
                        <!-- Container -->
                        <div class="k-container">
                            <div class="k-container__full">
                                <div class="k-heading">Example form</div>
                            </div>
                            <!-- Main fields -->
                            <div class="k-container__main">
                                <fieldset>
                                    <div class="k-form-group k-form-group--large">
                                        <input class="k-form-control" type="text" placeholder="Title" />
                                    </div>
                                    <div class="k-form-group">
                                        <div class="k-input-group k-input-group--small">
                                            <label for="input-[5.3]-1" class="k-input-group__addon">Alias</label>
                                            <input id="input-[5.3]-1" type="text" class="k-form-control" placeholder="Placeholder" />
                                        </div>
                                    </div>
                                    <div class="k-form-group">
                                        <label>Category</label>
                                        <sg-insert>2.19</sg-insert>
                                    </div>
                                </fieldset>
                            </div><!-- .k-container__main -->
                            <!-- Other fields -->
                            <div class="k-container__sub">
                                <fieldset class="k-form-block">
                                    <div class="k-form-block__header">
                                        Publish
                                    </div>
                                    <div class="k-form-block__content">
                                        <div class="k-form-group">
                                            <sg-insert>2.17.1</sg-insert>
                                        </div>
                                    </div>
                                </fieldset>
                            </div><!-- .k-container__sub -->
                        </div><!-- .k-container -->
                    </form><!-- .k-form-layout -->
                </div><!-- .k-component -->
            </div><!-- .k-content -->
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 5.3

*/
