// Border
// Sets a border to defined side
// Only sets a border if $borders is set to true in variables

@mixin border($position, $border-color) {
  @if $borders != false and $border-color != false {
    @if $position == 'all' {
      border: $border-width $border-style $border-color;
    } @else {
      border-#{$position}: $border-width $border-style $border-color;
    }
  }
}

// Single side border-radius

@mixin border-top-radius($border-radius) {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}
@mixin border-right-radius($border-radius) {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
@mixin border-bottom-radius($border-radius) {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
@mixin border-left-radius($border-radius) {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}