// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.has-focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }

  &:active,
  &.k-is-active,
  .k-is-open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
    box-shadow: inset 1px 2px 4px rgba(0,0,0,0.125);

    &:hover,
    &:focus,
    &.has-focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }

  &:active,
  &.is-active,
  .k-is-open > &.dropdown-toggle {
    background-image: none;
  }

  &.k-is-disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.has-focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}