// Content block
// Sets a bottom margin and removes it for the last child
// Using single colons for older browsers

@mixin content-block($spacing: 1.5em) {
  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 0;
  }
}


// Content block top
// Sets a top margin and removes it for the first child
// Using single colons for older browsers

@mixin content-block-top($spacing: 1.5em) {
  margin-top: $spacing;

  &:first-child {
    margin-top: 0;
  }
}