// Flexbox
// 1. Is flexbox variable set to true?
// 2. Make sure to place selector at root since we use modernizr (add classes to html tag)
// 3. Check for modernizr classes
// 4. Set media query
//
// Because we're adding .flexbox and .flexboxlegacy classes flexbox will only work when JS is enabled
// This is a good thing since we're not sure what we're showing / hiding with JS that might mess with flexbox

@mixin flexbox(
  $horizontal: $flexbox-horizontal,
  $vertical: $flexbox-vertical) {

  @if $flexbox == true { // 1
    @at-root { // 2
      .k-flexbox &, // 3
      .k-flexboxlegacy & { // 3
        @media (min-width: $horizontal) and (min-height: $vertical) { // 4
          @content
        }
      }
    }
  }
}