/*
Anchor

Default anchor style

markup:
<a href="{url}">{content}</a>

sg-wrapper:
<p>
    <sg-wrapper-content/>
</p>

Styleguide 1.1

*/

a {
  color: $color-type;

  &:focus,
  &:hover {
    color: $color-type;
  }
}
