/* Definition list
   ========================================================================== */

/*
Definition list

- definition lists have a bottom margin to separate them from each other
- The last-child doesn't have this bottom margin so parent containers can have four-sided paddings

markup:
<dl>
    <dt>Name</dt>
    <dd>attachments</dd>
    <dt>Dimensions</dt>
    <dd>908 x 655</dd>
    <dt>Size</dt>
    <dd>66.60 KB</dd>
</dl>

Styleguide 1.2

*/

dl {
  @include clearfix;
  @include content-block;
}

dt {
  @include reset;
  font-weight: $bold;
  float: left;
  clear: left;
  margin-right: $spacing-tiny;
}

dd {
  @include reset;
  display: block;
  @include content-block($spacing-tiny);
  max-width: 100%;

  &.k-ellipsis {
    vertical-align: bottom;

    .k-ellipsis__item {
      vertical-align: inherit;
    }
  }
}
