/**
 * HTML
 *
 * By using 100% for `height` and `min-height` we can work with full-height auto overflowing flexbox pages
 *
 */

html {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
}