/* Input
   ========================================================================== */

/**
 * Normalize form controls
 *
 * 1. Override content-box in Normalize (* isn't specific enough)
 * 2. Position radios and checkboxes better
 * 3. Make range inputs behave like textual form controls
 * 4. Focus for file, radio, and checkbox
 * 5. Better sized because of box-sizing
 * 6. Set font-size to 16px on touch supported devices so browser won't automatically zoom
 * 7. Make multiple select elements height not fixed
 */

input[type="search"] {
  box-sizing: border-box; /* 1 */
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0; /* 2 */
  line-height: normal; /* 2 */
}

input[type="file"] {
  display: block; /* 2 */
}

input[type="range"] {
  display: block; /* 3 */
  width: 100%; /* 3 */
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus; /* 4 */
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: $input-height-base; /* 5 */

  @include modernizr('.k-touchevents') {
    &:focus,
    &:active {
      font-size: 16px !important; /* 6 */
    }
  }

}

.select2-selection--multiple,
select[multiple],
select[size] {
  height: auto; /* 7 */
}
