/*
Label

Default label style

markup:
<label>Label</label>

Styleguide 1.5

*/

/**
 * 1. Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
 */

label {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%; /* 1 */
  margin-bottom: 5px;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }
}
