/* Hamburger
   ========================================================================== */

/**
 * Animated hamburger button
 *
 * 1. Hide when JS is disabled, we don't need a toggle when there's no JS
 * 2. Show when JS is enabled
 * 3. Hide when the sidebar is visible
 */

.k-off-canvas-menu-toggle {
  position: relative;
  z-index: 10;
  float: left;
  display: none; /* 1 */
  width: $toggle-button-size;
  height: $toggle-button-size;
  padding: 0;
  border: none;
  border-radius: $toggle-button-radius;
  margin: 10px;
  background: $toggle-button-background;
  color: $toggle-button-color;

  @include rtl {
    left: auto;
    float: right;
  }

  @include js-enabled {
    display: block; /* 2 */

    @include breakpoint($sidebar-left-querie-width) {
      &--left {
        display: none; /* 3 */
      }
    }

    @include breakpoint($sidebar-right-querie-width) {
      &--right {
        display: none; /* 3 */
      }
    }
  }


  /* Set proper margins */

  &.k-off-canvas-menu-toggle--left {
    margin-right: 0;

    @include rtl {
      margin-right: 10px;
      margin-left: 0;
    }
  }

  &.k-off-canvas-menu-toggle--right {
    margin-left: 0;

    @include rtl {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}


/* Button styling */

.k-off-canvas-menu-toggle--left,
.k-off-canvas-menu-toggle--right {
  .k-toggle-button-bar1,
  .k-toggle-button-bar2,
  .k-toggle-button-bar3 {
    position: absolute;
    display: block;
    background: $toggle-button-color;
    vertical-align: middle;
    border-radius: $toggle-button-radius;
    @include transition(0.3s);
  }
}


/**
 * Left button
 *
 * We don't need RTLstyling here since we're calculating the icons to be in the middle
 */

.k-off-canvas-menu-toggle--left {
  .k-toggle-button-bar1,
  .k-toggle-button-bar2,
  .k-toggle-button-bar3 {
    left: round(($toggle-button-size - $hamburger-bar-width) / 2);
    width: $hamburger-bar-width;
    height: $hamburger-bar-height;
  }

  .k-toggle-button-bar1 {
    top: round(($toggle-button-size - $hamburger-bar-width) / 2);
  }

  .k-toggle-button-bar2 {
    top: round((($toggle-button-size - $hamburger-bar-width) / 2) + ($hamburger-bar-height * 2));
  }

  .k-toggle-button-bar3 {
    top: round((($toggle-button-size - $hamburger-bar-width) / 2) + ($hamburger-bar-height * 4));
  }
}


/* Transform hamburger into a cross when the sidebar is opened */

.k-show-left-menu {
  .k-off-canvas-menu-toggle--left {
    .k-toggle-button-bar1 {
      top: round(($toggle-button-size / 2) - ($hamburger-bar-height / 2));
      transform: rotate(135deg);
    }

    .k-toggle-button-bar2 {
      opacity: 0;
      transform: scale(0);
    }

    .k-toggle-button-bar3 {
      top: round(($toggle-button-size / 2) - ($hamburger-bar-height / 2));
      transform: rotate(-135deg);
    }
  }
}


/**
 * Right button
 *
 * We don't need RTLstyling here since we're calculating the icons to be in the middle
 */

.k-off-canvas-menu-toggle--right {
  .k-toggle-button-bar1,
  .k-toggle-button-bar2,
  .k-toggle-button-bar3 {
    left: round(($toggle-button-size - ($info-bar-width + $info-bar-height + (round($info-bar-height / 5)))) - round($info-bar-height / 5));
  }

  .k-toggle-button-bar1 {
    width: $info-bar-width;
    height: $info-bar-width;
    top: round(($toggle-button-size - ($info-bar-width + $info-bar-height + (round($info-bar-height / 5)))) / 2);
  }

  .k-toggle-button-bar2,
  .k-toggle-button-bar3 {
    width: $info-bar-width;
    height: $info-bar-height;
    top: round((($toggle-button-size - ($info-bar-width + $info-bar-height + (round($info-bar-height / 5)))) - round($info-bar-height / 10)));
  }
}


/* Transform "i" into a cross when the sidebar is opened */

.k-show-right-menu {
  .k-off-canvas-menu-toggle--right {
    .k-toggle-button-bar1 {
      opacity: 0;
      transform: scale(0);
    }

    .k-toggle-button-bar2 {
      top: round(($toggle-button-size - $hamburger-bar-width) / 2);
      left: round(($toggle-button-size - $hamburger-bar-width) - $hamburger-bar-height);
      height: $hamburger-bar-width;
      transform: rotate(135deg);
      opacity: 1;
      width: $hamburger-bar-height;
    }

    .k-toggle-button-bar3 {
      top: round(($toggle-button-size - $hamburger-bar-width) / 2);
      left: round(($toggle-button-size - $hamburger-bar-width) - $hamburger-bar-height);
      transform: rotate(-135deg);
      height: $hamburger-bar-width;
      width: $hamburger-bar-height;
    }
  }
}
