/* ==========================================================================
   Custom icon font
   ========================================================================== */

// The placeholders in this file are being replaced with real values by grunt-webfont


// @font-face

@font-face {
  font-family: "k-icons";
  src:    url("#{$icon-path}/k-icons/k-icons.eot");
  src:    url("#{$icon-path}/k-icons/k-icons.eot?#iefix") format("embedded-opentype"),
  url("#{$icon-path}/k-icons/k-icons.woff") format("woff"),
  url("#{$icon-path}/k-icons/k-icons.ttf") format("truetype"),
  url("#{$icon-path}/k-icons/k-icons.svg#k-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


/**
 * Use SVG
 *
 * Always use SVG on touch / mobile
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "k-icons";
    src: url("#{$icon-path}/k-icons/k-icons.svg#k-icons") format("svg");
  }
}


// Placeholder
// To be used in mixins
// Sets all default values for the icons

%icon {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font: {
    style: normal;
    variant: normal;
    weight: normal;
    family: 'k-icons';
  }
  &:before {
    display: inline-block;
    margin: auto;
    width: 1em;
    height: 1em;
  }
}


// Sass icon map
// All the available icons

$icons: (
  account-login: "\f101",
  account-logout: "\f102",
  action-redo: "\f103",
  action-undo: "\f104",
  align-center: "\f105",
  align-left: "\f106",
  align-right: "\f107",
  aperture: "\f108",
  arrow-bottom: "\f109",
  arrow-circle-bottom: "\f10a",
  arrow-circle-left: "\f10b",
  arrow-circle-right: "\f10c",
  arrow-circle-top: "\f10d",
  arrow-left: "\f10e",
  arrow-right: "\f10f",
  arrow-thick-bottom: "\f110",
  arrow-thick-left: "\f111",
  arrow-thick-right: "\f112",
  arrow-thick-top: "\f113",
  arrow-top: "\f114",
  audio-spectrum: "\f115",
  audio: "\f116",
  badge: "\f117",
  ban: "\f118",
  bar-chart: "\f119",
  basket: "\f11a",
  battery-empty: "\f11b",
  battery-full: "\f11c",
  beaker: "\f11d",
  bell: "\f11e",
  bluetooth: "\f11f",
  bold: "\f120",
  bolt: "\f121",
  book: "\f122",
  bookmark: "\f123",
  box: "\f124",
  briefcase: "\f125",
  british-pound: "\f126",
  browser: "\f127",
  brush: "\f128",
  bug: "\f129",
  bullhorn: "\f12a",
  calculator: "\f12b",
  calendar: "\f12c",
  camera-slr: "\f12d",
  caret-bottom: "\f12e",
  caret-left: "\f12f",
  caret-right: "\f130",
  caret-top: "\f131",
  cart: "\f132",
  chat: "\f133",
  check: "\f134",
  chevron-bottom: "\f135",
  chevron-left: "\f136",
  chevron-right: "\f137",
  chevron-top: "\f138",
  circle-check: "\f139",
  circle-x: "\f13a",
  clipboard: "\f13b",
  clock: "\f13c",
  cloud-download: "\f13d",
  cloud-upload: "\f13e",
  cloud: "\f13f",
  cloudy: "\f140",
  code: "\f141",
  cog: "\f142",
  collapse-down: "\f143",
  collapse-left: "\f144",
  collapse-right: "\f145",
  collapse-up: "\f146",
  command: "\f147",
  comment-square: "\f148",
  compass: "\f149",
  contrast: "\f14a",
  copywriting: "\f14b",
  credit-card: "\f14c",
  crop: "\f14d",
  dashboard: "\f14e",
  data-transfer-download: "\f14f",
  data-transfer-upload: "\f150",
  delete: "\f151",
  dial: "\f152",
  document: "\f153",
  dollar: "\f154",
  double-quote-sans-left: "\f155",
  double-quote-sans-right: "\f156",
  double-quote-serif-left: "\f157",
  double-quote-serif-right: "\f158",
  droplet: "\f159",
  eject: "\f15a",
  elevator: "\f15b",
  ellipses: "\f15c",
  envelope-closed: "\f15d",
  envelope-open: "\f15e",
  euro: "\f15f",
  excerpt: "\f160",
  expand-down: "\f161",
  expand-left: "\f162",
  expand-right: "\f163",
  expand-up: "\f164",
  external-link: "\f165",
  eye: "\f166",
  eyedropper: "\f167",
  file: "\f168",
  fire: "\f169",
  flag: "\f16a",
  flash: "\f16b",
  folder: "\f16c",
  fork: "\f16d",
  fullscreen-enter: "\f16e",
  fullscreen-exit: "\f16f",
  globe: "\f170",
  graph: "\f171",
  grid-four-up: "\f172",
  grid-three-up: "\f173",
  grid-two-up: "\f174",
  hard-drive: "\f175",
  header: "\f176",
  headphones: "\f177",
  heart: "\f178",
  home: "\f179",
  image: "\f17a",
  inbox: "\f17b",
  infinity: "\f17c",
  info: "\f17d",
  italic: "\f17e",
  justify-center: "\f17f",
  justify-left: "\f180",
  justify-right: "\f181",
  key: "\f182",
  laptop: "\f183",
  layers: "\f184",
  lightbulb: "\f185",
  link-broken: "\f186",
  link-intact: "\f187",
  list-rich: "\f188",
  list: "\f189",
  location: "\f18a",
  lock-locked: "\f18b",
  lock-unlocked: "\f18c",
  loop-circular: "\f18d",
  loop-square: "\f18e",
  loop: "\f18f",
  magnifying-glass: "\f190",
  map-marker: "\f191",
  map: "\f192",
  media-pause: "\f193",
  media-play: "\f194",
  media-record: "\f195",
  media-skip-backward: "\f196",
  media-skip-forward: "\f197",
  media-step-backward: "\f198",
  media-step-forward: "\f199",
  media-stop: "\f19a",
  medical-cross: "\f19b",
  menu: "\f19c",
  microphone: "\f19d",
  minus: "\f19e",
  monitor: "\f19f",
  moon: "\f1a0",
  move: "\f1a1",
  musical-note: "\f1a2",
  paperclip: "\f1a3",
  pencil: "\f1a4",
  people: "\f1a5",
  person: "\f1a6",
  phone: "\f1a7",
  pie-chart: "\f1a8",
  pin: "\f1a9",
  play-circle: "\f1aa",
  plus: "\f1ab",
  power-standby: "\f1ac",
  print: "\f1ad",
  project: "\f1ae",
  pulse: "\f1af",
  puzzle-piece: "\f1b0",
  question-mark: "\f1b1",
  rain: "\f1b2",
  random: "\f1b3",
  reload: "\f1b4",
  resize-both: "\f1b5",
  resize-height: "\f1b6",
  resize-width: "\f1b7",
  rss-alt: "\f1b8",
  rss: "\f1b9",
  script: "\f1ba",
  share-boxed: "\f1bb",
  share: "\f1bc",
  shield: "\f1bd",
  signal: "\f1be",
  signpost: "\f1bf",
  sort-ascending: "\f1c0",
  sort-descending: "\f1c1",
  spreadsheet: "\f1c2",
  star: "\f1c3",
  sun: "\f1c4",
  tablet: "\f1c5",
  tag: "\f1c6",
  tags: "\f1c7",
  target: "\f1c8",
  task: "\f1c9",
  terminal: "\f1ca",
  text: "\f1cb",
  thumb-down: "\f1cc",
  thumb-up: "\f1cd",
  timer: "\f1ce",
  transfer: "\f1cf",
  trash: "\f1d0",
  underline: "\f1d1",
  vertical-align-bottom: "\f1d2",
  vertical-align-center: "\f1d3",
  vertical-align-top: "\f1d4",
  video: "\f1d5",
  volume-high: "\f1d6",
  volume-low: "\f1d7",
  volume-off: "\f1d8",
  warning: "\f1d9",
  wifi: "\f1da",
  wrench: "\f1db",
  x: "\f1dc",
  yen: "\f1dd",
  zoom-in: "\f1de",
  zoom-out: "\f1df",
  close: "\f1e0",
  disabled: "\f1e1",
  document-archive: "\f1e2",
  document-audio: "\f1e3",
  document-default: "\f1e4",
  document-document: "\f1e5",
  document-image: "\f1e6",
  document-pdf: "\f1e7",
  document-spreadsheet: "\f1e8",
  document-video: "\f1e9",
  enabled: "\f1ea",
  filter: "\f1eb",
  folder-closed: "\f1ec",
  folder-opened: "\f1ed",
  menu-closed: "\f1ee",
  menu-opened: "\f1ef",
  open: "\f1f0",);


/**
 * Icon classes
 *
 * Creating a class name for each individual icon to be used in markup like:
 * <span class="k-icon-[name]" aria-hidden="true"></span>
 */

@each $name, $icon in $icons {
  .k-icon-#{$name} {
    @extend %icon;
    &:before {
      content: "#{$icon}";
    }
  }
}


// 'Icon before' mixin
// For adding icons to elements using CSS pseudo-elements

@mixin icon-before($icon: false, $styles: false) {
  &:before {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}


// 'Icon after' mixin
// For adding icons to elements using CSS pseudo-elements

@mixin icon-after($icon: false, $styles: false) {
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}