.align-left {
  text-align: left;
  align-self: flex-start;
  margin-right: auto;

  @include rtl {
    text-align: right;
    margin-right: 0;
    margin-left: auto;
  }
}

.align-center {
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  text-align: right;
  align-self: flex-end;
  margin-left: auto;

  @include rtl {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }
}