/**
 * Component animations
 *
 * Mainly used for tooltips right now
 *
 * We don't use the `.opacity()` mixin here since it causes a bug with text
 * fields in IE7-8. Source: https://github.com/twbs/bootstrap/pull/3552.
 */

.fade {
  opacity: 0;
  @include transition(opacity, 0.5s, $transition-easing);

  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(opacity, 0.5s, $transition-easing);
}
