@if ($k-utilities == true and $k-utility-flag-object != false) or $k-utility-flag-object == true {

  /**
   * Flag object
   */

  .k-flag-object {
    display: flex;
  }

  .k-flag-object__aside {
    flex-shrink: 0;

    @if $k-flexbox-spacing != false {
      + .k-flag-object__body {
        padding-left: $k-flexbox-spacing;
      }
    }
  }

  .k-flag-object__body {
    flex-grow: 1;

    @if $k-flexbox-spacing != false {
      + .k-flag-object__aside {
        padding-left: $k-flexbox-spacing;
      }
    }
  }
}
