/* Custom icon font
   ========================================================================== */

// The placeholders in this file are being replaced with real values by grunt-webfont


// @font-face

@font-face {
  font-family: "k-icons";
  src:    url("#{$icon-path}/k-icons/k-icons.eot");
  src:    url("#{$icon-path}/k-icons/k-icons.eot?#iefix") format("embedded-opentype"),
  url("#{$icon-path}/k-icons/k-icons.woff") format("woff"),
  url("#{$icon-path}/k-icons/k-icons.ttf") format("truetype"),
  url("#{$icon-path}/k-icons/k-icons.svg#k-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


/**
 * Use SVG
 *
 * Always use SVG on touch / mobile
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "k-icons";
    src: url("#{$icon-path}/k-icons/k-icons.svg#k-icons") format("svg");
  }
}


// Placeholder
// To be used in mixins
// Sets all default values for the icons

%icon {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font: {
    style: normal;
    variant: normal;
    weight: normal;
    family: 'k-icons';
  }
  &:before {
    display: inline-block;
    margin: auto;
    width: 1em;
    height: 1em;
    line-height: 1;
  }
}


// Sass icon map
// All the available icons

$icons: (
  account-login: "\f114",
  account-logout: "\f115",
  action-redo: "\f116",
  action-undo: "\f117",
  align-center: "\f118",
  align-left: "\f119",
  align-right: "\f11a",
  aperture: "\f11b",
  arrow-bottom: "\f11c",
  arrow-circle-bottom: "\f11d",
  arrow-circle-left: "\f11e",
  arrow-circle-right: "\f11f",
  arrow-circle-top: "\f120",
  arrow-left: "\f121",
  arrow-right: "\f122",
  arrow-thick-bottom: "\f123",
  arrow-thick-left: "\f124",
  arrow-thick-right: "\f125",
  arrow-thick-top: "\f126",
  arrow-top: "\f127",
  audio-spectrum: "\f128",
  audio: "\f129",
  badge: "\f12a",
  ban: "\f12b",
  bar-chart: "\f12c",
  basket: "\f12d",
  battery-empty: "\f12e",
  battery-full: "\f12f",
  beaker: "\f130",
  bell: "\f131",
  bluetooth: "\f132",
  bold: "\f133",
  bolt: "\f134",
  book: "\f135",
  bookmark: "\f136",
  box: "\f137",
  briefcase: "\f138",
  british-pound: "\f139",
  browser: "\f13a",
  brush: "\f13b",
  bug: "\f13c",
  bullhorn: "\f13d",
  calculator: "\f13e",
  calendar: "\f13f",
  camera-slr: "\f140",
  caret-bottom: "\f141",
  caret-left: "\f142",
  caret-right: "\f143",
  caret-top: "\f144",
  cart: "\f145",
  chat: "\f146",
  check: "\f147",
  chevron-bottom: "\f148",
  chevron-left: "\f149",
  chevron-right: "\f14a",
  chevron-top: "\f14b",
  circle-check: "\f14c",
  circle-x: "\f14d",
  clipboard: "\f14e",
  clock: "\f14f",
  cloud-download: "\f150",
  cloud-upload: "\f151",
  cloud: "\f152",
  cloudy: "\f153",
  code: "\f154",
  cog: "\f155",
  collapse-down: "\f156",
  collapse-left: "\f157",
  collapse-right: "\f158",
  collapse-up: "\f159",
  command: "\f15a",
  comment-square: "\f15b",
  compass: "\f15c",
  contrast: "\f15d",
  copywriting: "\f15e",
  credit-card: "\f15f",
  crop: "\f160",
  dashboard: "\f161",
  data-transfer-download: "\f162",
  data-transfer-upload: "\f163",
  delete: "\f164",
  dial: "\f165",
  document: "\f166",
  dollar: "\f167",
  double-quote-sans-left: "\f168",
  double-quote-sans-right: "\f169",
  double-quote-serif-left: "\f16a",
  double-quote-serif-right: "\f16b",
  droplet: "\f16c",
  eject: "\f16d",
  elevator: "\f16e",
  ellipses: "\f16f",
  envelope-closed: "\f170",
  envelope-open: "\f171",
  euro: "\f172",
  excerpt: "\f173",
  expand-down: "\f174",
  expand-left: "\f175",
  expand-right: "\f176",
  expand-up: "\f177",
  external-link: "\f178",
  eye: "\f179",
  eyedropper: "\f17a",
  file: "\f17b",
  fire: "\f17c",
  flag: "\f17d",
  flash: "\f17e",
  folder: "\f17f",
  fork: "\f180",
  fullscreen-enter: "\f181",
  fullscreen-exit: "\f182",
  globe: "\f183",
  graph: "\f184",
  grid-four-up: "\f185",
  grid-three-up: "\f186",
  grid-two-up: "\f187",
  hard-drive: "\f188",
  header: "\f189",
  headphones: "\f18a",
  heart: "\f18b",
  home: "\f18c",
  image: "\f18d",
  inbox: "\f18e",
  infinity: "\f18f",
  info: "\f190",
  italic: "\f191",
  justify-center: "\f192",
  justify-left: "\f193",
  justify-right: "\f194",
  key: "\f195",
  laptop: "\f196",
  layers: "\f197",
  lightbulb: "\f198",
  link-broken: "\f199",
  link-intact: "\f19a",
  list-rich: "\f19b",
  list: "\f19c",
  location: "\f19d",
  lock-locked: "\f19e",
  lock-unlocked: "\f19f",
  loop-circular: "\f1a0",
  loop-square: "\f1a1",
  loop: "\f1a2",
  magnifying-glass: "\f1a3",
  map-marker: "\f1a4",
  map: "\f1a5",
  media-pause: "\f1a6",
  media-play: "\f1a7",
  media-record: "\f1a8",
  media-skip-backward: "\f1a9",
  media-skip-forward: "\f1aa",
  media-step-backward: "\f1ab",
  media-step-forward: "\f1ac",
  media-stop: "\f1ad",
  medical-cross: "\f1ae",
  menu: "\f1af",
  microphone: "\f1b0",
  minus: "\f1b1",
  monitor: "\f1b2",
  moon: "\f1b3",
  move: "\f1b4",
  musical-note: "\f1b5",
  paperclip: "\f1b6",
  pencil: "\f1b7",
  people: "\f1b8",
  person: "\f1b9",
  phone: "\f1ba",
  pie-chart: "\f1bb",
  pin: "\f1bc",
  play-circle: "\f1bd",
  plus: "\f1be",
  power-standby: "\f1bf",
  print: "\f1c0",
  project: "\f1c1",
  pulse: "\f1c2",
  puzzle-piece: "\f1c3",
  question-mark: "\f1c4",
  rain: "\f1c5",
  random: "\f1c6",
  reload: "\f1c7",
  resize-both: "\f1c8",
  resize-height: "\f1c9",
  resize-width: "\f1ca",
  rss-alt: "\f1cb",
  rss: "\f1cc",
  script: "\f1cd",
  share-boxed: "\f1ce",
  share: "\f1cf",
  shield: "\f1d0",
  signal: "\f1d1",
  signpost: "\f1d2",
  sort-ascending: "\f1d3",
  sort-descending: "\f1d4",
  spreadsheet: "\f1d5",
  star: "\f1d6",
  sun: "\f1d7",
  tablet: "\f1d8",
  tag: "\f1d9",
  tags: "\f1da",
  target: "\f1db",
  task: "\f1dc",
  terminal: "\f1dd",
  text: "\f1de",
  thumb-down: "\f1df",
  thumb-up: "\f1e0",
  timer: "\f1e1",
  transfer: "\f1e2",
  trash: "\f1e3",
  underline: "\f1e4",
  vertical-align-bottom: "\f1e5",
  vertical-align-center: "\f1e6",
  vertical-align-top: "\f1e7",
  video: "\f1e8",
  volume-high: "\f1e9",
  volume-low: "\f1ea",
  volume-off: "\f1eb",
  warning: "\f1ec",
  wifi: "\f1ed",
  wrench: "\f1ee",
  x: "\f1ef",
  yen: "\f1f0",
  zoom-in: "\f1f1",
  zoom-out: "\f1f2",
  close: "\f101",
  disabled: "\f102",
  document-archive: "\f103",
  document-audio: "\f104",
  document-default: "\f105",
  document-document: "\f106",
  document-folder: "\f107",
  document-image: "\f108",
  document-pdf: "\f109",
  document-spreadsheet: "\f10a",
  document-video: "\f10b",
  documents: "\f10c",
  enabled: "\f10d",
  filter: "\f10e",
  folder-closed: "\f10f",
  folder-opened: "\f110",
  menu-closed: "\f111",
  menu-opened: "\f112",
  open: "\f113",);


// Test if the list conatins a certain value
@function contains($list, $var) {
  @return (null != index($list, $var));
}

/**
 * Icon classes
 *
 * Creating a class name for each individual icon to be used in markup like:
 * <span class="k-icon-circle"></span>
 */

@each $name, $icon in $icons {
  .k-icon-#{$name} {
    @extend %icon;
    &:before {
      content: "#{$icon}";

      @if contains($rtlicons, $name) {
        @include rtl {
          @include flip-item;
        }
      }
    }
  }
}


// 'Icon before' mixin
// For adding icons to elements using CSS pseudo-elements

@mixin icon-before($icon: false, $styles: false) {
  &:before {
    @if $icon {
      content: "#{map-get($icons, $icon)}";

      @if contains($rtlicons, $icon) {
        @include rtl {
          @include flip-item;
        }
      }
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}


// 'Icon after' mixin
// For adding icons to elements using CSS pseudo-elements

@mixin icon-after($icon: false, $styles: false) {
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";

      @if contains($rtlicons, $icon) {
        @include rtl {
          @include flip-item;
        }
      }
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}
