@if ($k-utilities == true and $k-utility-no-margin != false) or $k-utility-no-margin == true {

  /* No margin
     ========================================================================== */

  .k-no-margin.k-no-margin.k-no-margin {
    margin: 0;
  }

  .k-no-margin-horizontal.k-no-margin-horizontal.k-no-margin-horizontal {
    margin-right: 0;
    margin-left: 0;
  }

  .k-no-margin-vertical.k-no-margin-vertical.k-no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
  }

  .k-no-margin-top.k-no-margin-top.k-no-margin-top {
    margin-top: 0;
  }

  .k-no-margin-bottom.k-no-margin-bottom.k-no-margin-bottom {
    margin-bottom: 0;
  }

  @at-root html:not([dir=rtl]) {
    .k-no-margin-right.k-no-margin-right.k-no-margin-right {
      margin-right: 0;
    }
  }

  @include rtl {
    .k-no-margin-right.k-no-margin-right.k-no-margin-right {
      margin-left: 0;
    }
  }

  @at-root html:not([dir=rtl]) {
    .k-no-margin-left.k-no-margin-left.k-no-margin-left {
      margin-left: 0;
    }
  }

  @include rtl {
    .k-no-margin-left.k-no-margin-left.k-no-margin-left {
      margin-right: 0;
    }
  }

}
