@if ($k-utilities == true and $k-utility-unresponsive != false) or $k-utility-unresponsive == true {

  /* When dragging make sure nothing gets selected */

  &.is-unresponsive {
    &,
    *:not(.k-pane-resizer) {
      pointer-events: none;
      user-select: none;
      user-focus: none;
    }
  }
}
