// Building the UI
//
// By default everything is enabled
// Disable entire groups by setting `$k-molecules: false` for example
// Disable individual molecules by setting `$k-molecule-alert: false' for example
// Enable individual molecules by setting `$k-molecules: false` and `$k-molecule-alert: true' for example

$k-utilities:                   true !default;
$k-utilities-box-sizing:        inherit !default;
$k-utilities-animations:        inherit !default;
$k-utilities-hamburger:         inherit !default;
$k-utilities-icons:             inherit !default;
$k-utilities-normalize:         inherit !default;
$k-utilities-utilities:         inherit !default;

$k-layout:                      true !default;
$k-layout-component:            inherit !default;
$k-layout-component-wrapper:    inherit !default;
$k-layout-content:              inherit !default;
$k-layout-content-wrapper:      inherit !default;
$k-layout-flex-wrapper:         inherit !default;
$k-layout-grid:                 inherit !default;
$k-layout-koowa-container:      inherit !default;
$k-layout-sidebar:              inherit !default;
$k-layout-wrapper:              inherit !default;

$k-atoms:                       true !default;
$k-atom-a:                      inherit !default;
$k-atom-body:                   inherit !default;
$k-atom-dl:                     inherit !default;
$k-atom-fieldset:               inherit !default;
$k-atom-html:                   inherit !default;
$k-atom-img:                    inherit !default;
$k-atom-input:                  inherit !default;
$k-atom-label:                  inherit !default;
$k-atom-legend:                 inherit !default;
$k-atom-p:                      inherit !default;
$k-atom-ul-ol-li:               inherit !default;

$k-molecules:                   true !default;
$k-molecule-alert:              inherit !default;
$k-molecule-breadcrumb:         inherit !default;
$k-molecule-buttons:            inherit !default;
$k-molecule-card:               inherit !default;
$k-molecule-datepicker:         inherit !default;
$k-molecule-dropdowns:          inherit !default;
$k-molecule-empty-state:        inherit !default;
$k-molecule-form-block:         inherit !default;
$k-molecule-forms:              inherit !default;
$k-molecule-gallery:            inherit !default;
$k-molecule-heading:            inherit !default;
$k-molecule-icons:              inherit !default;
$k-molecule-list:               inherit !default;
$k-molecule-login:              inherit !default;
$k-molecule-modal:              inherit !default;
$k-molecule-navigation:         inherit !default;
$k-molecule-optionlist:         inherit !default;
$k-molecule-pagination:         inherit !default;
$k-molecule-responsive-table:   inherit !default;
$k-molecule-scopebar:           inherit !default;
$k-molecule-select2:            inherit !default;
$k-molecule-sidebar-item:       inherit !default;
$k-molecule-styled-file-input:  inherit !default;
$k-molecule-table:              inherit !default;
$k-molecule-tabs:               inherit !default;
$k-molecule-title-bar:          inherit !default;
$k-molecule-toolbar:            inherit !default;
$k-molecule-tooltip:            inherit !default;
$k-molecule-top:                inherit !default;
$k-molecule-tree:               inherit !default;
$k-molecule-wells:              inherit !default;

$k-vendor:                      true !default;
$k-vendor-select2:              inherit !default;



// Breakpoints
// ==========================================================================
//
// Only work with either
// - (min-width)
// - (min-width) and (max-width)
//
// Never use (max-width) alone since that is not mobile-first
//
// 1. The min width of the interface. Will create a horizontal scrollbar.
//    This way we have a base width to work from regarding styling items next to each other
// 2. Separate $k-desktop variable is being used so all styles
//    change together when going from small to larger screen.

$k-alpha:     400px !default;
$k-beta:      600px !default;
$k-charlie:   768px !default;
$k-delta:     1024px !default;
$k-echo:      1200px !default;

$k-minwidth:  $k-alpha !default; // 1
$k-desktop:   $k-charlie !default; // 2


// Typography
// ==========================================================================
//
// 1. Borrowed font-stack from WordPress
//    - https://make.wordpress.org/core/2016/07/07/native-fonts-in-4-6/

$k-font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

$k-font-size:               13px !default;
$k-line-height:             20px !default;

$k-font-size-tiny:          8px !default;
$k-line-height-tiny:        12px !default;

$k-font-size-small:         11px !default;
$k-line-height-small:       16px !default;

$k-font-size-large:         17px !default;
$k-line-height-large:       24px !default;

$k-font-size-huge:          21px !default;
$k-line-height-huge:        28px !default;

$k-font-weight-bold:        700 !default;
$k-font-weight-normal:      400 !default;

$k-webkit-font-smoothing:   antialiased !default;
$k-firefox-font-smoothing:  grayscale !default;


// Spacing
// ==========================================================================
//
// can either be used as a padding or a margin on elements

$k-spacing-tiny:              4px !default;
$k-spacing-small:             8px !default;
$k-spacing-min:               12px !default;
$k-spacing:                   16px !default;
$k-spacing-medium:            $k-spacing !default;
$k-spacing-large:             24px !default;
$k-spacing-huge:              32px !default;

$k-spacing-base-vertical:     6px !default;
$k-spacing-base-horizontal:   12px !default;

$k-spacing-tiny-vertical:     2px !default;
$k-spacing-tiny-horizontal:   4px !default;

$k-spacing-small-vertical:    4px !default;
$k-spacing-small-horizontal:  8px !default;

$k-spacing-large-vertical:    8px !default;
$k-spacing-large-horizontal:  16px !default;


// Unit
// ==========================================================================
//
// Basic unit for elements heights to try and keep a nice vertical rhytm in 4px grid

$k-unit-size:             40px !default;

$k-border-radius:         4px !default;
$k-border-radius-large:   6px !default;
$k-border-radius-small:   3px !default;

$k-icon-size-tiny:        10px !default;
$k-icon-size-small:       13px !default;
$k-icon-size:             16px !default;
$k-icon-size-medium:      24px !default;
$k-icon-size-large:       32px !default;
$k-icon-size-xlarge:      48px !default;
$k-icon-size-huge:        64px !default;


// Elements
// ==========================================================================

$k-element-tiny-size:     20px !default;
$k-element-small-size:    28px !default;
$k-element-medium-size:   32px !default;
$k-element-large-size:    40px !default;
$k-element-huge-size:     48px !default;


// Function variables
// ==========================================================================
//
// These are used by our light, lighter, lightest, dark, darker and darkest functions
// This way we can change the amounts all in one.
// Overwrite-able per function call

$k-light-percentage:      3% !default;
$k-lighter-percentage:    7% !default;
$k-lightest-percentage:   12% !default;

$k-dark-percentage:       3% !default;
$k-darker-percentage:     7% !default;
$k-darkest-percentage:    12% !default;


// Helpers
// ==========================================================================

$k-cursor-disabled:           not-allowed !default;

$k-zindex-dropdown:           1000 !default;
$k-zindex-tooltip:            1070 !default;

$k-transition-duration:       180ms !default;
$k-transition-easing:         cubic-bezier(0.2, 0.57, 0.44, 0.83) !default;
$k-transition:                all $k-transition-duration $k-transition-easing !default;

$k-active-class:              '.k-is-active' !default;
$k-disabled-class:            '.k-is-disabled' !default;

$k-optionlist-class:          '.k-optionlist' !default;
$k-optionlist-content-class:  '.k-optionlist__content' !default;
$k-optionlist-focus-class:    '.k-optionlist__focus' !default;
$k-optionlist-boolean-class:  '.k-optionlist--boolean' !default;
$k-optionlist-block-class:    '.k-optionlist--block' !default;

$k-opacity-off:               0.33 !default;
$k-opacity-hover:             0.66 !default;
$k-opacity-on:                1 !default;


// Colors
// ==========================================================================

$k-color-primary:         #e1e1e1 !default;

$k-color-primary-plus-1:  lighten($k-color-primary, 2%) !default;
$k-color-primary-plus-2:  lighten($k-color-primary, 5%) !default;
$k-color-primary-plus-3:  lighten($k-color-primary, 6%) !default;
$k-color-primary-plus-4:  lighten($k-color-primary, 7%) !default;
$k-color-primary-plus-5:  lighten($k-color-primary, 10%) !default;
$k-color-primary-plus-6:  lighten($k-color-primary, 12%) !default;

$k-color-primary-min-1:   darken($k-color-primary, 2%) !default;
$k-color-primary-min-2:   darken($k-color-primary, 8%) !default;
$k-color-primary-min-3:   darken($k-color-primary, 28%) !default;
$k-color-primary-min-4:   darken($k-color-primary, 41%) !default;
$k-color-primary-min-5:   darken($k-color-primary, 55%) !default;
$k-color-primary-min-6:   darken($k-color-primary, 68%) !default;
$k-color-primary-min-7:   darken($k-color-primary, 75%) !default;


// Type

$k-color-type:            #222222 !default;
$k-color-type-lighter:    #444444 !default;
$k-color-type-light:      lighten($k-color-type, 50%) !default;


// Base color

$k-color-base:            #2c3e50 !default;
$k-color-base-type:       white !default;


// Accent color

$k-color-accent:          #3071a9 !default;
$k-color-accent-type:     white !default;


// States

$k-color-success:         #27ae60 !default;
$k-color-success-type:    white !default;

$k-color-error:           #c0392b !default;
$k-color-error-type:      white !default;

$k-color-neutral:         #3498db !default;
$k-color-neutral-type:    white !default;

$k-color-warning:         #e67e22 !default;
$k-color-warning-type:    white !default;


// Elements

$k-color-button:          white !default;
$k-color-forms:           white !default;
$k-color-forms-disabled:  #ddd !default;


// Links
// ==========================================================================

$k-link-color: $k-color-type !default;


// Border
// ==========================================================================
//
// Set borders to false if you don't want any borders in your theme
// You can override borders in each separate module

$k-borders:       true !default;
$k-border-color:  false !default;
$k-border-width:  1px !default;
$k-border-style:  solid !default;


// Koowa
// ==========================================================================

$k-koowa-background:  white !default;
$k-koowa-padding:     0 !default;


// Login
// ==========================================================================

$k-login-container-background:  $k-color-base !default;
$k-login-container-color:       $k-color-base-type !default;
$k-login-container-spacing:     $k-spacing !default;

$k-login-width:                 360px !default;
$k-login-radius:                $k-border-radius !default;
$k-login-background:            white !default;
$k-login-color:                 $k-color-type !default;
$k-login-font-size:             $k-font-size-large !default;
$k-login-spacing:               $k-spacing !default;
$k-login-shadow:                0 6px 0 -4px rgba(0,0,0,.3) !default;


// Topbar
// ==========================================================================

$k-top-container-z-index:                             11 !default;
$k-top-container-size:                                $k-element-huge-size !default;
$k-top-container-width:                               276px !default;
$k-top-container-box-shadow:                          inset 5px 5px 5px rgba(black, 0.1) !default;
$k-top-container-breakpoint:                          $k-charlie !default;
$k-top-container-background:                          $k-color-base !default;
$k-top-container-color:                               $k-color-base-type !default;
$k-top-container-font-size:                           $k-font-size-large !default;
$k-top-container-line-height:                         $k-line-height-large !default;
$k-top-container-spacing:                             $k-spacing-min !default;

$k-top-container-navigation-item-line-height:         $k-element-large-size !default;
$k-top-container-navigation-item-border:              1px solid rgba(white, 0.15) !default;
$k-top-container-navigation-item-spacing:             0 $k-spacing !default;
$k-top-container-navigation-item-spacing-breakpoint:  0 $k-spacing-min !default;
$k-top-container-navigation-item-spacing-delta:       0 $k-spacing-min !default;


// Content
// ==========================================================================

$k-content-background:   white !default;
$k-content-border:       darkest($k-content-background) !default;


// Title-bar
// ==========================================================================

$k-title-bar-background:          $k-color-primary-plus-3 !default;
$k-title-bar-border:              darkest($k-title-bar-background) !default;
$k-title-bar-color:               $k-color-type !default;
$k-title-bar-font-size:           $k-font-size-huge !default;
$k-title-bar-z-index:             10 !default;
$k-title-bar-spacing:             $k-spacing-small !default;

$k-title-bar-mobile-background:   $k-color-primary !default;
$k-title-bar-mobile-border:       darkest($k-title-bar-mobile-background) !default;


// Toolbar
// ==========================================================================

$k-toolbar-spacing:         $k-spacing-small !default;
$k-toolbar-height:          $k-unit-size !default;
$k-toolbar-button-height:   $k-unit-size - $k-toolbar-spacing !default;
$k-toolbar-background:      $k-color-primary-plus-3 !default;
$k-toolbar-border:          darkest($k-toolbar-background) !default;
$k-toolbar-color:           $k-color-type !default;


// Sidebar
// ==========================================================================
//
// 1. Sidebar width on smaller screens
// 2. Sidebar width when screen is "$k-desktop"

$k-sidebar-left-width-small:    208px !default; // 1
$k-sidebar-left-width:          272px !default; // 2
$k-sidebar-left-querie-width:   $k-charlie !default; // 2

$k-sidebar-right-width-small:   208px !default; // 1
$k-sidebar-right-width:         272px !default; // 2
$k-sidebar-right-querie-width:  $k-beta !default; // 2

$k-sidebar-background:          $k-color-primary-plus-2 !default;
$k-sidebar-border:              darkest($k-sidebar-background) !default;
$k-sidebar-color:               $k-color-type !default;


// Sidebar item
// ==========================================================================

$k-sidebar-item-spacing:                $k-spacing !default;
$k-sidebar-item-flex-min-height:        96px !default;

$k-sidebar-item-toggle-background:      white !default;
$k-sidebar-item-toggle-border:          1px solid #ddd !default;
$k-sidebar-item-toggle-size:            20px !default;
$k-sidebar-item-toggle-radius:          $k-sidebar-item-toggle-size / 2 !default;
$k-sidebar-item-toggle-font-size:       $k-font-size-tiny !default;
$k-sidebar-item-toggle-line-height:     $k-sidebar-item-toggle-size - 2px !default;

$k-sidebar-item-header-font-size:       $k-font-size-small !default;
$k-sidebar-item-header-line-height:     $k-line-height-large !default;
$k-sidebar-item-header-font-weight:     $k-font-weight-bold !default;
$k-sidebar-item-header-text-transform:  uppercase !default;

$k-sidebar-item-small-spacing:          $k-spacing-small $k-sidebar-item-spacing !default;
$k-sidebar-item-horizontal-spacing:     0 $k-sidebar-item-spacing !default;


// Navigation
// ==========================================================================

$k-navigation-spacing:            $k-spacing-small !default;
$k-navigation-font-size:          $k-font-size-large !default;
$k-navigation-line-height:        $k-line-height-small !default;

$k-navigation-background:         $k-color-primary-plus-1 !default;
$k-navigation-border:             darkest($k-navigation-background) !default;
$k-navigation-border-width:       5px !default;
$k-navigation-color:              $k-color-type !default;

$k-navigation-hover-background:   lighter($k-navigation-background) !default;
$k-navigation-hover-border:       $k-color-accent !default;
$k-navigation-hover-color:        $k-color-type !default;

$k-navigation-active-background:  $k-navigation-background !default;
$k-navigation-active-border:      $k-color-accent !default;
$k-navigation-active-color:       $k-color-accent !default;
$k-navigation-active-font-weight: $k-font-weight-bold !default;


// List
// ==========================================================================

$k-list-spacing:                  $k-spacing-tiny !default;

$k-list-item-line-height:         $k-line-height !default;

$k-list-link-spacing:             $k-spacing-small $k-spacing !default;
$k-list-link-color:               $k-sidebar-color !default;

$k-list-link-hover-background:    lighter($k-sidebar-background) !default;
$k-list-link-hover-color:         $k-color-type !default;

$k-list-link-active-background:   $k-sidebar-background !default;
$k-list-link-active-color:        $k-color-type !default;
$k-list-link-active-font-weight:  $k-font-weight-bold !default;

$k-list-icon-spacing:             $k-spacing-small !default;


// Tree
// ==========================================================================

$k-tree-spacing:                    $k-list-spacing !default;
$k-tree-size:                       $k-element-small-size !default;
$k-tree-element-spacing-start:      $k-spacing !default;
$k-tree-element-spacing-end:        $k-spacing-tiny !default;
$k-tree-element-hover-background:   lighter($k-sidebar-background) !default;
$k-tree-selected-background:        $k-color-accent !default;
$k-tree-selected-color:             $k-color-accent-type !default;
$k-tree-selected-font-weight:       $k-font-weight-bold !default;
$k-tree-toggle-size:                ceil($k-tree-size / 8) !default;


// Breadcrumbs
// ==========================================================================
//
// 1. Height of each breadcrumb item
// 2. The width when showing all breadcrumbs instead of only first and last
// 3. On mobile we don't show all breadcrumb items
// 4. The content of the divider
// 5. The width of dividers between breadcrumb items

$k-breadcrumb-size:               $k-unit-size !default; // 1
$k-breadcrumb-query:              $k-charlie !default; // 2
$k-breadcrumb-missing-content:    "…" !default; // 3
$k-breadcrumb-divider-content:    "»" !default; // 4
$k-breadcrumb-divider-size:       round($k-breadcrumb-size / 2) !default; // 5

$k-breadcrumb-background:         $k-color-primary-plus-4 !default;
$k-breadcrumb-border:             darkest($k-breadcrumb-background) !default;
$k-breadcrumb-color:              $k-color-type !default;
$k-breadcrumb-active-weight:      $k-font-weight-bold !default;

$k-breadcrumb-hover-background:   darker($k-breadcrumb-background) !default;


// Scopebar
// ==========================================================================
//
// 1. Height of the scopebar

$k-scopebar-size:                           $k-unit-size !default; // 1

$k-scopebar-background:                     $k-color-primary-plus-4 !default;
$k-scopebar-border:                         darkest($k-scopebar-background) !default;
$k-scopebar-color:                          $k-color-type !default;

$k-scopebar-search-background:              $k-color-forms !default;
$k-scopebar-search-color:                   $k-color-type !default;

$k-scopebar-filter-font-size:               $k-font-size !default;

$k-scopebar-search-size-delta:              $k-font-size * 17 !default;
$k-scopebar-search-size-echo:               $k-font-size * 22 !default;

$k-scopebar-submit-button-spacing:          $k-font-size * 2 !default;
$k-scopebar-submit-button-size:             $k-font-size !default;

$k-scopebar-empty-button-spacing:           round($k-font-size * 1.5) !default;
$k-scopebar-empty-button-size:              round($k-font-size * 0.75) !default;

$k-scopebar-filter-label-size:              round($k-font-size * 1.2) !default;
$k-scopebar-filter-label-background:        $k-color-error !default;
$k-scopebar-filter-label-color:             $k-color-error-type !default;
$k-scopebar-filter-label-font-size:         $k-font-size-small !default;

$k-scopebar-buttons-spacing:                $k-spacing-tiny !default;


// Dropdowns
// ==========================================================================

$k-dropdown-background:                 $k-color-primary-plus-6 !default;
$k-dropdown-border:                     darkest($k-dropdown-background) !default;
$k-dropdown-color:                      $k-color-type !default;

$k-dropdown-buttons-background:         $k-color-primary-plus-5 !default;
$k-dropdown-buttons-border:             darkest($k-dropdown-background) !default;
$k-dropdown-buttons-color:              $k-color-type !default;

$k-scopebar-buttons-hover-background:   darker($k-dropdown-buttons-background) !default;


// Table
// ==========================================================================
//
// 1. Height of the table cells
// 2. Table cell padding

$k-table-cell-size:                       $k-unit-size !default; // 1
$k-table-cell-spacing-vertical:           $k-spacing-base-vertical !default; // 2
$k-table-cell-spacing-horizontal:         $k-spacing-small-horizontal !default; // 2
$k-table-cell-align:                      left !default; // 2
$k-table-cell-align-rtl:                  right !default; // 2
$k-table-cell-vertical-align:             middle !default; // 2
$k-table-cell-icon-size:                  $k-icon-size !default;

$k-table-background:                      $k-color-primary-plus-6 !default;

$k-table-header-background:               $k-color-primary-plus-5 !default;
$k-table-header-border:                   darkest($k-table-header-background) !default;
$k-table-header-color:                    $k-color-type !default;
$k-table-header-hover-background:         $k-color-primary-plus-4 !default;
$k-table-header-font-weight:              $k-font-weight-normal !default;

$k-table-cell-background-even:            $k-color-primary-plus-6 !default;
$k-table-cell-background-odd:             $k-color-primary-plus-6 !default;
$k-table-cell-color:                      $k-color-type !default;

$k-table-cell-hover-background-even:      $k-color-primary-plus-5 !default;
$k-table-cell-hover-background-odd:       $k-color-primary-plus-5 !default;
$k-table-cell-border:                     darker($k-table-cell-background-odd) !default;

$k-table-cell-accent-background:          $k-color-accent !default;
$k-table-cell-accent-color:               $k-color-accent-type !default;

$k-table-cell-accent-hover-background:    darken($k-color-accent,10%) !default;

$k-table-cell-small-font-size:            $k-font-size-small !default;
$k-table-cell-small-line-height:          $k-line-height-small !default;

$k-table-row-positioner-size:             16px !default;
$k-table-row-positioner-color:            $k-color-primary-min-2 !default;

$k-table-item-state-pending:              $k-color-warning !default;
$k-table-item-state-expired:              $k-color-neutral !default;
$k-table-item-state-unpublished:          $k-color-error !default;
$k-table-item-state-published:            $k-color-success !default;

$k-table-sub-header-spacing:              0.7em $k-table-cell-spacing-horizontal 0.5em !default;
$k-table-sub-header-font-size:            $k-font-size-small !default;
$k-table-sub-header-line-height:          $k-line-height-small !default;
$k-table-sub-header-weight:               $k-font-weight-bold !default;
$k-table-sub-header-background:           $k-table-header-background !default;
$k-table-sub-header-border:               $k-table-cell-border !default;

$k-table-item-level-size:                 6px !default;
$k-table-item-level-border:               1px solid #bbb !default;
$k-table-item-level-spacer:               24px !default;
$k-table-item-level-icon-size:            $k-icon-size !default;
$k-table-item-level-icon-spacing:         $k-spacing-tiny !default;

$k-table-sorting-spacing:                 0.66em !default;
$k-table-sorting-width:                   6px !default;
$k-table-sorting-height:                  3px !default;
$k-table-sorting-opacity-off:             $k-opacity-off !default;
$k-table-sorting-opacity-hover:           $k-opacity-hover !default;
$k-table-sorting-opacity-on:              $k-opacity-on !default;


// Table pagination
// ==========================================================================

$k-table-pagination-height:               ($k-line-height + ($k-spacing-base-vertical * 2)) !default;
$k-table-pagination-spacing:              $k-spacing-small !default;
$k-table-pagination-background:           $k-table-header-background !default;
$k-table-pagination-border:               $k-table-header-border !default;


// Footable
// ==========================================================================

$k-table-responsive-toggle-size:          20px !default;
$k-table-responsive-toggle-color:         $k-color-type-light !default;
$k-table-responsive-toggle-color-active:  $k-table-cell-accent-color !default;
$k-table-responsive-toggle-border-size:   1px !default;
$k-table-responsive-toggle-icon-size:     10px !default;
$k-table-responsive-toggle-line-height:   1.3em !default;
$k-table-responsive-detail-weight:        $k-font-weight-bold !default;
$k-table-responsive-detail-spacing:       $k-table-cell-spacing-vertical $k-table-cell-spacing-horizontal !default;
$k-table-responsive-detail-min-height:    round($k-unit-size * 0.75) !default;


// Component layout
// ==========================================================================

$k-component-background: $k-color-primary-plus-5 !default;


// Form block
// ==========================================================================

$k-form-block-background:         $k-color-primary-plus-6 !default;
$k-form-block-border:             darkest($k-form-block-background) !default;

$k-form-block-header-spacing:     $k-spacing-small $k-spacing-small ($k-spacing-small - 1px) !default;
$k-form-block-header-background:  $k-color-primary-plus-4 !default;
$k-form-block-header-border:      darkest($k-form-block-header-background) !default;
$k-form-block-header-font-weight: $k-font-weight-bold !default;

$k-form-block-content-spacing:    ($k-spacing-small - 1px) $k-spacing-small !default;


// Offcanvas container
// ==========================================================================
//
// 1. The hamburger bar width, best to use a number dividable by 5
// 2. The height is automatically calculated
// 3. The information bar width, best to use a number dividable by 5
// 4. The height is automatically calculated

$k-off-canvas-overlay-background:   black !default;
$k-off-canvas-overlay-opacity:      0.75 !default;
$k-toggle-button-size:              32px !default;
$k-toggle-button-background:        $k-color-accent !default;
$k-toggle-button-color:             white !default;
$k-toggle-button-radius:            3px !default;
$k-hamburger-bar-width:             15px !default; // 1
$k-hamburger-bar-height:            round($k-hamburger-bar-width / 5) !default; // 2
$k-info-bar-width:                  5px !default; // 3
$k-info-bar-height:                 $k-info-bar-width * 2 !default; // 4


// Form styles
// ==========================================================================

$k-form-option-size:          16px !default;
$k-form-option-background:    white !default;
$k-form-option-border:        $k-color-primary-min-3 !default;
$k-form-option-border-size:   1px !default;
$k-form-option-color:         $k-color-accent !default;
$k-form-option-shadow:        inset 0 1px 2px rgba(0, 0, 0, 0.15) !default;


// Styled file input
// ==========================================================================

$k-styled-file-input-fallback-font-size:    $k-font-size !default;
$k-styled-file-input-fallback-line-height:  $k-line-height !default;
$k-styled-file-input-font-weight:           $k-font-weight-normal !default;
$k-styled-file-input-cursor:                pointer !default;
$k-styled-file-input-fallback-color:        $k-color-accent !default;
$k-styled-file-input-background:            $k-color-accent !default;
$k-styled-file-input-color:                 $k-color-accent-type !default;
$k-styled-file-input-radius:                $k-border-radius-large !default;
$k-styled-file-input-font-size:             $k-font-size-large !default;
$k-styled-file-input-line-height:           $k-line-height-large !default;
$k-styled-file-input-spacing:               $k-spacing-large-vertical $k-spacing-large-horizontal !default;


// Empty state
// ==========================================================================

$k-empty-state-background:    white !default;
$k-empty-state-color:         $k-color-type !default;
$k-empty-state-spacing:       $k-spacing !default;
$k-empty-state-font-size:     $k-font-size-large !default;
$k-empty-state-line-height:   $k-line-height-large !default;
$k-empty-state-align:         center !default;


// Grid
// ==========================================================================

$k-grid-itemWidth:  $k-font-size * 12 !default;
$k-grid-spacing:    $k-font-size-large !default;
$k-grid-width:      2560px !default;


// Tabs
// ==========================================================================

$k-tabs-link-spacing:                     $k-spacing-small $k-spacing ($k-spacing-small - 2px) !default;

$k-tabs-wrapper-height:                   $k-spacing-large * 2 !default;

$k-tabs-link-hover-background:            $k-color-primary-plus-2 !default;

$k-tabs-disabled-link-color:              $k-color-primary-min-6 !default;
$k-tabs-disabled-link-hover-color:        $k-tabs-disabled-link-color !default;

$k-tabs-border-width:                     1px !default;
$k-tabs-border:                           $k-color-primary-min-1 !default;
$k-tabs-spacing:                          (($k-spacing-large / 2) - 1px) !default;
$k-tabs-link-hover-border:                $k-color-primary-min-1 !default;

$k-tabs-item-spacing:                     2px !default;
$k-tabs-item-border:                      1px solid transparent !default;
$k-tabs-item-font-size:                   $k-font-size !default;
$k-tabs-item-line-height:                 $k-line-height !default;
$k-tabs-item-border-radius:               $k-border-radius $k-border-radius 0 0 !default;
$k-tabs-item-disabled-cursor:             $k-cursor-disabled !default;

$k-tabs-active-link-hover-background:     white !default;
$k-tabs-active-link-hover-color:          $k-color-primary-min-7 !default;
$k-tabs-active-link-hover-border:         $k-color-primary-min-1 !default;

$k-tabs-overflow-button-width:            32px !default;
$k-tabs-overflow-button-opacity-off:      $k-opacity-off !default;
$k-tabs-overflow-button-opacity-on:       $k-opacity-on !default;
$k-tabs-overflow-button-border:           1px solid $k-tabs-border !default;

$k-tabs-scroller-height:                  $k-tabs-wrapper-height * 1.5 !default;
$k-tabs-scroller-spacing:                 ($k-spacing-large / 2) ($k-spacing / 2) 0 !default;
$k-tabs-scroller-spacing-charlie:         $k-spacing !default;
$k-tabs-scroller-item-active-background:  $k-component-background !default;
$k-tabs-scroller-item-active-color:       $k-color-type !default;


// Buttons
// ==========================================================================

$k-button-font-weight:               $k-font-weight-normal !default;
$k-button-spacer:                    $k-spacing-tiny !default;
$k-button-active-class:              $k-active-class !default;
$k-button-disabled-class:            $k-disabled-class !default;

$k-button-default-color:             $k-color-type !default;
$k-button-default-background:        $k-color-button !default;
$k-button-default-border:            $k-color-primary-min-2 !default;

$k-button-primary-color:             $k-color-accent-type !default;
$k-button-primary-background:        $k-color-accent !default;
$k-button-primary-border:            darken($k-button-primary-background, 5%) !default;

$k-button-success-color:             $k-color-success-type !default;
$k-button-success-background:        $k-color-success !default
$k-button-success-border:            darken($k-button-success-background, 5%) !default;

$k-button-info-color:                $k-color-neutral-type !default;
$k-button-info-background:           $k-color-neutral !default;
$k-button-info-border:               darken($k-button-info-background, 5%) !default;

$k-button-warning-color:             $k-color-warning-type !default;
$k-button-warning-background:        $k-color-warning !default;
$k-button-warning-border:            darken($k-button-warning-background, 5%) !default;

$k-button-danger-color:              $k-color-error-type !default;
$k-button-danger-background:         $k-color-error !default;
$k-button-danger-border:             darken($k-button-danger-background, 5%) !default;

$k-button-link-disabled-color:       $k-color-primary-min-6 !default;

$k-button-border-radius:             $k-border-radius !default;
$k-button-font-size:                 $k-font-size !default;
$k-button-line-height:               $k-line-height - 2px !default;
$k-button-spacing-vertical:          $k-spacing-base-vertical !default;
$k-button-spacing-horizontal:        $k-spacing-base-horizontal !default;

$k-button-tiny-border-radius:        $k-border-radius-small !default;
$k-button-tiny-font-size:            $k-font-size-tiny !default;
$k-button-tiny-line-height:          $k-line-height-tiny !default;
$k-button-tiny-spacing-vertical:     $k-spacing-tiny-vertical + 1px !default;
$k-button-tiny-spacing-horizontal:   $k-spacing-tiny-horizontal !default;

$k-button-small-border-radius:       $k-border-radius-small !default;
$k-button-small-font-size:           $k-font-size-small !default;
$k-button-small-line-height:         $k-line-height-small !default;
$k-button-small-spacing-vertical:    $k-spacing-small-vertical + 1px !default;
$k-button-small-spacing-horizontal:  $k-spacing-small-horizontal !default;

$k-button-large-border-radius:       $k-border-radius-large !default;
$k-button-large-font-size:           $k-font-size-large !default;
$k-button-large-line-height:         $k-line-height-large - 2px !default;
$k-button-large-spacing-vertical:    $k-spacing-large-vertical !default;
$k-button-large-spacing-horizontal:  $k-spacing-large-horizontal !default;


// Heading
// ==========================================================================

$k-heading-font-size:     $k-font-size-huge !default;
$k-heading-line-height:   $k-line-height-huge !default;


// Pagination
// ==========================================================================

$k-pagination-background:         $k-color-accent-type !default;
$k-pagination-border:             $k-color-primary-min-1 !default;
$k-pagination-color:              $k-color-accent !default;
$k-pagination-radius:             $k-border-radius !default;
$k-pagination-spacing:            ($k-spacing-base-vertical - 1px) $k-spacing-base-horizontal !default;
$k-pagination-line-height:        ($k-spacing-base-vertical - 1px) $k-spacing-base-horizontal !default;

$k-pagination-hover-background:   $k-color-primary-plus-2 !default;
$k-pagination-hover-color:        darker($k-color-accent) !default;
$k-pagination-hover-border:       $k-color-primary-min-1 !default;

$k-pagination-active-background:  $k-color-accent !default;
$k-pagination-active-color:       $k-color-accent-type !default;
$k-pagination-active-border:      darker($k-color-accent) !default;




// Tooltips
// ==========================================================================

$k-tooltip-max-width:     264px !default;
$k-tooltip-color:         white !default;
$k-tooltip-background:    black !default;
$k-tooltip-spacing:       $k-spacing-tiny $k-spacing-small !default;
$k-tooltip-align:         center !default;
$k-tooltip-radius:        $k-border-radius !default;
$k-tooltip-font-size:     $k-font-size-small !default;
$k-tooltip-opacity:       0.9 !default;
$k-tooltip-arrow-width:   5px !default;
$k-tooltip-arrow-color:   $k-tooltip-background !default;


// Wells
// ==========================================================================

$k-well-spacing:              $k-spacing-min !default;
$k-well-background:           $k-color-primary-plus-4 !default;
$k-well-border:               darken($k-well-background, 7%) !default;
$k-well-radius:               $k-border-radius !default;
$k-well-box-shadow:           inset 0 1px 1px rgba(0, 0, 0, 0.05) !default;

$k-well-paragraph-spacing:    $k-well-spacing !default;

$k-well-content-spacing:      $k-well-spacing !default;
$k-well-content-background:   white !default;
$k-well-content-border:       1px solid $k-well-border !default;


// Cards
// ==========================================================================

$k-card-background:           $k-color-primary-plus-6 !default;
$k-card-border:               $k-color-primary-min-1 !default;
$k-card-color:                $k-color-type !default;
$k-card-radius:               $k-border-radius !default;
$k-card-spacing:              $k-spacing-small !default;
$k-card-hover-border:         darkest($k-card-border) !default;

$k-card-selected-background:  $k-color-accent !default;
$k-card-selected-border:      $k-color-accent !default;
$k-card-selected-color:       $k-color-accent-type !default;

$k-card-header-background:    $k-color-primary-plus-5 !default;
$k-card-header-border:        $k-color-primary-min-1 !default;
$k-card-header-color:         $k-color-type !default;
$k-card-header-spacing:       $k-card-spacing !default;
$k-card-header-font-weight:   $k-font-weight-bold !default;
$k-card-header-hover-border:  darkest($k-card-header-border) !default;

$k-card-footer-background:    $k-color-primary-plus-5 !default;
$k-card-footer-border:        $k-color-primary-min-1 !default;
$k-card-footer-color:         $k-color-type !default;
$k-card-footer-spacing:       $k-card-spacing !default;
$k-card-footer-hover-border:  darkest($k-card-footer-border) !default;

$k-card-caption-font-weight:  $k-font-weight-normal !default;
$k-card-caption-spacing:      $k-spacing-min $k-spacing-small !default;


// Feedback states
// ==========================================================================

$k-state-success-color:       darker($k-color-success) !default;
$k-state-success-background:  adjust-hue(darken($k-color-success, 40%), 5%) !default;
$k-state-success-border:      darkest($k-color-success) !default;

$k-state-info-color:          darker($k-color-neutral) !default;
$k-state-info-background:     lighten($k-color-neutral, 50%) !default;
$k-state-info-border:         darkest($k-color-neutral) !default;

$k-state-warning-color:       darker($k-color-warning) !default;
$k-state-warning-background:  lighten($k-color-warning, 50%) !default;
$k-state-warning-border:      darkest($k-color-warning) !default;

$k-state-danger-color:        darker($k-color-error) !default;
$k-state-danger-background:   lighten($k-color-error, 50%) !default;
$k-state-danger-border:       darkest($k-color-error) !default;


// Alerts
// ==========================================================================

$k-alert-spacing:             $k-spacing-min !default;
$k-alert-border-radius:       $k-border-radius !default;

$k-alert-success-background:  $k-color-success !default;
$k-alert-success-color:       $k-color-success-type !default;

$k-alert-info-background:     $k-color-neutral !default;
$k-alert-info-color:          $k-color-neutral-type !default;


$k-alert-warning-background:  $k-color-warning !default;
$k-alert-warning-color:       $k-color-warning-type !default;

$k-alert-danger-background:   $k-color-error !default;
$k-alert-danger-color:        $k-color-error-type !default;

$k-alert-overflow-minheight:  $k-unit-size * 2 !default;
$k-alert-overflow-maxheight:  33% !default;


// Dropdowns
// ==========================================================================

$k-dropdown-background:             white !default;
$k-dropdown-border:                 $k-color-primary-min-2 !default;
$k-dropdown-fallback-border:        $k-color-primary-min-2 !default;

$k-dropdown-divider-background:     $k-color-primary-plus-1 !default;

$k-dropdown-link-color:             $k-color-type !default;

$k-dropdown-link-hover-color:       darken($k-dropdown-link-color, 5%) !default;
$k-dropdown-link-hover-background:  $k-color-primary-plus-1 !default;

$k-dropdown-link-active-color:      $k-color-accent-type !default;
$k-dropdown-link-active-background: $k-color-accent !default;

$k-dropdown-link-disabled-color:    $k-color-primary-min-6 !default;

$k-dropdown-header-color:           $k-color-primary-min-6 !default;
$k-dropdown-caret-color:            black !default;

$k-caret-width-base:                4px !default;
$k-caret-width-large:               5px !default;


// Forms
// ==========================================================================

$k-input-background:                $k-color-forms !default;
$k-input-background-disabled:       $k-color-forms-disabled !default;
$k-input-border:                    $k-color-primary-min-2 !default;
$k-input-color:                     $k-color-primary-min-7 !default;

$k-input-border-radius:             $k-border-radius !default;
$k-input-border-radius-large:       $k-border-radius-large !default;
$k-input-border-radius-small:       $k-border-radius-small !default;

$k-input-border-focus:              $k-color-neutral !default;
$k-input-color-placeholder:         $k-color-primary-min-3 !default;

$k-input-group-addon-bg:            $k-color-primary-plus-2 !default;
$k-input-group-addon-border-color:  $k-input-border !default;

$k-input-height-base:               ($k-line-height + ($k-spacing-base-vertical * 2)) !default;
$k-input-height-large:              ($k-line-height-large + ($k-spacing-large-vertical * 2)) !default;
$k-input-height-small:              ($k-line-height + ($k-spacing-small-vertical * 2)) !default;


// Optionlist
// ==========================================================================

$k-optionlist-border:                   1px solid $k-input-border !default;
$k-optionlist-radius:                   $k-input-border-radius !default;
$k-optionlist-background:               $k-input-background !default;
$k-optionlist-spacing:                  1px !default;

$k-optionlist-label-spacing:            floor(($k-input-height-base - $k-font-size - 6px) / 2) 10px !default;
$k-optionlist-label-line-height:        1.25em !default;
$k-optionlist-label-background:         $k-color-neutral !default;
$k-optionlist-label-color:              $k-input-color !default;
$k-optionlist-label-weight:             $k-font-weight-normal !default;
$k-optionlist-label-radius:             $k-input-border-radius - 1px !default;

$k-optionlist-label-focus-color:        $k-color-neutral-type - 1px !default;
$k-optionlist-label-focus-border:       1px solid $k-input-border-focus !default;
$k-optionlist-label-focus-box-shadow:   inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($k-input-border-focus, 0.6) !default;

$k-optionlist-0-color:                  $k-color-error !default;
$k-optionlist-1-color:                  $k-color-success !default;

$k-optionlist-disabled-cursor:          $k-cursor-disabled !default;
$k-optionlist-disabled-active-color:    $k-color-error !default;


// Radio toggle
// ==========================================================================
//
// 1. Use styled radio toggles?
// 2. The color for "false"/0 items
// 3. The color for "true"/1 items
// 4. The color for neutral items

$k-radio-toggle:          true !default; // 1
$k-radio-toggle-0:        $k-color-error !default; // 2
$k-radio-toggle-1:        $k-color-success !default; // 3
$k-radio-toggle-neutral:  $k-color-neutral !default; // 4


// Checkbox toggle
// ==========================================================================
//
// 1. Use styled checkbox toggles?

$k-checkbox-toggle:                 true !default; // 1
$k-checkbox-toggle-size:            32px !default;
$k-checkbox-toggle-border-width:    1px !default;
$k-checkbox-toggle-padding:         1px !default;
$k-checkbox-toggle-border-radius:   6px !default;
$k-checkbox-toggle-width-inner:     ($k-checkbox-toggle-size * 2) - (($k-checkbox-toggle-border-width + $k-checkbox-toggle-padding) * 2) !default;
$k-checkbox-toggle-height-inner:    $k-checkbox-toggle-size - (($k-checkbox-toggle-border-width + $k-checkbox-toggle-padding) * 2) !default;
$k-checkbox-toggle-0:               $k-color-error !default;
$k-checkbox-toggle-1:               $k-color-success !default;
$k-checkbox-toggle-neutral-0:       $k-color-primary-min-1 !default;
$k-checkbox-toggle-neutral-1:       $k-color-neutral !default;


// Loader
// ==========================================================================

$k-loader-size-small:             5px !default;
$k-loader-size-medium:            10px !default;
$k-loader-size-large:             20px !default;
$k-loader-color:                  $k-color-accent !default;
$k-loader-duration:               1.61s !default;

$k-loader-container-background:   white !default;
$k-loader-container-opacity:      0.8 !default;


// Icons
// ==========================================================================

$k-icon-path:                   '../fonts' !default;

$k-icon-color-accent:           $k-color-accent !default;
$k-icon-color-success:          $k-color-success !default;
$k-icon-color-error:            $k-color-error !default;

$k-icon-text-font-size:         inherit!important !default;
$k-icon-text-item-line-height:  $k-line-height !default;
$k-icon-text-item-align:        middle !default;
$k-icon-text-item-spacing:      $k-spacing-tiny !default;

$k-rtlicons:  'account-login',
'account-logout',
'action-redo',
'action-undo',
'align-left',
'align-right',
'arrow-circle-left',
'arrow-circle-right',
'arrow-left',
'arrow-right',
'arrow-thick-left',
'arrow-thick-right',
'bar-chart',
'book',
'browser',
'brush',
'bullhorn',
'calculator',
'calendar',
'caret-left',
'caret-right',
'chevron-left',
'chevron-right',
'collapse-left',
'collapse-right',
'comment-square',
'copywriting',
'delete',
'document',
'double-quote-sans-left',
'double-quote-sans-right',
'double-quote-serif-left',
'double-quote-serif-right',
'expand-left',
'expand-right',
'external-link',
'eyedropper',
'file',
'fire',
'flag',
'folder',
'graph',
'info',
'italic',
'justify-left',
'justify-right',
'key',
'layers',
'link-intact',
'link-broken',
'list-rich',
'list',
'magnifying-glass',
'media-play',
'media-skip-backward',
'media-skip-forward',
'media-step-backward',
'media-step-forward',
'paperclip',
'pencil',
'people',
'pie-chart',
'play-circle',
'project',
'question-mark',
'reload',
'share-boxed',
'share',
'signal',
'sort-ascending',
'sort-descending',
'spreadsheet',
'tag',
'tags',
'video',
'volume-high',
'volume-low',
'volume-off',
'wrench',
'zoom-in',
'zoom-out',
'document-audio',
'document-folder',
'filter',
'folder-closed',
'folder-opened',
'menu-closed',
'menu-opened' !default;


// Overrides for Select2-bootstrap theme
// ==========================================================================

$k-font-family-base:          inherit !default;
$k-font-size-base:            $k-font-size !default;
$k-line-height-base:          $k-line-height !default;

$k-input-bg:                  $k-input-background !default;
$k-input-bg-disabled:         $k-input-background-disabled !default;

$k-padding-base-vertical:     $k-spacing-base-vertical !default;
$k-padding-base-horizontal:   $k-spacing-base-horizontal !default;
$k-padding-small-vertical:    $k-spacing-small-vertical !default;
$k-padding-small-horizontal:  $k-spacing-small-horizontal !default;
$k-padding-large-vertical:    $k-spacing-large-vertical !default;
$k-padding-large-horizontal:  $k-spacing-large-horizontal !default;

$k-dropdown-link-hover-bg:    $k-dropdown-link-hover-background !default;
$k-dropdown-link-active-bg:   $k-dropdown-link-active-background !default;

$k-button-default-bg:            $k-button-default-background !default;
$k-button-danger-bg:             $k-button-danger-background !default;

$k-state-warning-text:        $k-state-warning-color !default;
$k-state-danger-text:         $k-state-danger-color !default;
$k-state-success-text:        $k-state-success-color !default;
