@if ($k-layout == true and $k-layout-component-wrapper != false) or $k-layout-component-wrapper == true {

  /* Component wrapper
     ========================================================================== */

  .k-component-wrapper {
    position: relative;
    background: $k-component-background;

    /**
     * When flexbox is in use
     *
     * 1. Reset width needed for table
     * 2. Set overflow for breadcrumbs to properly work
     */

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;

    /* Hide overtflow when resizing the window */

    @include resizing {
      overflow: hidden;
    }
  }
}
