/* Component wrapper
   ========================================================================== */

/*
Component wrapper

- Use as <b>child</b> of the `.k-content` container only
- Can be preceded by a `.k-title-bar.k-title-bar--mobile` or a `.k-toolbar`
- {unsureText}

markup:
<div class="k-component-wrapper">
    ...
</div><!-- .k-component-wrapper -->

Styleguide 3.6

*/

.k-component-wrapper {
  position: relative;
  background: $k-component-background;

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}
