@if ($k-layout == true and $k-layout-component-wrapper != false) or $k-layout-component-wrapper == true {

  /* Component wrapper
     ========================================================================== */

  .k-component-wrapper {
    position: relative;
    background: $k-component-background;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;

    /* Hide overflow when resizing the window */

    @include resizing {
      overflow: hidden;
    }
  }
}
