@if ($k-layout == true and $k-layout-content-wrapper != false) or $k-layout-content-wrapper == true {

  /* Content wrapper
     ========================================================================== */

  /**
   * 1. Needed to position sidebar properly when off-canvas
   * 2. Clearing toolbar floats when flexbox is not in use
   */

  .k-content-wrapper {
    position: relative; /* 1 */
    clear: both; /* 2 */
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    border-bottom: none;
    min-height: 0;
  }
}
