@if ($k-layout == true and $k-layout-flex-wrapper != false) or $k-layout-flex-wrapper == true {

  /* Flex wrapper
     ========================================================================== */

  .k-flex-wrapper {
    @include reset;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;

    @include resizing {
      overflow: hidden;
    }
  }
}
