@if ($k-layout == true and $k-layout-grid != false) or $k-layout-grid == true {

  /* Container
     ========================================================================== */

  /**
   * 1. For transparent tabs
   */

  .k-container {
    @include clearfix;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    flex: 0 0 auto;
    background-color: inherit; /* 1 */

    /* When resizing */
    @include resizing {
      overflow: hidden;
    }

    & + .k-container {
      .k-container__full,
      .k-container__main,
      .k-container__sub {
        padding-top: 0;
      }
    }
  }


  /* Container children
     ========================================================================== */

  /**
   * Main container
   *
   * 1. For transparent tabs
   */

  .k-container__main {
    padding: $k-spacing;
    background-color: inherit; /* 1 */

    @include breakpoint($k-charlie) {
      float: left;
      width: calc(100% * 8 / 12);

      &:first-child {
        padding-right: ($k-spacing / 2);
      }

      &:last-child:not(:first-child) {
        padding-left: ($k-spacing / 2);
      }

      @include rtl {
        float: right;

        &:first-child {
          padding-left: ($k-spacing / 2);
        }

        &:last-child {
          padding-right: ($k-spacing / 2);
        }
      }
    }
  }


  /**
   * Sub container
   *
   * 1. For transparent tabs
   */

  .k-container__sub {
    padding: $k-spacing;
    background-color: inherit; /* 1 */

    @include breakpoint($k-charlie) {
      float: left;
      width: calc(100% * 4 / 12);

      &:first-child {
        padding-right: ($k-spacing / 2);
      }

      &:last-child:not(:first-child) {
        padding-left: ($k-spacing / 2);
      }

      @include rtl {
        float: right;

        &:first-child {
          padding-left: ($k-spacing / 2);
        }

        &:last-child {
          padding-right: ($k-spacing / 2);
        }
      }
    }
  }


  /**
   * Full container
   */

  .k-container__full {
    clear: both;
    width: auto;
    padding: $k-spacing;
  }


  /**
   * Full container -- spaced top
   *
   * For when using tables inside form and you want table to be attached to the sides
   */

  .k-container__full--spaced-top.k-container__full--spaced-top {
    padding: $k-spacing 0 0;
  }
}
