@if ($k-layout == true and $k-layout-grid != false) or $k-layout-grid == true {

  /* Grid
     ========================================================================== */

  /* Container */

  .k-container {
    @include clearfix;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    flex: 0 0 auto;

    /* When resizing */
    @include resizing {
      overflow: hidden;
    }
  }


  /* --------------------------------------------------------------------------
     Grid children
     -------------------------------------------------------------------------- */

  /* Main container */

  .k-container__main {
    padding: $k-spacing;

    @include breakpoint($k-charlie) {
      float: left;
      width: calc(100% * 8 / 12 - #{$k-spacing * 1.5});

      &:first-child {
        padding-right: ($k-spacing / 2);
      }

      &:last-child {
        padding-left: ($k-spacing / 2);
      }

      @include rtl {
        float: right;

        &:first-child {
          padding-left: ($k-spacing / 2);
        }

        &:last-child {
          padding-right: ($k-spacing / 2);
        }
      }
    }
  }

  /* Sub container */

  .k-container__sub {
    padding: $k-spacing;

    @include breakpoint($k-charlie) {
      float: left;
      width: calc(100% * 4 / 12 - #{$k-spacing * 1.5});

      &:first-child {
        padding-right: ($k-spacing / 2);
      }

      &:last-child {
        padding-left: ($k-spacing / 2);
      }

      @include rtl {
        float: right;

        &:first-child {
          padding-left: ($k-spacing / 2);
        }

        &:last-child {
          padding-right: ($k-spacing / 2);
        }
      }
    }
  }

  /* Full container */

  .k-container__full {
    clear: both;
    width: auto;
    padding: $k-spacing;
  }
}
