/* Grid
   ========================================================================== */

/*
Grid

Fluid grid system
- Has `full`, `main` and `sub` containers
- Main and sub float next to each other
- Main should always come first since the info is more important
- {unsureText}

markup:
<div class="k-container">
    <div class="k-container__full">
        ...
    </div>
    <div class="k-container__main">
        ...
    </div>
    <div class="k-container__sub">
        ...
    </div>
</div><!-- .k-container -->

Styleguide 3.7

*/

/* Container */

.k-container {
  @include clearfix;
  overflow: hidden;
  width: 100%;
  margin: 0 auto (-($spacing));
  padding: $spacing ($spacing / 2);

  /* When flexbox is in use */
  @include flexbox {
    flex: 0 0 auto;
  }

  /* When resizing */
  @include resizing {
    overflow: hidden;
  }
}


/* Flex container */

.k-container--flex {
  margin: 0 auto;
  padding: $spacing;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}


/* --------------------------------------------------------------------------
   Grid children
   -------------------------------------------------------------------------- */

/* Main container */

.k-container__main {
  margin-bottom: $spacing;

  @include breakpoint($charlie) {
    float: left;
    margin: 0 ($spacing / 2) $spacing;
    width: calc(100% * 8/12 - #{$spacing});

    @include rtl {
      float: right;
    }
  }
}


/* When a sidebar is active next to it */

.k-sidebar + .k-content .k-container__main {
  @include breakpoint($charlie) {
    width: 100%;
  }

  @include breakpoint($delta) {
    width: calc(100% * 8/12 - #{$spacing});
    margin-bottom: 0;
  }
}


/* Sub container */

.k-container__sub {
  margin-bottom: $spacing;

  @include breakpoint($charlie) {
    float: left;
    margin: 0 ($spacing / 2) $spacing;
    width: calc(100% * 4/12 - #{$spacing});

    @include rtl {
      float: right;
    }
  }
}


/* When a sidebar is active next to it */

.k-sidebar + .k-content .k-container__sub {
  @include breakpoint($charlie) {
    width: 100%;
  }

  @include breakpoint($delta) {
    width: calc(100% * 4/12 - #{$spacing});
    margin-bottom: 0;
  }
}


/* Full container */

.k-container__full {
  clear: both;
  width: auto;
  margin: 0 ($spacing / 2) $spacing;
}
