/* Sidebar
   ========================================================================== */

/*
Sidebar

Left and right sidebars
- Use `.k-sidebar-left` as <b>first child</b> of the `.k-content-wrapper` container only
- Use `.k-sidebar-right` as <b>last child</b> of the `.k-content-wrapper` container only
- Make sure you <b>Always</b> have a `.k-content` container when a sidebar is used
- {unsureText}

.k-sidebar-left.k-js-sidebar-left - Left sidebar
.k-sidebar-right.k-js-sidebar-right - Right sidebar

markup:
<div class="{$modifiers}">
    ...
</div><!-- .{$modifiers} -->

Styleguide 3.4

*/

/* The left and right sidebar */

.k-sidebar-left,
.k-sidebar-right {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;


  /* When resizing */

  @include resizing {
    overflow: hidden;
  }


  /* Faking flexbox on older browsers by using table styling */

  display: table-cell;
  vertical-align: top;


  /* When JavaScript is enabled */

  @include js-enabled {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    display: none;
  }


  /* When flexbox is in use */

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }


  /**
   * No flex, but rather overflowing sidebar
   * Made for screens between 391px and 550px in height
   * Make sure that categories in the sidebar are always accessible no matter how many menu items you've got
   *
   * 1. Should be the same as in `.k-sidebar-item--flex`
   */

  @media (min-width: $sidebar-left-querie-width) and (min-height: $flexbox-vertical) {
    overflow: auto;
  }

  @media (min-width: $sidebar-left-querie-width) and (min-height: 599px) { /* 1 */
    overflow: hidden;
  }
}

.k-sidebar-left {

  /* Faking flexbox on older browsers by using table styling */

  @include breakpoint($sidebar-left-querie-width) {
    @include allwidth($sidebar-left-width-small);
  }


  /* Larger sidebar when space is available */

  @include breakpoint($delta) {
    @include allwidth($sidebar-left-width);
  }


  /* When JavaScript is enabled */

  @include js-enabled {
    @include allwidth($sidebar-left-width);


    /* On 'desktop' we 'open' the sidebar by default */

    @include breakpoint($sidebar-left-querie-width) {
      position: relative;
      display: table-cell;
      height: auto;
      @include allwidth($sidebar-left-width-small);
      z-index: 1;
    }


    /* And we make it even larger when there's enough space */

    @include breakpoint($delta) {
      @include allwidth($sidebar-left-width);
    }
  }


  /* Override js-enabled beta styling with flexbox */

  @include flexbox {
    @include breakpoint($sidebar-left-querie-width) {
      display: flex;
    }
  }
}

.k-sidebar-right {

  /* Faking flexbox on older browsers by using table styling */

  @include breakpoint($sidebar-right-querie-width) {
    @include allwidth($sidebar-right-width-small);
  }


  /* Larger sidebar when space is available */

  @include breakpoint($sidebar-right-querie-width) {
    @include allwidth($sidebar-right-width);
  }


  /* When JavaScript is enabled */

  @include js-enabled {
    @include allwidth($sidebar-right-width);


    /* On 'desktop' we 'open' the sidebar by default */

    @include breakpoint($sidebar-right-querie-width) {
      position: relative;
      display: table-cell;
      height: auto;
      @include allwidth($sidebar-right-width-small);
      z-index: 1;
    }


    /* And we make it even larger when there's enough space */

    @include breakpoint($delta) {
      @include allwidth($sidebar-right-width);
    }
  }

  /* Override js-enabled beta styling with flexbox */

  @include flexbox {
    @include breakpoint($sidebar-left-querie-width) {
      display: flex;
    }
  }
}


/* Left sidebar specific styling */

.k-sidebar-left {
  @include border(right, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include rtl {
    border-right: none;
    @include border(left, $sidebar-border);
  }

  @include js-enabled {
    left: 0;
  }

  @include js-enabled {
    @include rtl {
      left: auto;
      right: 0;
    }
  }
}


/* When left sidebar is toggled */

.k-is-opened-left {
  .k-sidebar-left {
    display: block;
    z-index: 1;
  }
}


/* Right sidebar specific styling */

.k-sidebar-right {
  @include border(left, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include rtl {
    border-left: none;
    @include border(right, $sidebar-border);
  }

  @include js-enabled {
    right: 0;
  }

  @include js-enabled {
    @include rtl {
      right: auto;
      left: 0;
    }
  }
}


/* When right sidebar is toggled */

.k-is-opened-right {
  .k-sidebar-right {
    display: block;
    z-index: 1;
  }
}
