@if ($k-layout == true and $k-layout-wrapper != false) or $k-layout-wrapper == true {

  /* Wrapper
     ========================================================================== */

  .k-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    backface-visibility: hidden;
    @include transition(transform);
  }

  /**
   * Wrapper when toggled
   *
   * 1. Hide overflowing when menu is toggled
   * 2. Set back to auto when screen is wide enough
   * 3. Hide all overflow when resizing to avoid jumpy layout
   */

  #{$k-left-menu-opened-class},
  #{$k-right-menu-opened-class} {
    overflow: hidden; /* 1 */

    @include breakpoint($k-sidebar-left-querie-width) {
      overflow: auto; /* 2 */
    }

    @include breakpoint($k-sidebar-right-querie-width) {
      overflow: auto; /* 2 */
    }

    @include resizing {
      overflow: hidden; /* 3 */
    }
  }


  /**
   * The overlays
   *
   * 1. Cover the entire container
   * 2. Hide by setting z-index to -1 because item can't transition if display is set from none to block
   * 3. Set opacity to 0 by default
   * 4. Hide overlay when screen is wide enough
   */

  #{$k-top-menu-overlay-class},
  #{$k-left-menu-overlay-class},
  #{$k-right-menu-overlay-class},
  #{$k-subcontent-overlay-class} {
    @include coverall; /* 1 */
    z-index: -1; /* 2 */
    display: block;
    opacity: 0; /* 3 */
    content: " ";
    background: $k-off-canvas-overlay-background;
    backface-visibility: hidden;
    @include transition(opacity);
  }
}
