/*
Component

The component container
- Use as <b>child</b> of the `.k-content` only
- Can be preceded by a `.k-mobile-title` or a `.k-toolbar`
- {unsureText}

markup:
<div class="k-component">
    ...
</div><!-- .k-component -->

Styleguide 3.6

*/

.k-component {
  background: $form-background;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}