/* Flex wrapper
   ========================================================================== */

/*
Flex wrapper

A flex wrapper that can be used on elements that need flexbox
- Only use this class on containers that only contain one child
- This is a shrink and grow container

markup:
<div class="k-flex-wrapper">
    ...
</div><!-- .k-flex-wrapper -->

Styleguide 3.8

*/

.k-flex-wrapper {
  @include reset;

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }

  @include resizing {
    overflow: hidden;
  }
}
