/**
 * Parent container surrounding the toggling table and grid in files view
 */

.k-grid-table-container {
  @include flexbox {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }
}