/* Wrapper
   ========================================================================== */

/*
Wrapper

- Use as <b>child</b> of the `.koowa-container` container only
- Can be preceded by a `.k-menubar`
- {unsureText}

markup:
<div class="k-wrapper k-js-wrapper">
    ...
</div><!-- .k-wrapper -->

Styleguide 3.2

*/


.k-wrapper {
  position: relative;


  /* When flexbox is in use */

  @include flexbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
  }
}


/**
 * Wrapper when toggled
 *
 * 1. Hide overflowing when menu is toggled
 * 2. Set back to auto when screen is wide enough
 * 3. Hide all overflow when resizing to avoid jumpy layout
 */

.k-is-opened-left,
.k-is-opened-right {
  overflow: hidden; /* 1 */

  @include breakpoint($sidebar-left-querie-width) {
    overflow: auto; /* 2 */
  }

  @include breakpoint($sidebar-right-querie-width) {
    overflow: auto; /* 2 */
  }

  @include resizing {
    overflow: hidden; /* 3 */
  }
}
