// Gallery

@mixin gallerySize($size) {
  .k-gallery__items {
    content: "#{$size}";

    @supports (display: grid) {
      grid-template-columns: repeat(auto-fill, minmax(#{$size}, 1fr));
    }
  }

  .k-gallery__item {
    width: $size;

    @supports (display: grid) {
      width: 100%;
      flex-basis: auto;
    }
  }
}
