// Grid

@mixin setGridItemWidth($breakpoint,$columns) {
  @media (min-width: $breakpoint ) {
    width: percentage(1/$columns);
    @content;
  }
}

// Calculate the grid items
@mixin setGridBreakpoint($width: $k-grid-item-width, $spacing: $k-grid-spacing, $gridwidth: $k-grid-width) {

  // Calculating max number
  $k-number: floor($gridwidth / $width);

  // From 2 to 20 columns
  @for $k-i from 2 through $k-number {

    // Calculating breakpoint
    $k-prev-breakpoint-width: (($k-i - 1) * $width) + ($k-i * $spacing);
    $k-breakpoint-width: ($k-i * $width) + (($k-i + 1) * $spacing);
    $k-columns: $k-i;
    $k-breakpoint: $k-breakpoint-width;

    // Setting separate breakpoint for $k-desktop width
    @if ( $k-breakpoint-width > $k-desktop and $k-prev-breakpoint-width < $k-desktop ) {
      $k-breakpoint: $k-desktop;
      $k-columns: floor(($k-desktop - $k-sidebar-left-small-width - $spacing) / ($width + $spacing));
      @include setGridItemWidth($k-breakpoint,$k-columns);
    }

    // All breakpoints above $k-desktop
    @if ( $k-breakpoint-width > $k-desktop and $k-breakpoint-width < $k-delta ) {
      $k-columns: floor(($k-breakpoint-width - $k-sidebar-left-small-width - $spacing) / ($width + $spacing));
      $k-breakpoint: $k-sidebar-left-small-width + (($k-columns * $width) + (($k-columns + 1) * $spacing));
      @if ( $k-breakpoint < $k-desktop ) {
        $k-breakpoint: $k-breakpoint + ($width + $spacing);
      }
    }

    // Setting separate breakpoint for $k-delta width
    @if ( $k-breakpoint-width > $k-delta and $k-prev-breakpoint-width < $k-delta ) {
      $k-breakpoint: $k-delta;
      $k-columns: floor(($k-delta - $k-sidebar-left-width - $spacing) / ($width + $spacing));
      @include setGridItemWidth($k-breakpoint,$k-columns);
    }

    // All breakpoints above $k-delta
    @if ( $k-breakpoint-width > $k-delta ) {
      $k-columns: floor(($k-breakpoint-width - $k-sidebar-left-width - $spacing) / ($width + $spacing));
      $k-breakpoint: $k-sidebar-left-width + (($k-columns * $width) + (($k-columns + 1) * $spacing));
      @if ( $k-breakpoint < $k-delta ) {
        $k-breakpoint: $k-breakpoint + ($width + $spacing);
      }
    }

    // Setting breakpoints
    @include setGridItemWidth($k-breakpoint,$k-columns);
  }
}
