// Graphical pseudo element
// Set element to position relative and add a pseudo element with position absolute and a "content"

@mixin pseudo(
  $pseudo: after,
  $parentposition: true,
  $display: true,
  $position: true,
  $content: true) {

  @if $parentposition == true {
    position: relative;
  }

  &:#{$pseudo} {

    @if $display == true {
      display: block;
    }

    @if $position == true {
      position: absolute;
    }

    @if $content == true {
      content: " ";
    } @else if $content != false {
      content: $content;
    }

    @content;
  }
}
