// Width mixin
// Set all CSS width values to 'X'

@mixin allwidth($width) {
  min-width: $width;
  width: $width;
  max-width: $width;
}


// Height mixin
// Set all CSS height values to 'X'

@mixin allheight($height) {
  min-height: $height;
  height: $height;
  max-height: $height;
}
