/* Alert
   ========================================================================== */

.k-alert {
  padding: $k-site-alert-padding;
  background: $k-site-alert-background;
  color: $k-site-alert-color;
  @include content-block($k-site-alert-spacing);

  h1, h2, h3, h4, h5, h6 {
    @include reset;
    color: inherit;
  }

  .k-alert__heading, address, h1, h2, h3, h4, h5, h6, p {
    @include content-block(0.5em);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}


/**
 * Alternate styles
 */

.k-alert--primary {
  // @TODO: add default color as variable?
  background-color: var(--primary-color);
  color: var(--primary-text-color);

  @supports ((--a: 0)) {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }
}

.k-alert--success {
  background: $k-site-alert-success-background;
  color: $k-site-alert-success-color;
}

.k-alert--warning {
  background: $k-site-alert-warning-background;
  color: $k-site-alert-success-color;
}

.k-alert--error {
  background: $k-site-alert-error-background;
  color: $k-site-alert-success-color;
}
