/* Alerts
   ========================================================================== */

.k-alert {
  padding: $alert-padding;
  border-top: $alert-border-width solid transparent;
  border-bottom: $alert-border-width solid transparent;
  @include content-block($spacer-y);

  address, h1, h2, h3, h4, h5, h6, p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include reset($k-margin: false);
    margin: 0 0 0.5em;
  }

  h1, h2, h3, h4, h5, h6, a {
    color: inherit
  }

  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}


/**
 * Alternate styles
 */

.k-alert--success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.k-alert--info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.k-alert--warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.k-alert--danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
