/* Alerts
   ========================================================================== */

.k-alert {
  padding: $alert-padding;
  margin-bottom: $spacer-y;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
}


/**
 * Alert heading
 *
 * 1. Specified to prevent conflicts of changing $headings-color
 */

.k-alert__heading {
  color: inherit; /* 1 */
}


/**
 * Alert link
 *
 * Provide class for links that match alerts
 */

.k-alert__link {
  font-weight: $alert-link-font-weight;
  color: inherit;
}


/**
 * Alternate styles
 */

.k-alert--success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.k-alert--info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.k-alert--warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.k-alert--danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
