@if ($k-site-molecules == true and $k-site-molecule-button != false) or $k-site-molecule-button == true {

  /* Button
     ========================================================================== */

  .k-button {
    display: $k-site-button-display;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $k-site-button-background;
    border: $k-site-button-border;
    box-shadow: $k-site-button-box-shadow;
    border-radius: $k-site-button-border-radius;
    line-height: $k-site-button-line-height;
    padding: $k-site-button-padding;
    color: $k-site-button-color;
    @include transition(all);


    /* Focus / hover / active */

    &:active,
    &:focus,
    &:hover {
      box-shadow: $k-site-button-hover-box-shadow;
      border: $k-site-button-hover-border;
    }
  }


  /**
   * Alternate styles
   */

  .k-button--primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  .k-button--neutral {
    background: $k-site-button-neutral-background;
    color: $k-site-button-neutral-color;
  }

  .k-button--success {
    background: $k-site-button-success-background;
    color: $k-site-button-success-color;
  }

  .k-button--warning {
    background: $k-site-button-warning-background;
    color: $k-site-button-warning-color;
  }

  .k-button--error {
    background: $k-site-button-error-background;
    color: $k-site-button-error-color;
  }

  .k-button--block {
    display: block;
  }
}
