@if ($k-site-molecules == true and $k-site-molecule-card != false) or $k-site-molecule-card == true {

  /* Card
     ========================================================================== */

  /**
   * Admin card overrides using RGBA to fit template style
   */

  .k-card__body {
    background: $k-site-card-body-background;
    border: $k-site-card-body-border;
    color: $k-site-card-body-color;
  }

  a.k-card__body,
  a.k-card__section {
    &:focus,
    &:hover {
      background: $k-site-card-body-hover-background;
      border-color: $k-site-card-body-hover-border-color;
    }
  }

  .k-card__header {
    background: $k-site-card-header-background;
    border-bottom-color: $k-site-card-header-border-bottom-color;
    color: $k-site-card-header-color;

    &:not(:first-child) {
      border-top: $k-site-card-header-border-top;
    }
  }

  .k-card__footer {
    background: $k-site-card-footer-background;
    color: $k-site-card-footer-color;

    &:not(:first-child) {
      border-top: $k-site-card-footer-border-top;
    }
  }
}
