/**
 * Admin card overrides
 *
 * Use RGBA to fit template style
 */

.k-card__body {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

a.k-card__body,
a.k-card__section {
  &:focus,
  &:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);

    .k-card__header {
      border-color: rgba(0, 0, 0, 0.2);
    }

    .k-card__footer {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.k-card__header {
  background: rgba(0, 0, 0, 0.075);
  color: inherit;

  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.k-card__section {
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.k-card__footer {
  background: rgba(0, 0, 0, 0.075);
  color: inherit;

  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}
