// Variables
// Element querie kicks in at: 00px width (main width + sub width)

$element-querie-main-width-pixels: 400px;
$element-querie-min-width: 200px;
$element-querie-spacing: 20px;
$element-querie-min-width-column: $element-querie-min-width + $element-querie-spacing;
$element-querie-spacing-half: $element-querie-spacing / 2;


/**
 * Element querie parent
 *
 * 1. Hide overflowing negative margin
 * 2. Clear margin on top and bottom
 */

.k-element-querie-parent {
  overflow: hidden; /* 1 */

  &:before, /* 2 */
  &:after { /* 2 */
    display: table;
    content: " ";
    clear: both;
  }
}


/**
 * Element querie
 *
 * 1. Use flexbox for media queries
 * 2. Make sure to wrap elements when there's no space
 * 3. Set a negative margin so we can set positive margins on each separate child
 */

.k-element-querie {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -($element-querie-spacing-half); /* 3 */
}


/**
 * Element querie children
 *
 * 1. Set flexbox so we can flex the content container
 * 2. Grow and shrink container to always fit
 */

.k-element-querie__main,
.k-element-querie__sub {
  display: flex; /* 1 */
  flex-grow: 1; /* 2 */
  flex-shrink: 1; /* 2 */
  overflow: auto;
}


/**
 * Main element
 */

.k-element-querie__main {
  flex-basis: $element-querie-main-width-pixels;
  flex-grow: 5;
}


/**
 * Sub element
 *
 * Set a min-width of sub column width
 */

.k-element-querie__sub {
  flex-basis: $element-querie-min-width-column;
}


/**
 * Content container
 *
 * 1. Fill parent container
 * 2. Set width of 100%
 * 3. Set the padding of items here
 */

.k-element-querie-content {
  flex-grow: 1; /* 1 */
  flex-shrink: 1; /* 1 */
  max-width: 100%; /* 2 */
  width: 100%; /* 2 */
  padding: $element-querie-spacing-half; /* 3 */
}



.k-float-right-element {
  float: right;
  margin-left: 1em;

  @include rtl {
    float: left;
    margin-left: 0;
    margin-right: 1em;
  }
}




.k-max-width-third {
  max-width: 33%;
}


.k-flag-object {
  position: relative;
  display: table;
  width: 100%;
  max-width: 100%;
}

.k-flag-object--inline {
  width: auto;
}

.k-flag-object__body,
.k-flag-object__aside {
  display: table-cell;
  vertical-align: middle;
}

.k-flag-object--top {
  .k-flag-object__body,
  .k-flag-object__aside {
    vertical-align: top;
  }
}

.k-flag-object--bottom {
  .k-flag-object__body,
  .k-flag-object__aside {
    vertical-align: bottom;
  }
}

.k-flag-object__aside {
  white-space: nowrap;
  line-height: 1;

  [class*="k-icon"],
  [class*="k-icon"]:before,
  img {
    display: block;
  }
}

.k-flag-object__aside + .k-flag-object__body {
  padding-left: 0.5em;

  @include rtl {
    padding-left: 0;
    padding-right: 0.5em;
  }
}

.k-flag-object__body + .k-flag-object__aside {
  padding-left: 0.5em;

  @include rtl {
    padding-left: 0;
    padding-right: 0.5em;
  }
}


.k-title {
  @include content-block($section-spacing);
  padding: 1px 0; // Make sure that icons and images do not get cut-off by overflow: hidden
  overflow: hidden; // We need this for the k-link-coverleft to be able to click on icons / images without the need for an extra link
}

.k-subtitle {
  font-size: smaller;
  margin-top: -($section-spacing);
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  @include content-block($section-spacing);
}



.k-inline-list--separated {
  .k-inline-list__item + .k-inline-list__item {
    &:before {
      content: "•";
      padding: 0 0.5em;
    }
  }
}


.k-section {
  @include clearfix;
  @include content-block($section-spacing);
}

.k-float-left {
  float: left;

  @include rtl {
    float: right;
  }
}

.k-float-right {
  float: right;

  @include rtl {
    float: left;
  }
}

.k-thumbnail {
  width: 33%;
  max-width: 240px;
}

.k-wrapped-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.k-link-coverleft {
  @include psuedo(before) {
    width: 240px;
    top: -1em;
    right: 100%;
    bottom: -1em;
    background: transparent;
  }
}


.k-gallery-container,
.k-section,
.k-table,
.k-title,
.k-manage,
.k-pagination,
.k-filters,
.k-subtitle {
  //outline: 1px solid magenta;
}

.k-table-pagination {
  @include content-block($section-spacing);
}

.k-toolbar {
  @include content-block($section-spacing);
  padding: 1em;
  background: rgba(0, 0, 0, 0.033);
  border-bottom: 1px solid rgba(0, 0, 0, 0.088);
}

.k-manage {
  @include content-block($section-spacing);
}
.k-manage__item {
  display: inline-block;
}


.k-title + .k-manage,
.k-subtitle + .k-manage {
  margin-top: -($section-spacing / 2);
}




/**
 * Card overrides
 */

.k-card__body {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

a.k-card__body,
a.k-card__section {
  &:focus,
  &:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);

    .k-card__header {
      border-color: rgba(0, 0, 0, 0.2);
    }

    .k-card__footer {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.k-card__header {
  background: rgba(0, 0, 0, 0.075);
  color: inherit;

  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.k-card__section {
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.k-card__footer {
  background: rgba(0, 0, 0, 0.075);
  color: inherit;

  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}
