/**
 * Flag object
 */

.k-flag-object {
  position: relative;
  display: table;
  width: 100%;
  max-width: 100%;
}

.k-flag-object--inline {
  width: auto;
}

.k-flag-object__body,
.k-flag-object__aside {
  display: table-cell;
  vertical-align: middle;
}

.k-flag-object--top {
  .k-flag-object__body,
  .k-flag-object__aside {
    vertical-align: top;
  }
}

.k-flag-object--bottom {
  .k-flag-object__body,
  .k-flag-object__aside {
    vertical-align: bottom;
  }
}

.k-flag-object__aside {
  white-space: nowrap;
  line-height: 1;

  [class*="k-icon"],
  [class*="k-icon"]:before,
  img {
    display: block;
  }
}

.k-flag-object__aside + .k-flag-object__body {
  padding-left: 0.5em;

  @include rtl {
    padding-left: 0;
    padding-right: 0.5em;
  }
}

.k-flag-object__body + .k-flag-object__aside {
  padding-left: 0.5em;

  @include rtl {
    padding-left: 0;
    padding-right: 0.5em;
  }
}