@if ($k-site-molecules == true and $k-site-molecule-inline-list != false) or $k-site-molecule-inline-list == true {

  /* Inline list
     ========================================================================== */

  .k-inline-list {
    @include reset;

    .k-inline-list__item {
      display: $k-site-inline-list-item-display;

      &:after {
        content: $k-site-inline-list-item-pseudo-content;
        padding: $k-site-inline-list-item-pseudo-padding;
      }
    }

    .k-inline-list__item:last-child {
      &:after {
        display: none;
      }
    }
  }
}
