/* Label
   ========================================================================== */

.k-label {
  display: inline-block;
  padding: $k-site-label-vertical-padding $k-site-label-horizontal-padding;
  font-size: small;
  font-weight: $k-site-label-font-weight;
  line-height: 1.2;
  background-color: $k-site-label-background;
  color: $k-site-label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: inset 0 0 0 160px rgba(0, 0, 0, 0);
  transition: box-shadow 200ms ease-in-out;
  margin-top: -0.1em;
  margin-left: 0.25em;
  border-radius: $k-site-border-radius;
  text-decoration: none;


  /* Empty tags collapse automatically */

  &:empty {
    display: none;
  }


  /* Focus and hover */

  &[type="button"],
  &[href] {
    &:active,
    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 160px rgba(0, 0, 0, 0.15);
      text-decoration: none;
      cursor: pointer;
    }
  }
}


/**
 * Colors
 *
 * Contextual variations (linked tags get darker on :hover).
 */

.k-label--primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.k-label--neutral {
  background-color: $k-site-label-neutral-background;
  color: $k-site-label-neutral-type-background;
}

.k-label--success {
  background-color: $k-site-label-success-background;
  color: $k-site-label-success-type-background;
}

.k-label--warning {
  background-color: $k-site-label-warning-background;
  color: $k-site-label-warning-type-background;
}

.k-label--error {
  background-color: $k-site-label-error-background;
  color: $k-site-label-error-type-background;
}
