/* Labels
   ========================================================================== */

.k-label {
  display: inline-block;
  padding: $tag-padding-y $tag-padding-x;
  font-size: small;
  font-weight: $tag-font-weight;
  line-height: 1;
  color: $tag-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: -0.1em;
  margin-left: 0.25em;
  border-radius: $border-radius;


  /* Empty tags collapse automatically */

  &:empty {
    display: none;
  }
}


/**
 * Colors
 *
 * Contextual variations (linked tags get darker on :hover).
 */

.k-label--default {
  @include tag-variant($tag-default-bg);
}

.k-label--primary {
  @include tag-variant($tag-primary-bg);
}

.k-label--success {
  @include tag-variant($tag-success-bg);
}

.k-label--info {
  @include tag-variant($tag-info-bg);
}

.k-label--warning {
  @include tag-variant($tag-warning-bg);
}

.k-label--danger {
  @include tag-variant($tag-danger-bg);
}
