@if ($k-site-molecules == true and $k-site-molecule-label != false) or $k-site-molecule-label == true {

  /* Label
     ========================================================================== */

  .k-label {
    display: $k-site-label-display;
    padding: $k-site-label-vertical-padding $k-site-label-horizontal-padding;
    font-size: $k-site-label-font-size;
    font-weight: $k-site-label-font-weight;
    line-height: $k-site-label-line-height;
    background-color: $k-site-label-background;
    color: $k-site-label-color;
    text-align: center;
    white-space: $k-site-label-white-space;
    vertical-align: middle;
    box-shadow: $k-site-label-box-shadow;
    transition: $k-site-label-transition;
    margin-top: $k-site-label-margin-top;
    margin-left: $k-site-label-margin-left;
    border-radius: $k-site-label-border-radius;
    text-decoration: $k-site-label-text-decoration;


    /* Empty tags collapse automatically */

    &:empty {
      display: none;
    }


    /* Focus and hover */

    &[type="button"],
    &[href] {
      &:active,
      &:focus,
      &:hover {
        box-shadow: $k-site-label-hover-box-shadow;
        text-decoration: $k-site-label-hover-text-decoration;
        cursor: $k-site-label-hover-cursor;
      }
    }
  }


  /**
   * Colors
   *
   * Contextual variations (linked tags get darker on :hover).
   */

  .k-label--primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  .k-label--neutral {
    background-color: $k-site-label-neutral-background;
    color: $k-site-label-neutral-type-background;
  }

  .k-label--success {
    background-color: $k-site-label-success-background;
    color: $k-site-label-success-type-background;
  }

  .k-label--warning {
    background-color: $k-site-label-warning-background;
    color: $k-site-label-warning-type-background;
  }

  .k-label--error {
    background-color: $k-site-label-error-background;
    color: $k-site-label-error-type-background;
  }
}
