// List view item

.k-list-item {
  @include clearfix;
  background-image: linear-gradient(top,rgba(0,0,0,.05),transparent);
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.05);
}