@if ($k-site-molecules == true and $k-site-molecule-list != false) or $k-site-molecule-list == true {

  /* List
     ========================================================================== */

  .k-list {
    @include content-block($k-site-list-margin);
    overflow-x: hidden;
  }

  .k-list__item {
    line-height: $k-site-list-item-line-height;
    padding: $k-site-list-item-padding 0;

    .k-title.k-title {
      margin: 0;
    }

    .k-subtitle.k-subtitle {
      padding: 0;
      margin-bottom: 0;
      border: none;
    }

    .k-title + .k-subtitle {
      margin-top: 0.25em;
    }

    .k-list__item {
      padding-left: 1.5em;

      @include rtl {
        padding-left: 0;
        padding-right: 1.5em;
      }

      @include pseudo(after) {
        width: 0.4em;
        height: 0.4em;
        border-left: 1px solid;
        border-bottom: 1px solid;
        top: 0.6em;
        left: 0.375em;
        opacity: 0.333;

        @include rtl {
          border-left: none;
          border-right: 1px solid;
          left: auto;
          right: 0.375em;
        }
      }

      &:first-child {
        margin-top: 0.25em;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }


  /**
   * Bordered list
   */

  .k-list--bordered {
    border: $k-site-list-bordered-border;

    & > .k-list__item:first-child {
      &:before {
        display: none;
      }
    }

    > .k-list__item {
      padding: 0.5em;

      // Use pseudo element so border always has left: 0; even when list has levels
      @include pseudo(before) {
        top: -1px;
        left: -999px;
        right: 0;
        height: 1px;
        background: $k-site-list-bordered-pseudo-background;

        @include rtl {
          left: 0;
          right: -999px;
        }
      }

      .k-list__item {
        padding-left: 1.5em;

        @include rtl {
          padding-left: 0.5em;
          padding-right: 1.5em;
        }
      }
    }
  }


  /**
   * Rounded list
   */

  .k-list--rounded {
    border-radius: $k-site-border-radius;

    .k-list__item {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }


  /* Dark theme */

  &.k-theme-dark {
    .k-list--bordered {
      border: $k-site-list-dark-bordered-border;

      > .k-list__item {
        &:before {
          background: $k-site-list-dark-bordered-pseudo-background;
        }
      }
    }
  }
}
