@if $enable-flex {
  .k-media {
    display: flex;
  }

  .k-media__body {
    flex: 1;
  }

  .k-media__middle {
    align-self: center;
  }

  .k-media__bottom {
    align-self: flex-end;
  }

} @else {

  .k-media,
  .k-media__body {
    overflow: hidden;
  }

  .k-media__body {
    width: 10000px;
  }

  .k-media__left,
  .k-media__right,
  .k-media__body {
    display: table-cell;
    vertical-align: top;
  }

  .k-media__middle {
    vertical-align: middle;
  }

  .k-media__bottom {
    vertical-align: bottom;
  }
}


//
// Images/elements as the media anchor
//

.k-media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.k-img-thumbnail {
    max-width: none;
  }
}


//
// Alignment
//

.k-media--right {
  padding-left: $media-alignment-padding-x;
}

.k-media--left {
  padding-right: $media-alignment-padding-x;
}


//
// Headings
//

.k-media-heading {
  margin-top: 0;
  margin-bottom: $media-heading-margin-bottom;
}


//
// Media list variation
//

.k-media-list {
  padding-left: 0;
  list-style: none;
}
