@if ($k-site-molecules == true and $k-site-molecule-pagination != false) or $k-site-molecule-pagination == true {

  /* List
     ========================================================================== */

  /**
   * Admin pagination overrides using RGBA to fit template style
   */

  .k-table-pagination {
    @include content-block($k-site-section-spacing);
  }

  .k-pagination {
    .k-pagination__pages {
      & > li {
        & > a,
        & > span {
          color: $k-site-pagination-item-color;
          background-color: $k-site-pagination-item-background-color;
          border-color: $k-site-pagination-item-border-color;
        }
      }

      & > li > a,
      & > li > span {
        &:hover,
        &:focus {
          color: $k-site-pagination-item-hover-color;
          background-color: $k-site-pagination-item-hover-background-color;
          border-color: $k-site-pagination-item-hover-border-color;
        }
      }

      & > #{$k-pagination-active-class} > a,
      & > #{$k-pagination-active-class} > span {
        &,
        &:hover,
        &:focus {
          color: $k-site-pagination-item-active-color;
          background-color: $k-site-pagination-item-active-background-color;
          border-color: $k-site-pagination-item-active-border-color;
        }
      }
    }
  }


  /* Dark theme */

  &.k-theme-dark {
    .k-pagination {
      .k-pagination__pages {
        & > li {
          & > a,
          & > span {
            border-color: $k-site-pagination-item-dark-border-color;
          }
        }

        & > li > a,
        & > li > span {
          &:hover,
          &:focus {
            background-color: $k-site-pagination-item-dark-hover-background-color;
            border-color: $k-site-pagination-item-dark-hover-border-color;
          }
        }

        & > #{$k-pagination-active-class} > a,
        & > #{$k-pagination-active-class} > span {
          &,
          &:hover,
          &:focus {
            background-color: $k-site-pagination-item-dark-active-background-color;
            border-color: $k-site-pagination-item-dark-active-border-color;
          }
        }
      }
    }
  }
}
