@if ($k-site-molecules == true and $k-site-molecule-section != false) or $k-site-molecule-section == true {

  /* Section
     ========================================================================== */

  /**
   * 1. Clearfix so both top and bottom will be cleared of floats and margin
   * 2. Content block adds bottom margin to all except the last-child
   */

  .k-section {
    @include clearfix(); /* 1 */
    @include content-block($k-site-section-spacing); /* 2 */
  }

  .k-section--gradient {
    background-image: $k-site-section-gradient-background;
    padding: $k-site-section-gradient-padding;
    margin-top: ($k-site-section-gradient-border-width * 2);
    @include content-block($k-site-section-gradient-margin);

    @include pseudo(before) {
      top: -($k-site-section-gradient-border-width * 2);
      left: 0;
      right: 0;
      height: $k-site-section-gradient-border-width;
      background: $k-site-section-gradient-pseudo-background;
    }
  }

  .k-section--joined {
    margin-bottom: 0;
  }
}
