@if ($k-site-molecules == true and $k-site-molecule-table != false) or $k-site-molecule-table == true {

  /* Table
     ========================================================================== */

  /**
   * Basic table
   */

  .k-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: none;
    @include content-block($k-site-table-spacing);

    th,
    td {
      border: none;
      padding: $k-site-table-padding;
      vertical-align: middle;
      border-top: $k-site-table-border-width solid $k-site-table-border-color;
      text-align: left;
    }

    @include rtl {
      th,
      td {
        text-align: right;
      }
    }

    thead th {
      vertical-align: bottom;
      border-bottom: (2 * $k-site-table-border-width) solid $k-site-table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $k-site-table-border-width) solid $k-site-table-border-color;
    }
  }


  /**
   * Zebra-striping
   *
   * Default zebra-stripe styles (alternating gray and transparent backgrounds)
   */

  .k-table--striped {
    tbody tr:nth-of-type(odd) {
      background-color: $k-site-table-accent-background;
    }
  }


  /* Dark theme */

  &.k-theme-dark {
    .k-table {
      th,
      td {
        border-top-color: $k-site-table-dark-border-color;
      }

      thead th {
        border-bottom-color: $k-site-table-dark-border-color;
      }

      tbody + tbody {
        border-top-color: $k-site-table-dark-border-color;
      }
    }

    .k-table--striped {
      tbody tr:nth-of-type(odd) {
        background-color: $k-site-table-dark-accent-background;
      }
    }
  }
}
