@if ($k-site-molecules == true and $k-site-molecule-thumbnail != false) or $k-site-molecule-thumbnail == true {

  /* Thumbnail @TODO: reset other styling like buttons and labels?
     ========================================================================== */

  .k-thumbnail {
    border: $k-site-thumbnail-border;
    border-radius: $k-site-thumbnail-border-radius;
    padding: $k-site-thumbnail-spacing;
    background: $k-site-thumbnail-background;
    @include transition(border);
  }

  a {
    &:focus, &:hover, &active {
      .k-thumbnail {
        border-color: $k-site-thumbnail-hover-border-color;
      }
    }
  }
}
