/* Title
   ========================================================================== */

/**
 * 1. We need this for the k-link-coverleft to be able to click on icons / images without the need for an extra link
 */

.k-title {
  @include content-block($k-site-title-spacing);
  margin-top: 0;
  overflow: hidden; /* 1 */
}

/**
 * Subtitle
 *
 * 1. Using `smaller` as font-size to have a smaller font-size than the body text while respecting the template font size
 * 2. Closer to title element
 */

.k-subtitle {
  font-size: smaller; /* 1 */
  padding-bottom: $k-site-subtitle-padding;
  border-bottom: $k-site-subtitle-border-bottom;
  @include content-block($k-site-subtitle-margin);
}

.k-title + .k-subtitle {
  margin-top: -($k-site-subtitle-padding); /* 2 */
}
