/* Toolbar
   ========================================================================== */

.k-toolbar {
  @include content-block($k-site-toolbar-margin);
  padding: $k-site-toolbar-padding;
  background: $k-site-toolbar-background;
  border-bottom: $k-site-toolbar-border-bottom;
}
