@if ($k-site-molecules == true and $k-site-molecule-tree != false) or $k-site-molecule-tree == true {

  /* Tree
     ========================================================================== */

  /**
   * Admin tree overrides using RGBA to fit template style
   */

  .k-tree {

    /* Reset */

    .jqtree_common {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      background: transparent;
    }

    .jqtree-folder {
      border: none;
    }

    .jqtree-element {
      &.jqtree-element {
        padding-left: 0;
        padding-right: 0;
      }

      .jqtree_common:after {
        opacity: 0.4;
      }

      &:hover,
      &:focus {
        background: transparent;

        &:after {
          border-color: inherit;
          opacity: 0.085;
        }
      }
    }

    .jqtree-selected {
      & > .jqtree-element {
        background: var(--primary-color)!important;
        color: var(--primary-text-color)!important;

        &:after {
          border-color: inherit;
          opacity: 0.15;
        }
      }

      & > .jqtree-element > .jqtree-toggler {
        color: var(--primary-text-color)!important;
      }

      &:hover {
        & > .jqtree-element {
          &:after {
            border-color: inherit;
          }
        }
      }

      .jqtree_common {
        & > .jqtree-toggler {
          &:hover:before {
            border-top-color: inherit;
          }
        }
      }
    }


    > .jqtree-tree > .jqtree_common > .jqtree-element {
      padding-left: 0;

      @include rtl {
        padding-right: 0;
      }
    }

    .jqtree-toggler {
      &:before {
        opacity: 0.8;
      }

      &:hover,
      &:focus {
        &:before {
          border-top-color: inherit;
          opacity: 1;
        }
      }
    }
  }
}
