@if ($k-site-molecules == true and $k-site-molecule-tree != false) or $k-site-molecule-tree == true {

  /* Tree
     ========================================================================== */

  /**
   * Admin tree overrides using RGBA to fit template style
   */

  .k-tree {
    .jqtree-element {
      .jqtree_common:after {
        opacity: 0.4;
      }

      &:hover,
      &:focus {
        &:after {
          border-color: inherit;
          opacity: 0.085;
        }
      }
    }

    .jqtree-selected {
      & > .jqtree-element {
        color: inherit;

        &:after {
          border-color: inherit;
          opacity: 0.15;
        }
      }

      &:hover {
        & > .jqtree-element {
          &:after {
            border-color: inherit;
          }
        }
      }
    }
  }
}
