/* ==========================================================================
   Toolbar
   ========================================================================== */

/*
Toolbar

Default toolbar

Markup:
<div class="k-toolbar">
    <span class="k-toolbar-buttons">
        <sg-insert>3.7.1-2</sg-insert>
        <sg-insert>3.7.1-1</sg-insert>
    </span>
</div><!-- .k-toolbar -->

Styleguide 3.7

*/

.k-toolbar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-background;
  min-height: $toolbar-height;


  /* Faking flexbox for older browsers */

  @include breakpoint($desktop) {
    width: 100%;
    display: table;
  }


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 0 auto;
  }
}


/* Toolbar contents */

.k-toolbar {
  button,
  .btn {
    margin: 10px 0 10px 10px;

    /**
     * Make buttons square
     *
     * Only make them square if media queries are supported
     * By default we just want them as buttons
     */

    @include breakpoint(0, range, $charlie) {
      overflow: hidden;
      width: 32px;
      height: 32px;
      padding: 7px 6px;
      text-align: center;
    }
  }

  @include rtl {
    button,
    .btn {
      margin: 10px 10px 10px 0;
    }
  }


  /**
   * Alternative button colors
   *
   * If the button colors don't fit the toolbar you can have alternative colors
   */

  @if $toolbar-btn-alt == true {
    .btn-success {
      border-color: $toolbar-btn-success-border;
      background: $toolbar-btn-success-background;
      color: $toolbar-btn-success-color;

      &:hover,
      &:focus {
        border-color: $toolbar-btn-success-hover-border;
        background: $toolbar-btn-success-hover-background;
        color: $toolbar-btn-success-hover-color;
      }
    }
  }


  /**
   * Position the icons
   *
   * Only position them if media queries are supported
   * By default we just want them aligned normally
   */

  i {
    @include breakpoint(0, range, $charlie) {
      display: block;
      margin: 0;
      width: $font-size-large;
      height: $font-size-large;
      font-size: $font-size-large;
      line-height: $font-size-large;
    }

    display: inline-block;
    margin: 0 .25em 0 .1em;
  }
}


/* Text on the toolbar buttons */

.k-toolbar__text {
  @include breakpoint(0, range, $charlie) {
    position: relative;
    z-index: -1;
    visibility: hidden;
  }
}


/*
Toolbar buttons

.btn-default - Default button style
.btn-success - Add button styling, only one per toolbar
.disabled - Hidden until useful (when items in table are selected)

markup:
<a class="btn btn-sm {$modifiers}" href="#">
    <i class="icon-new"></i>
    <span class="k-toolbar__text">{content}</span>
</a>

sg-wrapper:
<div class="k-toolbar">
    <span class="k-toolbar-buttons">
        <sg-wrapper-content/>
    </span>
</div>

Styleguide 3.7.1

*/