@if ($k-molecules == true and $k-molecule-card != false) or $k-molecule-card == true {

  /* Card
     ========================================================================== */

  .k-card {
    position: relative;
    display: block;
    width: 100%;
    @include content-block;
  }

  .k-card--center {
    .k-card__body {
      text-align: center;
    }
  }

  .k-card--rounded {
    .k-card__body {
      border-radius: $k-card-border-radius;
    }

    .k-card__caption {
      border-bottom-left-radius: $k-card-border-radius - 1px;
      border-bottom-right-radius: $k-card-border-radius - 1px;
    }

    .k-card__image,
    .k-card__image--background,
    .k-card__image--spaced-background,
    .k-card__header,
    .k-card__section,
    .k-card__footer {
      overflow: hidden;

      &:only-child {
        &, img {
          border-radius: $k-card-border-radius - 1px;
        }
      }
      &:first-child {
        &, img {
          border-top-left-radius: $k-card-border-radius - 1px;
          border-top-right-radius: $k-card-border-radius - 1px;
        }
      }
      &:last-child {
        &, img {
          border-bottom-left-radius: $k-card-border-radius - 1px;
          border-bottom-right-radius: $k-card-border-radius - 1px;
        }
      }
    }

    .k-card__image--background {
      border-radius: $k-card-border-radius - 1px;
    }

    .k-card__image--spaced-background {
      border-radius: $k-card-border-radius - 2px;
    }
  }


  /**
   * Card body
   */

  .k-card__body {
    position: relative;
    display: block;
    backface-visibility: hidden;
    background: $k-card-background;
    border: 1px solid $k-card-border;
    color: $k-card-color;
    text-decoration: none;
    @include transition;
  }

  a.k-card__body {
    &:focus,
    &:hover {
      border-color: $k-card-hover-border;

      .k-card__header {
        border-color: $k-card-header-hover-border;
      }

      .k-card__footer {
        border-color: $k-card-footer-hover-border;
      }
    }
  }


  /**
   * Card image
   *
   * 1. For when background image is used
   * 2. Cover complete card minus border
   * 3. Cover complete card minus border and 1pixel spacing
   */

  .k-card__image {
    z-index: 0;
    display: block;
    overflow: hidden;
    @include transition;

    img {
      vertical-align: top;
    }
  }

  .k-card__image--background {
    background-position: center; /* 1 */
    background-repeat: no-repeat; /* 1 */
    background-size: cover; /* 1 */
    @include coverall(0, 1px, 1px, 1px, 1px); /* 2 */
  }

  .k-card__image--spaced-background {
    @include coverall(0, 2px, 2px, 2px, 2px); /* 3 */
  }


  /**
   * Card title
   */

  .k-card__header {
    position: relative;
    z-index: 1;
    display: block;
    padding: $k-card-header-spacing;
    font-weight: $k-card-header-font-weight;
    background: $k-card-header-background;
    border-bottom: 1px solid $k-card-header-border;
    padding-bottom: $k-card-header-spacing - 1px;
    color: $k-card-header-color;
    text-decoration: none;
    @include transition;

    &:last-child {
      border-bottom: none;
    }

    &:not(:first-child) {
      border-top: 1px solid $k-card-header-border;
      padding-top: $k-card-header-spacing - 1px;
    }
  }


  /**
   * Card section
   *
   * 1. Use margin instead of padding to keep border-radius on rounded cards
   */

  .k-card__section {
    position: relative;
    z-index: 1;
    display: block;
    padding: $k-card-spacing;
    text-decoration: none;
    @include transition;
  }

  .k-card__section--small-spacing {
    padding: 0;
    margin: 1px; /* 1 */
  }


  /**
   * Card footer
   */

  .k-card__footer {
    position: relative;
    z-index: 1;
    display: block;
    padding: $k-card-footer-spacing;
    background: $k-card-footer-background;
    border-top: 1px solid $k-card-footer-border;
    padding-top: $k-card-footer-spacing - 1px;
    color: $k-card-footer-color;
    text-decoration: none;
    @include transition;

    &:first-child {
      border-top: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $k-card-footer-border;
    }
  }


  /**
   * Card caption
   */

  .k-card__caption {
    display: block;
    width: 100%;
    padding: $k-card-caption-spacing;
    font-weight: $k-card-caption-font-weight;
    text-decoration: none;
    @include transition;
  }

  .k-card__caption--overflow {
    height: 3em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  /**
   * Selected card
   */

  .k-card#{$k-card-selected-class} {
    .k-card__body {
      border-color: $k-card-selected-border;

      &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:only-child {
        .k-card__header {
          background: $k-card-selected-background;
          color: $k-card-selected-color;
        }
      }
    }

    .k-card__header,
    .k-card__footer,
    .k-card__caption {
      border-color: $k-card-selected-border;
      background: $k-card-selected-background;
      color: $k-card-selected-color;
    }
  }


  /**
   * Flexing card
   */

  .k-card--flex {
    display: flex;
    flex-direction: column;

    .k-card__body {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    .k-card__flex-item {
      flex: 1 1 auto;
    }
  }
}
