/* Card
   ========================================================================== */

.k-card {
  position: relative;
  display: block;
  width: 100%;
  @include content-block(1em);
}

.k-card--float-left {
  float: left;
  margin-right: 1em;

  @include rtl {
    float: right;
    margin-right: 0;
    margin-left: 1em;
  }
}

.k-card--float-right {
  float: right;
  margin-left: 1em;

  @include rtl {
    float: left;
    margin-left: 0;
    margin-right: 1em;
  }
}

.k-card--center {
  .k-card__body {
    text-align: center;
  }
}

.k-card--rounded {
  .k-card__body {
    border-radius: $k-card-radius;
  }

  .k-card__caption {
    border-bottom-left-radius: $k-card-radius - 1px;
    border-bottom-right-radius: $k-card-radius - 1px;
  }

  .k-card__image img,
  .k-card__image--background,
  .k-card__image--spaced-background,
  .k-card__header,
  .k-card__section,
  .k-card__footer {
    overflow: hidden;

    &:only-child {
      border-radius: $k-card-radius - 1px;
    }

    &:first-child {
      border-top-left-radius: $k-card-radius - 1px;
      border-top-right-radius: $k-card-radius - 1px;
    }

    &:last-child {
      border-bottom-left-radius: $k-card-radius - 1px;
      border-bottom-right-radius: $k-card-radius - 1px;
    }
  }

  .k-checkbox-dropdown-toggle:not(:checked) {
    & ~ * .k-card__header {
      border-radius: $k-card-radius - 1px;
    }
  }

  .k-card__image--background {
    border-radius: $k-card-radius - 1px;
  }

  .k-card__image--spaced-background {
    border-radius: $k-card-radius - 2px;
  }
}


/**
 * Card body
 */

.k-card__body {
  position: relative;
  display: block;
  backface-visibility: hidden;
  background: $k-card-background;
  border: 1px solid $k-card-border;
  text-decoration: none;
  @include transition;
}


/**
 * Hover and focus style
 * Only for links
 */

a.k-card__body,
a.k-card__section {
  &:focus,
  &:hover {
    border-color: $k-card-hover-border;
    background: rgba(0, 0, 0, 0.05);

    .k-card__header {
      border-color: $k-card-header-hover-border;
    }

    .k-card__footer {
      border-color: $k-card-footer-hover-border;
    }
  }
}


/**
 * Card image
 *
 * 1. For when background image is used
 * 2. Cover complete card minus border
 * 3. Cover complete card minus border and 1pixel spacing
 */

.k-card__image {
  z-index: 0;
  display: block;
  overflow: hidden;
  text-align: center;
  @include transition;

  img {
    max-width: 100%;
    padding: 1px;
    vertical-align: middle;
  }
}

.k-card__image--background {
  background-position: center; /* 1 */
  background-repeat: no-repeat; /* 1 */
  background-size: cover; /* 1 */
  @include coverall(0,1px,1px,1px,1px); /* 2 */
}

.k-card__image--spaced-background {
  @include coverall(0,2px,2px,2px,2px); /* 3 */
}


/**
 * Card title
 */

.k-card__header {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px;
  font-weight: $k-bold;
  background: $k-card-header-background;
  color: $k-card-header-color;
  text-decoration: none;
  @include transition;

  &:not(:first-child) {
    border-top: 1px solid $k-card-header-border;
  }
}


/**
 * Card section
 *
 * 1. Use margin instead of padding to keep border-radius on rounded cards
 */

.k-card__section {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include transition;


  &:not(:first-child) {
    border-top: 1px solid $k-card-border;
  }

  p {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .k-gallery__item-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.k-card__section--small-spacing {
  padding: 0;
  margin: 1px; /* 1 */
}

.k-card__section--no-spacing {
  padding: 0;
  margin: 0;
}


/**
 * Card footer
 */

.k-card__footer {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px;
  background: $k-card-footer-background;
  color: $k-card-footer-color;
  text-decoration: none;
  @include transition;

  &:not(:first-child) {
    border-top: 1px solid $k-card-footer-border;
  }
}

.k-card__footer--group {
  display: table;
  width: 100%;
}

.k-card__footer--group .k-manage__item,
.k-card__footer-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

  &:first-child {
    text-align: left;
    width: 1%;
  }

  &:last-child {
    text-align: right;
    width: 1%;
  }

  &:only-child {
    text-align: center;
  }
}


/**
 * Card caption
 */

.k-card__caption {
  display: block;
  width: 100%;
  padding: 0.66em;
  font-weight: $k-regular;
  text-decoration: none;
  @include transition;
}

.k-card__caption--overflow {
  height: 3em;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
 * Selected card
 */

.k-card.k-is-selected {
  .k-card__body {
    border-color: $k-card-selected-border;

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:only-child {
      .k-card__header {
        background: $k-card-selected-background;
        color: $k-card-selected-color;
      }
    }
  }

  .k-card__header,
  .k-card__footer,
  .k-card__caption {
    border-color: $k-card-selected-border;
    background: $k-card-selected-background;
    color: $k-card-selected-color;
  }
}



/**
 * Card graphic
 *
 * A 3:2 card graphic holder
 * - centers all content
 * - holds images and icons
 */

.k-card__graphic-wrapper {
  position: relative;
  width: 100%;
  @include ratio-block(3 to 2);
  @include content-block(10px);
}

.k-card__graphic-center {
  @include coverall;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  background: radial-gradient(to center, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.1));
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.075);

  &:before {
    display: inline-block;
    content: ' ';
    vertical-align: middle;
    height: 100%;
  }
}

.k-card__graphic {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  height: 100%;

  [class*="k-icon"],
  img {
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
    height: auto;
    width:auto;
  }
}
