/* Dropdowns
   ========================================================================== */

/*
Dropdown

markup:
<div class="k-dropdown">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Dropdown item 1</a></li>
        <li><a href="javascript:void(0)">Dropdown item 2</a></li>
        <li><a href="javascript:void(0)">Dropdown item 3</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 150px;">
    <sg-wrapper-content/>
</div>

Styleguide 2.6

*/

/*
Dropup

Drop it up when dropdown item is located at the bottom of a view

markup:
<div class="k-dropdown k-dropdown--dropup">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropup trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Dropdown item 1</a></li>
        <li><a href="javascript:void(0)">Dropdown item 2</a></li>
        <li><a href="javascript:void(0)">Dropdown item 3</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 150px;">
    <div style="width: 10px;height: 130px;"></div>
    <sg-wrapper-content/>
</div>

Styleguide 2.6.1

*/

/*
Dropdown divider

Add a divider between dropdown items

markup:
<li class="k-dropdown__divider"></li>

sg-wrapper:
<div class="k-dropdown k-is-open">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Item above divider</a></li>
        <sg-wrapper-content/>
        <li><a href="javascript:void(0)">Item below divider</a></li>
    </ul>
</div>

Styleguide 2.6.2

*/

/* Dropdown arrow/caret */

.k-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caret-width-base dashed;
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;

  @include rtl {
    margin-left: 0;
    margin-right: 2px;
  }
}


/* The dropdown wrapper (div) */

.k-dropdown {
  position: relative;
}


/* The dropdown toggle */

.k-dropdown__toggle {
  img {
    max-width: 16px;
  }
}


/**
 * The dropdown menu (ul)
 *
 * 1. Hide by default, but block on "open" of the menu
 * 2. Ensures proper alignment if parent has it changed (e.g., modal footer)
 */

.k-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; /* 1 */
  float: left;
  min-width: 160px;
  text-align: left; /* 2 */
  background-color: $dropdown-background;
  border: 1px solid $dropdown-border;
  border-radius: $border-radius;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;


  /* Winning over .koowa ul */

  &.k-dropdown__menu {
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
  }


  /**
    * Links within the dropdown menu
    *
    * 1. prevent links from randomly breaking onto new lines
    */

  a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: $line-height;
    color: $dropdown-link-color;
    white-space: nowrap; /* 1 */
  }


  /* RTL */

  @include rtl {
    left: auto;
    right: 0;
  }
}


/**
 * Dividers (basically an hr) within the dropdown
 */

.k-dropdown__divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


/* Hover / Focus state */

.k-dropdown__menu a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-background;
  }
}


/* Active state */

.k-dropdown__menu .k-is-active a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-background;
  }
}


/**
 * Disabled state
 *
 * Gray out text and ensure the hover/focus state remains gray
 */

.k-dropdown__menu .k-is-disabled a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }


  /**
   * Nuke hover/focus effects
   *
   * 1. Remove CSS gradient
   */

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; /* 1 */
    cursor: $cursor-disabled;
  }
}


/* Open state for the dropdown */

.k-dropdown.k-is-open {


  /* Show the menu */

  & > .k-dropdown__menu {
    display: block;
  }


  /* Remove the outline when :focus is triggered */

  & > a {
    outline: 0;
  }
}


/* Backdrop to catch body clicks on mobile, etc. */

.k-dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindex-dropdown - 10);
}


/**
 * Dropup
 *
 * Allow for dropdowns to go bottom up (aka, dropup-menu)
 */

.k-dropdown--dropup {


  /* Reverse the caret */

  .k-caret {
    border-top: 0;
    border-bottom: $caret-width-base dashed;
    content: "";
  }


  /* Different positioning for bottom up menu */

  .k-dropdown__menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}


/*
Dropdown grid

Display a list of icons or images in a grid

markup:
<div class="k-dropdown">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu k-dropdown__menu--grid">
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-3</sg-insert>
                <span class="k-visually-hidden">Archive icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-4</sg-insert>
                <span class="k-visually-hidden">Audio icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-5</sg-insert>
                <span class="k-visually-hidden">Default icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-6</sg-insert>
                <span class="k-visually-hidden">Document icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-8</sg-insert>
                <span class="k-visually-hidden">Image icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-9</sg-insert>
                <span class="k-visually-hidden">PDF icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-10</sg-insert>
                <span class="k-visually-hidden">Spreadsheet icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-11</sg-insert>
                <span class="k-visually-hidden">Video icon</span>
            </a>
        </li>
        <li class="k-dropdown__block-item">
            <a href="javascript:void(0)">Block level item</a>
        </li>
    </ul>
</div>

sg-wrapper:
<div style="height: 200px;">
    <sg-wrapper-content/>
</div>

Styleguide 2.6.3

*/

.k-dropdown__menu--grid {
  width: 212px;


  /* override above default settings */

  &.k-dropdown__menu--grid {
    padding: 5px;

    @include rtl {
      padding: 5px;
    }
  }

  img {
    max-width: 16px;
    max-height: 16px;
  }

  li {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;

    @include rtl {
      float: right;
    }

    a {
      display: block;
      padding: 0;
      margin: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 3px;
      float: left;

      [class^="k-icon-document-"],
      [class*=" k-icon-document-"] {
        display: block;
        vertical-align: middle;
        margin: ((40px - 16px)/2) auto;
      }
    }
  }

  .k-dropdown__block-item {
    min-width: 100%;
    clear: both;
    height: auto;
    margin: 5px 0 -5px;

    a {
      position: relative;
      height: auto;
      width: auto;
      float: none;
      border-top: 1px solid #e5e5e5;
      text-align: left;
      margin: 0 -5px;
      padding: 5px 15px;
      border-radius: 0 0 $border-radius $border-radius;

      @include rtl {
        text-align: right;
      }
    }
  }
}
