@if ($k-molecules == true and $k-molecule-empty-state != false) or $k-molecule-empty-state == true {

  /* Empty state
     ========================================================================== */

  .k-empty-state {
    margin: 0;
    font-size: $k-empty-state-font-size;
    line-height: $k-empty-state-line-height;
    text-align: $k-empty-state-align;
    background: $k-empty-state-background;
    color: $k-empty-state-color;
    padding: $k-empty-state-spacing;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    p {
      @include content-block();
    }
  }
}
