@if ($k-molecules == true and $k-molecule-form-block != false) or $k-molecule-form-block == true {

  /* Form block
     ========================================================================== */

  .k-form-block {
    background: $k-form-block-background;
    @include border(all, $k-form-block-border);
    @include content-block;
  }

  /* The header */

  .k-form-block__header {
    @include border(bottom, $k-form-block-header-border);
    padding: $k-form-block-header-spacing;
    background: $k-form-block-header-background;
    font-weight: $k-form-block-header-font-weight;
  }

  /* The content */

  .k-form-block__content {
    padding: $k-form-block-content-spacing;
  }
}
