@if ($k-molecules == true and $k-molecule-gallery != false) or $k-molecule-gallery == true {

  /* Gallery
     ========================================================================== */

  .k-gallery-container {
    padding: $k-grid-spacing / 2;
    @include content-block();
  }

  .k-gallery {
    overflow: hidden;
  }

  .k-gallery__items {
    font-size: 0;

    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  .k-gallery__item {
    padding: ($k-grid-spacing / 2);
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    flex-basis: 200px;

    @supports (display: flex) {
      display: flex;
      flex: 0 0 auto;
    }


    /**
     * Selected styling
     */

    &#{$k-grid-selected-class} {
      .k-card__header {
        background: $k-grid-selected-header-background;
        border-color: $k-grid-selected-header-border-color;
        color: $k-grid-selected-header-color;

        a {
          color: $k-grid-selected-header-anchor-color;
        }
      }

      .k-card__body {
        color: $k-grid-selected-body-color;
        border-color: $k-grid-selected-body-border-color;
      }

      &:hover,
      &:focus {
        .k-card__header {
          background:$k-grid-selected-header-hover-background;
        }
      }
    }
  }


  /**
   * Set widths
   */

  @for $i from 1 through 24 {
    [data-gallery-items='#{$i}'] {
      .k-gallery__item {
        width: (100% / $i);

        @supports (display: grid) {
          width: 100%;
        }
      }
    }
  }
}

