@if ($k-molecules == true and $k-molecule-gallery != false) or $k-molecule-gallery == true {

  /* Gallery
     ========================================================================== */

  .k-gallery-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }

  .k-gallery {
    padding: $k-grid-spacing / 2;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .k-gallery__items {
    @include clearfix;
    flex: 1 1 auto;
  }

  .k-gallery__item {
    float: left;
    padding: $k-grid-spacing / 2;
    width: 100%;

    @include rtl {
      float: right;
    }

    /* Set breakpoints */

    @include setGridBreakpoint;

    /* Selected styling */

    &.k-is-selected {
      .k-card__header {
        background: $k-accent-color;
        border-color: darkest($k-accent-color);
        color: $k-accent-type-color;

        a {
          color: $k-accent-type-color;
        }
      }

      .k-card__body {
        color: $k-accent-type-color;
        border-color: darker($k-accent-color);
      }

      &:hover,
      &:focus {
        .k-card__header {
          background: darkest($k-accent-color);
        }
      }
    }
  }

  /* Make sure that the files are separated from the folders */

  .k-gallery__item--folder + .k-gallery__item--file {
    clear: left;

    @include rtl {
      clear: right;
    }
  }
}
