/* Heading
   ========================================================================== */

/*
Heading

markup:
<!-- Heading -->
<div class="k-heading">
    Heading
</div><!--.k-heading-->

Styleguide 2.11

*/

.k-heading {
  font-size: $k-font-size-huge;
  line-height: $k-line-height-huge;
  @include content-block($k-spacing);
}
