/* Heading
   ========================================================================== */

/*
Heading

markup:
<!-- Heading -->
<div class="k-heading">
    Heading
</div><!--.k-heading-->

Styleguide 2.11

*/

.k-heading {
  font-size: $k-heading-font-size;
  line-height: $k-heading-line-height;
  @include content-block();
}
