/* Icons
   ========================================================================== */

/*
Icons

Open iconic icons: https://useiconic.com/open/

.k-icon-account-login - Account login
.k-icon-account-logout - Account logout
.k-icon-action-redo - Action redo
.k-icon-action-undo - Action undo
.k-icon-align-center - Align center
.k-icon-align-left - Align left
.k-icon-align-right - Align right
.k-icon-aperture - Aperture
.k-icon-arrow-bottom - Arrow bottom
.k-icon-arrow-circle-bottom - Arrow circle bottom
.k-icon-arrow-circle-left - Arrow circle left
.k-icon-arrow-circle-right - Arrow circle right
.k-icon-arrow-circle-top - Arrow circle top
.k-icon-arrow-left - Arrow left
.k-icon-arrow-right - Arrow right
.k-icon-arrow-thick-bottom - Arrow thick bottom
.k-icon-arrow-thick-left - Arrow thick left
.k-icon-arrow-thick-right - Arrow think right
.k-icon-arrow-thick-top - Arrow thick top
.k-icon-arrow-top - Arrow top
.k-icon-audio-spectrum - Audio spectrum
.k-icon-audio - Audio
.k-icon-badge - Badge
.k-icon-ban - Ban
.k-icon-bar-chart - Bar chart
.k-icon-basket - Basket
.k-icon-battery-empty - Battery empty
.k-icon-battery-full - Battery full
.k-icon-beaker - Beaker
.k-icon-bell - Bell
.k-icon-bluetooth - Bluetooth
.k-icon-bold - Bold
.k-icon-bolt - Bolt
.k-icon-book - Book
.k-icon-bookmark - Bookmark
.k-icon-box - Box
.k-icon-briefcase - Briefcase
.k-icon-british-pound - British pound
.k-icon-browser - Browser
.k-icon-brush - Brush
.k-icon-bug - Bug
.k-icon-bullhorn - Bullhorn
.k-icon-calculator - Calculator
.k-icon-calendar - Calendar
.k-icon-camera-slr - Camera SLR
.k-icon-caret-bottom - Caret bottom
.k-icon-caret-left - Caret left
.k-icon-caret-right - Caret right
.k-icon-caret-top - Caret top
.k-icon-cart - Cart
.k-icon-chat - Chat
.k-icon-check - Check
.k-icon-chevron-bottom - Chevron bottom
.k-icon-chevron-left - Chevron left
.k-icon-chevron-right - Chevron right
.k-icon-chevron-top - Chevron top
.k-icon-circle-check - Circle check
.k-icon-circle-x - Circle X
.k-icon-clipboard - Clipboard
.k-icon-clock - Clock
.k-icon-cloud-download - Cloud download
.k-icon-cloud-upload - Cloud upload
.k-icon-cloud - Cloud
.k-icon-cloudy - Cloudy
.k-icon-code - Code
.k-icon-cog - Cog
.k-icon-collapse-down - Collapse down
.k-icon-collapse-left - Collapse left
.k-icon-collapse-right - Collapse right
.k-icon-collapse-up - Collapse up
.k-icon-command - Command
.k-icon-comment-square - Comment square
.k-icon-compass - Compass
.k-icon-contrast - Contrast
.k-icon-copywriting - Copywriting
.k-icon-credit-card - Credit card
.k-icon-crop - Crop
.k-icon-dashboard - Dashboard
.k-icon-data-transfer-download - Data transfer download
.k-icon-data-transfer-upload - Data transfer upload
.k-icon-delete - Delete
.k-icon-dial - Dial
.k-icon-document - Document
.k-icon-dollar - Dollar
.k-icon-double-quote-sans-left - Double quote sans left
.k-icon-double-quote-sans-right - Double quote sans right
.k-icon-double-quote-serif-left - Double quote serif left
.k-icon-double-quote-serif-right - Double quote serif right
.k-icon-droplet - Droplet
.k-icon-eject - Eject
.k-icon-elevator - Elevator
.k-icon-ellipses - Ellipsis
.k-icon-envelope-closed - Envelope closed
.k-icon-envelope-open - Envelope open
.k-icon-euro - Euro
.k-icon-excerpt - Excerpt
.k-icon-expand-down - Expand down
.k-icon-expand-left - Expand left
.k-icon-expand-right - Expand right
.k-icon-expand-up - Expand up
.k-icon-external-link - External link
.k-icon-eye - Eye
.k-icon-eyedropper - Eyedropper
.k-icon-file - File
.k-icon-fire - Fire
.k-icon-flag - Flag
.k-icon-flash - Flash
.k-icon-folder - folder
.k-icon-fork - Fork
.k-icon-fullscreen-enter - Fullscreen enter
.k-icon-fullscreen-exit - Fullscreen exit
.k-icon-globe - Globe
.k-icon-graph - Graph
.k-icon-grid-four-up - Grid four up
.k-icon-grid-three-up - Grid three up
.k-icon-grid-two-up - Grid two up
.k-icon-hard-drive - Hard drive
.k-icon-header - Header
.k-icon-headphones - Headphones
.k-icon-heart - Heart
.k-icon-home - Home
.k-icon-image - Image
.k-icon-inbox - Inbox
.k-icon-infinity - Infinity
.k-icon-info - Info
.k-icon-italic - Italic
.k-icon-justify-center - Justify center
.k-icon-justify-left - Justify left
.k-icon-justify-right - Justify right
.k-icon-key - Key
.k-icon-laptop - Laptop
.k-icon-layers - Layers
.k-icon-lightbulb - lightbulb
.k-icon-link-broken - Link broken
.k-icon-link-intact - Link intact
.k-icon-list-rich - List rich
.k-icon-list - List
.k-icon-location - Location
.k-icon-lock-locked - Lock locked
.k-icon-lock-unlocked - Lock unlocked
.k-icon-loop-circular - Circular
.k-icon-loop-square - Square
.k-icon-loop - Loop
.k-icon-magnifying-glass - Magnifying glass
.k-icon-map-marker - Map marker
.k-icon-map - Map
.k-icon-media-pause - Media pause
.k-icon-media-play - Media play
.k-icon-media-record - Media record
.k-icon-media-skip-backward - Media skip backward
.k-icon-media-skip-forward - Media skip forward
.k-icon-media-step-backward - Media step backward
.k-icon-media-step-forward - Media step forward
.k-icon-media-stop - Media stop
.k-icon-medical-cross - Medical cross
.k-icon-menu - Menu
.k-icon-microphone - Microphone
.k-icon-minus - Minus
.k-icon-monitor - Monitor
.k-icon-moon - Moon
.k-icon-move - Move
.k-icon-musical-note - Musical note
.k-icon-paperclip - Paperclip
.k-icon-pencil - Pencil
.k-icon-people - People
.k-icon-person - Person
.k-icon-phone - Phone
.k-icon-pie-chart - Pie chart
.k-icon-pin - Pin
.k-icon-play-circle - Play circle
.k-icon-plus - Plus
.k-icon-power-standby - power standby
.k-icon-print - Print
.k-icon-project - Project
.k-icon-pulse - Pulse
.k-icon-puzzle-piece - Puzzle piece
.k-icon-question-mark - Question mark
.k-icon-rain - Rain
.k-icon-random - Random
.k-icon-reload - Reload
.k-icon-resize-both - Resize both
.k-icon-resize-height - Resize height
.k-icon-resize-width - Resize width
.k-icon-rss-alt - RSS alt
.k-icon-rss - RSS
.k-icon-script - Script
.k-icon-share-boxed - Share boxed
.k-icon-share - Share
.k-icon-shield - Shield
.k-icon-signal - Signal
.k-icon-signpost - Signpost
.k-icon-sort-ascending - Sort ascending
.k-icon-sort-descending - Sort descending
.k-icon-spreadsheet - Spreadsheet
.k-icon-star - Star
.k-icon-sun - Sun
.k-icon-tablet - Tablet
.k-icon-tag - Tag
.k-icon-tags - Tags
.k-icon-target - Target
.k-icon-task - Task
.k-icon-terminal - Terminal
.k-icon-text - Text
.k-icon-thumb-down - Thumb down
.k-icon-thumb-up - Thumb up
.k-icon-timer - Timer
.k-icon-transfer - Transfer
.k-icon-trash - Trash
.k-icon-underline - Underline
.k-icon-vertical-align-bottom - Vertical align bottom
.k-icon-vertical-align-center - Vertical align center
.k-icon-vertical-align-top - Vertical align top
.k-icon-video - Video
.k-icon-volume-high - Volume high
.k-icon-volume-low - Volume low
.k-icon-volume-off - Volume off
.k-icon-warning - Warning
.k-icon-wifi - Wifi
.k-icon-wrench - Wrench
.k-icon-x - X
.k-icon-yen - Yen
.k-icon-zoom-in - Zoom in
.k-icon-zoom-out - Zoom out

markup:
<span class="{$modifiers}" aria-hidden="true"></span>

sg-wrapper:
<div style="font-size: 16px;"><sg-wrapper-content/></div>

Styleguide 2.12

*/

/**
Extra icons

Extra icons that we added on top of open iconic

.k-icon-close - Close
.k-icon-disabled - Disabled
.k-icon-document-archive - Archive
.k-icon-document-audio - Audio
.k-icon-document-default - Default
.k-icon-document-document - Document
.k-icon-document-folder - Folder
.k-icon-document-image - Image
.k-icon-document-pdf - PDF
.k-icon-document-spreadsheet - Spreadsheet
.k-icon-document-video - Video
.k-icon-documents - Documents
.k-icon-enabled - Enabled
.k-icon-filter - Filter
.k-icon-folder-closed - Folder closed
.k-icon-folder-opened - Folder opened
.k-icon-menu-closed - Menu closed
.k-icon-menu-opened - Menu opened
.k-icon-open - Open

markup:
<span class="{$modifiers}" aria-hidden="true"></span>

sg-wrapper:
<div style="font-size: 16px;"><sg-wrapper-content/></div>

Styleguide 2.12.1

*/

/*
Icon colors

Give your icons more meaning by giving them a color

.k-icon--accent - Accent color
.k-icon--success - Success color
.k-icon--error - Error color

markup:
<span class="k-icon-home {$modifiers}" aria-hidden="true"></span>

sg-wrapper:
<div style="font-size: 16px;"><sg-wrapper-content/></div>

Styleguide 2.12.2

*/

.k-icon--accent {
  color: $color-accent;
}

.k-icon--success {
  color: $color-success;
}

.k-icon--error {
  color: $color-error;
}


/*
Icon sizes

Different sizes for icons

.k-icon--size-tiny - 10px
.k-icon--size-small - 13px
.k-icon--size-default - 16px
.k-icon--size-medium - 24px
.k-icon--size-large - 32px
.k-icon--size-xlarge - 48px
.k-icon--size-huge - 64px

markup:
<span class="k-icon-document-default {$modifiers}" aria-hidden="true"></span>

sg-wrapper:
<div><sg-wrapper-content/></div>

Styleguide 2.12.3

*/

.k-icon--size-tiny {
  font-size: $icon-size-tiny;
}

.k-icon--size-small {
  font-size: $icon-size-small;
}

.k-icon--size-default {
  font-size: $icon-size;
}

.k-icon--size-medium {
  font-size: $icon-size-medium;
}

.k-icon--size-large {
  font-size: $icon-size-large;
}

.k-icon--size-xlarge {
  font-size: $icon-size-xlarge;
}

.k-icon--size-huge {
  font-size: $icon-size-huge;
}


.k-icon-text-item {
  display: inline-block;
  line-height: $line-height;
  vertical-align: middle;
  font-size: inherit!important;
  margin-right: 5px;
}