/* List
   ========================================================================== */

/*
List

markup:
<!-- List -->
<ul class="k-list">
    <li class="k-is-active">
        <a href="javascript:void(0)">
            <sg-insert>2.12-166</sg-insert>
            My documents
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <sg-insert>2.12-195</sg-insert>
            Most popular
        </a>
    </li>
</ul>

Styleguide 2.13

*/

/**
 * 1. Reset default <ul> styling
 */

.k-list {
  @include reset($margin: false); /* 1 */
  margin: $k-list-spacing 0;

  @include rtl {
    /* Override for rtl ul-ol-li styling */
    margin: $k-list-spacing 0;
    padding: 0;
  }


  /* Items */

  li {
    display: block;
    line-height: $k-list-item-line-height;
  }


  /**
   * Links
   *
   * 1. Make item fully clickable
   * 2. removing underlines
   */

  a {
    display: block; /* 1 */
    padding: $k-list-link-spacing;
    color: $k-list-link-color;
    text-decoration: none; /* 2 */


    /* Hover & focus state */

    &:hover,
    &:focus {
      background: $k-list-link-hover-background;
      color: $k-list-link-hover-color;
      text-decoration: none; /* 2 */
    }
  }


  /* Active link */

  .k-is-active {
    a {
      font-weight: $k-list-link-active-font-weight;
      background: $k-list-link-active-background;
      color: $k-list-link-active-color;

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }


  /* Icons */

  [class^="k-icon"] {
    display: inline-block;
    margin-right: $k-list-icon-spacing;

    @include rtl {
      margin-right: auto;
      margin-left: $k-list-icon-spacing;
    }
  }
}
