@if ($k-molecules == true and $k-molecule-list != false) or $k-molecule-list == true {

  /* List
     ========================================================================== */

  /**
   * 1. Reset default <ul> styling
   */

  .k-list {
    @include reset($margin: false); /* 1 */
    margin: $k-list-spacing 0;

    @include rtl {
      /* Override for rtl ul-ol-li styling */
      margin: $k-list-spacing 0;
      padding: 0;
    }


    /**
     * Items
     */

    li {
      display: block;
    }


    /**
     * Links
     *
     * 1. Make item fully clickable
     * 2. removing underlines
     */

    a {
      display: block; /* 1 */
      padding: $k-list-link-spacing;
      color: $k-list-link-color;
      line-height: $k-list-link-line-height;
      text-decoration: none; /* 2 */


      /**
       * Hover & focus state
       */

      &:hover,
      &:focus {
        background: $k-list-link-hover-background;
        color: $k-list-link-hover-color;
        text-decoration: none; /* 2 */
      }
    }


    /**
     * Active link
     */

    #{$k-list-link-active-class} {
      a {
        font-weight: $k-list-link-active-font-weight;
        background: $k-list-link-active-background;
        color: $k-list-link-active-color;

        &:hover {
          background: transparent;
          cursor: default;
        }
      }
    }


    /**
     * Icons
     */

    [class^="k-icon"] {
      display: inline-block;
      margin-right: $k-list-icon-spacing;

      @include rtl {
        margin-right: auto;
        margin-left: $k-list-icon-spacing;
      }
    }
  }
}
