@if ($k-molecules == true and $k-molecule-loader != false) or $k-molecule-loader == true {

  /* Loader
     ========================================================================== */

  /**
   * Cover it's entire parent (the parent with an `absolute` or `relative` position)
   * - Add `k-hidden` class to the element when items are done loading
   */

  .k-loader-container {
    @include coverall;
    z-index: 5;
    background: rgba($k-loader-container-background, $k-loader-container-opacity);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .k-loader {
      @include modernizr('.k-cssanimations.k-boxshadow') {
        color: $k-loader-container-color;
        left: 0;
      }
    }
  }


  /**
   * Loader
   * CSS only loading animation.
   * Falls back to `Loading...` on non capable browsers
   * Add `k-hidden` class to the element when items are done loading
   */

  .k-loader {
    @include modernizr('.k-cssanimations.k-boxshadow') {
      display: inline-block;
      font-size: $k-loader-small-size;
      margin: 0 1.5em 2em;
      position: relative;
      text-indent: -9999em;
      vertical-align: middle;

      &,
      &:before,
      &:after {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        animation-fill-mode: both;
        animation: k-loader $k-loader-duration infinite ease-in-out;
        backface-visibility: visible;
      }

      &:before {
        left: -1.25em;
        animation-delay: -($k-loader-duration / 8);
      }

      &:after {
        left: 1.25em;
        animation-delay: ($k-loader-duration / 8);
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
      }


      /**
       * Sizes
       */

      &.k-loader--small {
        font-size: $k-loader-small-size;
      }

      &.k-loader--medium {
        font-size: $k-loader-medium-size;
      }

      &.k-loader--large {
        font-size: $k-loader-large-size;
      }
    }

    @keyframes k-loader {
      0%,
      80%,
      100% {
        box-shadow: 0 1em 0 -0.5em;
      }
      40% {
        box-shadow: 0 1em 0 0;
      }
    }

    @include rtl {
      @include flip-item;
    }
  }


  /**
   * Container styling for buttons and tabs
   *
   * 1. Inherit for pseudo element (and for loader)
   * 2. "Hide" element itself by giving scaling down to 0.001
   * 3. Cover parent by scaling up to 1000
   * 4. Top to reset elements own height and margin
   */

  .k-button,
  .k-tabs {
    .k-loader-container {
      background: inherit; /* 1 */
      color: inherit; /* 1 */
      border-radius: inherit; /* 1 */
      display: block;
      text-align: center;
      transform: scale(0.001); /* 2 */
      transform-origin: 50% 50%;

      @include pseudo(before, false, false) {
        @include coverall();
        background: inherit; /* 1 */
        opacity: 0.75;
        transform: scale(1000); /* 3 */
        transform-origin: 50% 50%;
        border-radius: inherit;
      }

      .k-loader {
        @include modernizr('.k-cssanimations.k-boxshadow') {
          color: inherit;
          transform: scale(1000);
          transform-origin: 50% 50%;
          top: -1000em; /* 4 */

          &:nth-child(n) {
            margin-left: 1.5em;
            margin-right: 1.5em;
          }
        }
      }
    }

    .k-loader {
      &:first-child {
        margin-right: 3em;
      }

      &:not(first-child) {
        margin-left: 3em;
      }

      &:last-child {
        margin-right: 1.5em;
        margin-left: 3em;
      }
    }
  }
}
