/* Menubar
   ========================================================================== */

/*
Menubar

- Use as <b>first child</b> of the `.k-ui-container` container only
- Will always be followed by a `.k-wrapper` container
- {unsureText}

markup:
<!-- Menubar -->
<div class="k-menubar">
    Menubar
</div><!-- .k-menubar-->

Styleguide 2.14
*/

.k-menubar {
  @include border(bottom, $k-menubar-border);
  min-height: $k-menubar-height;
  background: $k-menubar-background;
  color: $k-menubar-color;
  padding: ($k-menubar-height - $k-font-size-large) / 2;
  line-height: $k-menubar-height - $k-font-size-large;
  font-size: $k-font-size-large;


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 0 auto;
  }
}