/* Modal
   ========================================================================== */

/*
Modals

Modals using magnific popup (http://dimsemenov.com/plugins/magnific-popup/)
- Default modals are inline modals
- Add an element to open the button
- Add an element to be opened as a modal

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal" class="mfp-hide">
    <div class="k-inline-modal">
        <p>Modal content</p>
    </div>
</div>

sg-wrapper:
<div>
    <sg-wrapper-content/>
</div>

Styleguide 2.15

*/

/*
Modal title

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal2" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal2" class="mfp-hide">
    <div class="k-inline-modal">
        <div class="k-inline-modal__title">Title</div>
        <p>Content</p>
    </div>
</div>

Styleguide 2.15.1

*/

/*
Small modal

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal3" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal3" class="mfp-hide k-small-inline-modal-holder">
    <div class="k-inline-modal">
        <div class="k-inline-modal__title">Title</div>
        <p>I'm a small modal</p>
    </div>
</div>

Styleguide 2.15.2

*/

/*
Iframe modal

markup:
<a class="k-js-iframe-modal" href="http://ui.joomlatools.com/#/section/4.2/fullscreen">
    Open modal
</a>

Styleguide 2.15.3

*/

/*
Image modals

Image modals do not need an item to be shown in a modal but use the `<a href="">` attribute instead

markup:
<a class="k-js-image-modal" href="joomlatools/images/placeholder-16-9.png">
    Open modal
</a>

sg-wrapper:

Styleguide 2.15.4

*/

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;

  @include rtl {
    left: auto;
    right: 0;
  }
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  -webkit-backface-visibility: hidden;

  @include rtl {
    left: auto;
    right: 0;
  }
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  min-height: 420px;

  @include rtl {
    left: auto;
    right: 0;
  }

  &.mfp-inline-holder {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mfp-inline {
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
  }

  .mfp-iframe-scaler .mfp-iframe,
  .mfp-inline {
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
}

.mfp-container:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  min-width: 240px;
  max-width: 1080px !important;
  max-height: 800px !important;

  @include rtl {
    text-align: right;
  }
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  cursor: auto;
  max-width: 1200px;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  position: absolute;
  text-decoration: none;
  opacity: 0.65;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  top: -40px;
  font-size: $font-size-huge;
  line-height: $line-height-huge;
  right: -14px;

  @include rtl {
    right: auto;
    left: -14px;
  }

  &:hover,
  &:focus {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: white;
    opacity: 1;
  }
}

.mfp-close-btn-in .mfp-close {
  color: white;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;

  @include rtl {
    right: auto;
    left: 0;
  }
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

@include rtl {
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 35px;
  }
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
}

.mfp-arrow-left {
  left: 0;

  @include rtl {
    left: auto;
    right: 0;
  }
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}

@include rtl {
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: none;
    border-left: 17px solid white;
    margin-left: 0;
    margin-right: 31px;
  }
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 27px solid #3f3f3f;
  margin-left: 25px;
}

@include rtl {
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    border-right: none;
    border-left: 27px solid #3f3f3f;
    margin-left: 0;
    margin-right: 25px;
  }
}

.mfp-arrow-right {
  right: 0;

  @include rtl {
    right: auto;
    left: 0;
  }
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}

@include rtl {
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: none;
    border-right: 17px solid white;
    margin-left: 0;
    margin-right: 39px;
  }
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

@include rtl {
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: none;
    border-right: 27px solid #3f3f3f;
  }
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 1080px !important;
  max-height: 800px !important;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;

  @include rtl {
    left: auto;
    right: 0;
  }
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}


/* Main image in popup */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}


/* The shadow behind the image */

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}

.mfp-figure {
  line-height: 0;

  figure {
    margin: 0;
    padding: 0;
  }
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;

  @include rtl {
    left: auto;
    right: 0;
  }
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  padding-right: 36px;

  @include rtl {
    text-align: right;
    padding-right: 0;
    padding-left: 36px;
  }
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {


  /* Remove all paddings around the image on small screen */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }


  /* The shadow behind the image */

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;

    @include rtl {
      right: auto;
      left: 5px;
    }
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;

    @include rtl {
      right: auto;
      left: 0;
    }
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;

    @include rtl {
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;

  @include rtl {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -300px;
  }
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;

  @include rtl {
    right: auto;
    left: 0;
  }
}


/**
 * Custom styling for inline modals
 */

.k-small-inline-modal-holder {
  position: relative;
  max-width: 480px !important;
  width: 100%;
  margin: auto;
}

.k-inline-modal {
  padding: $spacing;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  max-width: 1080px !important;
  max-height: 800px !important;
  overflow: auto;

  form {
    margin: 0;
  }
}

.k-inline-modal__title {
  margin: 0 0 $spacing 0;
  font-weight: $regular;
  font-size: $font-size-large;
  line-height: $line-height-large;
}

