@if ($k-molecules == true and $k-molecule-optionlist != false) or $k-molecule-optionlist == true {

  /* Option list
     ========================================================================== */

  /**
   * Check if :checked is supported using modernizr
   */

  @include modernizr('.k-checked') {
    @include optionlist;
  }

  @include modernizr-rtl('.k-checked') {
    #{$k-optionlist-content-class} {
      float: right;
    }
  }

  /**
   * Check if :checked is supported using modernizr
   */

  @include modernizr('.k-checked') {
    #{$k-optionlist-boolean-class} {
      input[value="1"] + label {
        &:before {
          background: $k-optionlist-1-color; /* 1 */
        }
      }

      input[value="0"] + label {
        &:before {
          background: $k-optionlist-0-color; /* 1 */
        }
      }
    }
  }

  @include modernizr('.k-checked') {

    /* Block element to clear from other floating / inline-block elements */

    #{$k-optionlist-block-class} {
      #{$k-optionlist-content-class} {
        width: 100%;
        float: none;
      }

      &#{$k-optionlist-boolean-class} {
        label {
          width: 50%;
        }
      }
    }
  }

  @include modernizr('.k-checked') {

    /* Block element to clear from other floating / inline-block elements */

    #{$k-optionlist-class} {
      [disabled] + label {
        cursor: $k-optionlist-disabled-cursor;
        opacity: 0.6;

        &:hover {
          background: transparent;
        }

        &:active ~ #{$k-optionlist-focus-class} {
          border-color: $k-optionlist-disabled-active-color;
        }
      }
    }
  }
}
