/* Option list
   ========================================================================== */

/*
Option list

- Use when more than two options

markup:
<div class="k-optionlist">
    <div class="k-optionlist__content">
        <input type="radio" name="group-[2.17]-1" id="input-[2.17]-1" value="0" checked="checked" />
        <label for="input-[2.17]-1">Option 1</label>
        <input type="radio" name="group-[2.17]-1" id="input-[2.17]-2" value="1" />
        <label for="input-[2.17]-2">Crasjustoodio, dapibus ac facilisis in, egestas eget quam.</label>
        <input type="radio" name="group-[2.17]-1" id="input-[2.17]-3" value="2" />
        <label for="input-[2.17]-3">Option 3</label>
        <div class="k-optionlist__focus"></div>
    </div>
</div>

Styleguide 2.17

*/

/**
 * Check if :checked is supported using modernizr
 */

@include modernizr('.k-checked') {
  @include optionlist;
}

@include modernizr-rtl('.k-checked') {
  #{$k-optionlist-content-class} {
    @include flexbox(0, 0, true) {
      float: right;
    }
  }
}


/*
Boolean list

A boolean list should only be used for `true / false`, `0 / 1`, `yes / no` questions
- The input with `value="0"` will get the error background color
- The input with `value="1"` will get the success background color

markup:
<div class="k-optionlist k-optionlist--boolean">
    <div class="k-optionlist__content">
        <input type="radio" name="group-[2.17.1]-1-{$modifiers}" id="input-[2.17.1]-1-{$modifiers}" value="1" checked="checked" />
        <label for="input-[2.17.1]-1-{$modifiers}">True</label>
        <input type="radio" name="group-[2.17.1]-1-{$modifiers}" id="input-[2.17.1]-2-{$modifiers}" value="0" />
        <label for="input-[2.17.1]-2-{$modifiers}">False</label>
        <div class="k-optionlist__focus"></div>
    </div>
</div>

Styleguide 2.17.1

*/

/**
 * Check if :checked is supported using modernizr
 */

@include modernizr('.k-checked') {
  #{$k-optionlist-boolean-class} {
    input[value="1"] + label {
      &:before {
        background: $k-radio-toggle-1; /* 1 */
      }
    }

    input[value="0"] + label {
      &:before {
        background: $k-radio-toggle-0; /* 1 */
      }
    }
  }
}


/*
Block list

markup:
<div class="k-optionlist k-optionlist--block">
    <div class="k-optionlist__content">
        <input type="radio" name="group-[2.17.2]-1-{$modifiers}" id="input-[2.17.2]-1-{$modifiers}" value="1" checked="checked" />
        <label for="input-[2.17.2]-1-{$modifiers}">True</label>
        <input type="radio" name="group-[2.17.2]-1-{$modifiers}" id="input-[2.17.2]-2-{$modifiers}" value="0" />
        <label for="input-[2.17.2]-2-{$modifiers}">False</label>
        <div class="k-optionlist__focus"></div>
    </div>
</div>

Styleguide 2.17.2

*/

@include modernizr('.k-checked') {

  /* Block element to clear from other floating / inline-block elements */

  #{$k-optionlist-block-class} {
    #{$k-optionlist-content-class} {
      width: 100%;

      @include flexbox(0,0,true) {
        float: none;
      }
    }

    &#{$k-optionlist-boolean-class} {
      label {
        width: 50%;
      }
    }
  }
}


/*
Disabled items

markup:
<div class="k-optionlist k-optionlist--block">
    <div class="k-optionlist__content">
        <input type="radio" name="group-[2.17.3]-1-{$modifiers}" id="input-[2.17.3]-1-{$modifiers}" value="1" checked="checked" />
        <label for="input-[2.17.3]-1-{$modifiers}">True</label>
        <input type="radio" name="group-[2.17.3]-1-{$modifiers}" id="input-[2.17.3]-2-{$modifiers}" value="0" />
        <label for="input-[2.17.3]-2-{$modifiers}">False</label>
        <input type="radio" name="group-[2.17.3]-1-{$modifiers}" id="input-[2.17.3]-3-{$modifiers}" value="0" disabled="disabled" />
        <label for="input-[2.17.3]-3-{$modifiers}">False</label>
        <div class="k-optionlist__focus"></div>
    </div>
</div>

Styleguide 2.17.3

*/

@include modernizr('.k-checked') {

  /* Block element to clear from other floating / inline-block elements */

  #{$k-optionlist-class} {
    [disabled] + label {
      cursor: $k-cursor-disabled;
      opacity: 0.6;

      &:hover {
        background: transparent;
      }

      &:active ~ #{$k-optionlist-focus-class} {
        border-color: $k-color-error;
      }
    }
  }
}
