@if ($k-molecules == true and $k-molecule-scopebar != false) or $k-molecule-scopebar == true {

  /* Scopebar
     ========================================================================== */

  /**
   * 1. Faking a border for when items are not stretching
   */

  .k-scopebar {
    @include clearfix;
    background: $k-scopebar-background;
    color: $k-scopebar-color;
    min-width: 100%;
    box-shadow: inset 0 -1px 0 $k-scopebar-border; /* 1 */
    display: flex;
    width: auto;
    flex: 0 0 auto;
    flex-wrap: wrap;

    @include breakpoint($k-delta) {
      flex-wrap: nowrap;
    }
  }


  /**
   * Scopebar items
   *
   * 1. For wrapping text in combination with flexbox
   */

  .k-scopebar__item {
    @include clearfix;
    @include border(bottom, $k-scopebar-border);
    min-width: 0; /* 1 */
    box-shadow: 0 -1px 0 $k-scopebar-border;
    flex: 1 1 auto;
    width: auto;


    /**
     * Floating nicely
     */

    @include breakpoint($k-alpha) {
      float: left;
    }
  }


  /**
   * Static scopebar items
   */

  .k-scopebar__item--static {
    display: block;
    flex: 0 0 auto;
  }


  /**
   * Toggle buttons
   *
   * 1. Clearing for floating buttons
   * 2. Move first button away from edge
   */

  .k-scopebar__item--toggle-buttons {
    @include clearfix; /* 1 */
    padding-left: $k-scopebar-button-spacing; /* 2 */
    flex: 1 1 auto;
    order: 15;
    width: auto;

    @include breakpoint($k-beta) {
      flex: 0 0 auto;
    }


    /**
     * Hide on larger screens
     */

    @include breakpoint($k-delta) {
      display: none;
    }

    @include rtl {
      padding-left: 0;
      padding-right: $k-scopebar-button-spacing;
    }


    /**
     * Buttons
     */

    .k-toggle-scopebar-filters,
    .k-toggle-scopebar-breadcrumbs {
      display: block;
      float: left;

      @include breakpoint($k-beta) {
        display: none;
      }
    }

    .k-toggle-scopebar-search {
      display: block;
      float: right;

      @include rtl {
        float: left;
      }

      @include breakpoint($k-delta) {
        display: none;
      }
    }
  }

  .k-scopebar--breadcrumbs {
    .k-scopebar__item--toggle-buttons {
      flex: 0 0 auto;
    }
  }


  /**
   * Scopebar Filters
   */

  .k-scopebar__item--filters {
    width: 100%;
    flex: 1 1 auto;
    order: 10;


    /**
     * Hide when JS is enabled
     */

    @include js-enabled {
      display: none;


      /**
       * Show on larger screens
       */

      @include breakpoint($k-alpha) {
        width: 100%;
      }

      @include breakpoint($k-beta) {
        width: auto;
        display: block;
      }
    }


    /**
     * 1. Reset order
     */

    @include breakpoint($k-beta) {
      width: auto;
      order: 0; /* 1 */
    }

    @include breakpoint($k-delta) {
      display: block;
    }
  }


  /**
   * 1. Clearfix so we can float individual filters
   * 2. For positioning dropdowns on smaller screens
   */

  .k-scopebar__filters {
    @include clearfix; /* 1 */
    position: relative; /* 2 */
    z-index: 2; /* 2 */
  }


  /**
   * Individual filter
   */

  .k-scopebar__item--filter {
    display: block;
    float: left;
    width: auto;
    @include border(right, $k-primary-min-2-color);
    @include border(bottom, $k-primary-min-2-color);
    margin-bottom: -1px;

    @include breakpoint($k-beta) {
      position: relative;
    }

    @include rtl {
      border-right: none;
      @include border(left, #ccc);
      float: right;
    }
  }


  /**
   * Filter title and icon
   */

  .k-scopebar__item--filter__title,
  .k-scopebar__item--filter__icon {
    display: inline-block;
    vertical-align: middle;
  }

  .k-scopebar__item--filter__icon {
    margin-left: 2px;

    @include rtl {
      margin-left: 0;
      margin-right: 2px;
    }

    @include breakpoint($k-beta) {
      margin-left: 4px;

      @include rtl {
        margin-left: 0;
        margin-right: 4px;
      }
    }
  }


  /**
   * Scopebar label showing how many active filters you have below a filter button
   */

  .k-scopebar__item-label {
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 2px;
    min-width: $k-scopebar-filter-label-size;
    height: $k-scopebar-filter-label-size;
    border-radius: 50%;
    background: $k-scopebar-filter-label-background;
    color: $k-scopebar-filter-label-color;
    font-size: $k-scopebar-filter-label-font-size;
    line-height: $k-scopebar-filter-label-size;
    text-align: center;
    vertical-align: middle;
    font-weight: $k-bold-font-weight;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    pointer-events: none;

    @include rtl {
      right: auto;
      left: 2px;
    }

    @include breakpoint($k-beta) {
      top: 6px;
      right: 4px;

      @include rtl {
        right: auto;
        left: 4px;
      }
    }

    &--numberless {
      top: 0;
      right: 0;

      @include rtl {
        right: auto;
        left: 0;
      }

      &:after {
        display: block;
        content: " ";
        width: 5px;
        height: 5px;
        background: white;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .k-scopebar-dropdown {
    overflow: hidden;

    @include breakpoint($k-beta) {
      position: relative;
      z-index: 2;
    }

    &#{$k-scopebar-dropdown-active-class} {
      overflow: visible;
      z-index: 3;

      .k-scopebar-dropdown__body {
        visibility: visible;
      }

      .k-scopebar__item--filter__title {
        text-decoration: underline;
      }
    }

    &#{$k-scopebar-dropdown-active-class} {
      .k-scopebar-dropdown__button {
        background: $k-scopebar-button-hover-background;
      }
    }
  }

  .k-scopebar-dropdown__button {
    position: relative;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0 6px;
    line-height: $k-scopebar-size - 1px;
    height: $k-scopebar-size - 1px;
    font-size: $k-scopebar-filter-font-size;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $k-scopebar-button-hover-background;
    }

    @include breakpoint($k-beta) {
      padding: 0 12px;
    }
  }

  .k-scopebar-dropdown__body {
    position: absolute;
    visibility: hidden;
    background: $k-dropdown-background;
    @include border(all, $k-dropdown-border);
    color: $k-dropdown-color;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
    min-width: 200px;
    left: 0;
    right: 0;
    top: 100%;

    @include breakpoint($k-beta) {
      min-width: 300px;
      right: auto;
      left: -1px;

      @include rtl {
        left: auto;
        right: -1px;
      }
    }

    .select2 {
      min-width: 100%;
    }
  }

  .k-scopebar-dropdown__body__content {
    padding: 5px;
  }

  .k-scopebar-dropdown__body__buttons {
    line-height: 14px;
    @include border(top, $k-dropdown-button-border);
    background: $k-dropdown-button-background;
    color: $k-dropdown-button-color;
    padding: 8px 5px;
    text-align: center;
    border-radius: 0 0 5px 5px;

    .btn {
      padding: 4px 30px;
      line-height: 16px;
    }
  }


  /**
   * Scopebar breadcrumbs
   */

  .k-scopebar__item--breadcrumbs {

    /**
     * Hide when JS is enabled
     */

    @include js-enabled {
      display: none;


      /**
       * Show on larger screens
       */

      @include breakpoint($k-alpha) {
        width: 100%;
      }


      /**
       * Show on larger screens
       */

      @include breakpoint($k-beta) {
        display: block !important;
      }
    }


    /**
     * Flexbox
     *
     * 1. Reset order
     */

    width: auto;
    flex: 1 1 auto;
    order: -1;
    display: block;

    @include breakpoint($k-beta) {
      width: auto;
      order: 0; /* 1 */
    }

    @include breakpoint($k-delta) {
      display: flex !important;
      flex: 1 1 auto;
      max-width: 100%;
      overflow: hidden;
    }


    /**
     * Adjusted styling to display nicely inside the scopebar
     */

    .k-breadcrumb {
      position: static;
      top: auto;
      bottom: auto;
      visibility: visible;
      border-bottom: none;
      overflow: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1 1 auto;
    }
  }


  /**
   * Scopebar buttons
   */

  .k-scopebar__item--buttons {
    display: block;
    flex: 0 0 auto;

    /**
     * Floating nicely
     */

    @include breakpoint($k-alpha) {
      float: right;
    }

    @include breakpoint($k-delta) {
      float: none;
    }
  }

  .k-scopebar__button {
    @include reset;
    position: relative;
    display: block;
    float: left;
    height: round($k-scopebar-size * 0.8);
    margin: round($k-scopebar-size * 0.1) round($k-scopebar-size * 0.1) (round($k-scopebar-size * 0.1) - 1px) round($k-scopebar-size * 0.1);
    margin-left: 0;
    padding-left: round((($k-scopebar-size * 0.8) - (2px + 16px)) / 2);
    padding-right: round((($k-scopebar-size * 0.8) - (2px + 16px)) / 2);
    border-radius: 2px;
    text-align: center;
    line-height: round($k-scopebar-size * 0.8);
    cursor: pointer;
    @include transition;
    @include border(all, transparent);

    @include rtl {
      float: right;
      margin-left: round($k-scopebar-size * 0.1);
      margin-right: 0;
    }

    &:hover {
      border-color: $k-scopebar-border;
      background: lighter($k-scopebar-background);
    }

    &#{$k-scopebar-button-active-class} {
      border-color: $k-scopebar-border;
      background: lighter($k-scopebar-background);
    }


    /**
     * 1. Absolute center
     */

    [class^="k-icon"] {
      display: block;
      margin-top: round((($k-scopebar-size * 0.8) - (2px + 16px)) / 2); /* 1 */
      margin-bottom: round((($k-scopebar-size * 0.8) - (2px + 16px)) / 2); /* 1 */
      width: 16px;
      height: 16px;
      line-height: 0;
      font-size: 0;
      vertical-align: middle;

      &:before {
        font-size: $k-icon-size;
        line-height: $k-icon-size;
      }
    }
  }


  /**
   * Scopebar search
   *
   * 1. For placement of the icons
   * 2. When only child, stick to the right (left for RTL)
   */

  .k-scopebar__item--search {
    position: relative; /* 1 */
    margin-left: auto; /* 2 */
    flex: 1 1 auto;
    order: 20;

    @include rtl {
      margin-left: 0;
      margin-right: auto;
    }


    /**
     * Hide when JS is enabled
     */

    @include js-enabled {
      display: none;
      width: 100%;
    }


    /**
     * 1. Reset order
     * 2. Set proper widths
     */

    @include breakpoint($k-delta) {
      display: block !important;
      flex: 0 0 auto;
      order: 0; /* 1 */
    }

    @include breakpoint($k-delta) {
      @include allwidth($k-scopebar-search-delta-size); /* 2 */
    }

    @include breakpoint($k-echo) {
      @include allwidth($k-scopebar-search-echo-size); /* 2 */
    }

    .k-search {
      width: 100%;
      position: relative;
    }

    .k-search--has-search-button .k-search__field {
      padding-left: $k-scopebar-submit-button-spacing;

      @include rtl {
        padding-left: 0;
        padding-right: $k-scopebar-submit-button-spacing;
      }
    }

    .k-search--has-empty-button .k-search__field {
      padding-right: $k-scopebar-empty-button-spacing;

      @include rtl {
        padding-right: 0;
        padding-left: $k-scopebar-empty-button-spacing;
      }
    }

    .k-search--has-both-buttons .k-search__field {
      padding-left: $k-scopebar-submit-button-spacing;
      padding-right: $k-scopebar-empty-button-spacing;

      @include rtl {
        padding-left: $k-scopebar-empty-button-spacing;
        padding-right: $k-scopebar-submit-button-spacing;
      }
    }


    /**
     * Label
     */

    label {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }


    /**
     * The search field
     */

    .k-search__field {
      @include reset;
      margin: 0;
      display: block;
      width: 100%;
      max-width: none;
      height: $k-scopebar-size;
      border-radius: 0;
      padding: $k-tiny-spacing;
      padding-right: $k-scopebar-size;
      background: $k-scopebar-search-background;
      color: $k-scopebar-search-color;
      box-shadow: none;
      -webkit-appearance: none;

      @include rtl {
        padding-right: 0;
        padding-left: $k-scopebar-size;
      }

      @include breakpoint($k-delta) {
        @include border(left, $k-scopebar-border);
        @include border(bottom, $k-scopebar-border);
        margin-bottom: -1px;

        @include rtl {
          border-left: none;
          @include border(right, $k-scopebar-border);
        }
      }
    }


    /**
     * Search buttons
     */

    .k-search__submit,
    .k-search__empty {
      @include reset;
      position: absolute;
      top: 50%;
      width: round($k-scopebar-size / 2);
      height: round($k-scopebar-size / 2);
      margin-top: -(round($k-scopebar-size / 4));
      vertical-align: middle;
      line-height: 1;
      cursor: pointer;
      color: $k-primary-min-5-color;

      [class*="k-icon-"] {
        vertical-align: middle;
      }

      &:focus,
      &:hover {
        color: $k-primary-min-7-color;
      }

      &#{$k-scopebar-search-button-visible-class} {
        display: inline-block;
      }
    }


    /**
     * The search submit button
     */

    .k-search__submit {
      left: (($k-scopebar-submit-button-spacing - round($k-scopebar-size / 2)) / 2);
      font-size: $k-scopebar-submit-button-size;

      @include rtl {
        left: auto;
        right: (($k-scopebar-submit-button-spacing - round($k-scopebar-size / 2)) / 2);
      }
    }


    /**
     * The search empty / reset button
     */

    .k-search__empty {
      display: none;
      right: (($k-scopebar-empty-button-spacing - round($k-scopebar-size / 2)) / 2);
      font-size: $k-scopebar-empty-button-size;

      @include rtl {
        right: auto;
        left: (($k-scopebar-empty-button-spacing - round($k-scopebar-size / 2)) / 2);
      }

      &#{$k-scopebar-search-visible-class} {
        display: inline-block;
      }
    }


    /**
     * The active search label
     */

    .k-scopebar__item-label--numberless {
      position: absolute;
      right: auto;
      left: 13px;
      top: 5px;

      @include rtl {
        left: auto;
        right: 13px;
      }
    }
  }
}
