@if ($k-molecules == true and $k-molecule-tab != false) or $k-molecule-tab == true {

  /* Tabs
     ========================================================================== */

  /**
   * Tabs container (not mandatory)
   */

  .k-tabs-container {
    @include clearfix;
    overflow: visible;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;


    /**
     * When resizing
     */

    @include resizing {
      overflow: hidden;
    }

    &:not(:first-child) .k-tabs-scroller .k-tabs {
      border-top: $k-tabs-border;
      padding-top: $k-tabs-spacing;
    }

    > .k-tabs-content {
      @include clearfix;
      display: flex;
      flex: 1 1 auto;

      > .k-tab {
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0;
      }
    }
  }


  /**
   * Tabs wrapper
   */

  .k-tabs-wrapper {
    position: relative;
    height: $k-tabs-wrapper-height;
    overflow: hidden;
    flex: 0 0 auto;
    @include transition;
  }


  /**
   * Tabs scroller
   */

  .k-tabs-scroller {
    height: $k-tabs-scroller-height;
    overflow: auto;

    > .k-tabs {
      padding: $k-tabs-scroller-spacing;
      background: $k-tabs-link-active-hover-background;
      white-space: nowrap;
      display: inline-block;
      min-width: 100%;

      @include breakpoint($k-charlie) {
        padding-left: $k-tabs-scroller-charlie-spacing;
        padding-right: $k-tabs-scroller-charlie-spacing;
      }
    }

    > .k-tabs li#{$k-tabs-item-active-class} a {
      background: $k-tabs-scroller-item-active-background;
      color: $k-tabs-scroller-item-active-color;

      &:focus {
        border-color: $k-tabs-scroller-item-active-focus-border;
        border-bottom-color: transparent;
        box-shadow: $k-tabs-scroller-item-active-focus-box-shadow;
      }
    }
  }


  /**
   * Tabs wrapper
   *
   * 1. For proper offset calculation in JS
   */

  .k-tabs {
    position: relative; /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: $k-tabs-border;
    font-size: 0;


    /**
     * 1. Make the list-items overlay the bottom border
     */

    li {
      position: relative;
      display: inline-block;
      margin-bottom: -($k-tabs-border-width); /* 1 */
      margin-right: $k-tabs-item-spacing;

      &:last-child {
        margin-right: 0;
      }

      @include rtl() {
        margin-right: auto;
        margin-left: $k-tabs-item-spacing;

        &:last-child {
          margin-left: 0;
        }
      }
    }


    /**
     * Disabled state sets text to gray and nukes hover/tab effects
     */

    #{$k-tabs-link-disabled-class} a {
      color: $k-tabs-link-disabled-color;
      cursor: $k-tabs-link-disabled-cursor;
      pointer-events: none;

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        cursor: $k-tabs-link-disabled-cursor;
      }
    }


    /**
     * Active state, and its :hover to override normal :hover
     */

    #{$k-tabs-link-active-class} a {
      &,
      &:hover,
      &:focus {
        color: $k-tabs-link-active-hover-color;
        background-color: $k-tabs-link-active-hover-background;
        border: 1px solid $k-tabs-link-active-hover-border;
        border-bottom-color: transparent;
        cursor: default;
      }
    }


    /**
     * Links
     */

    a {
      position: relative;
      display: block;
      padding: $k-tabs-link-spacing;
      line-height: $k-tabs-link-line-height;
      border: $k-tabs-link-border;
      border-radius: $k-tabs-link-border-radius;
      text-decoration: none;
      font-size: $k-tabs-link-font-size;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $k-tabs-link-hover-background;
        border-color: $k-tabs-link-hover-border;
        outline: none;
      }
    }
  }


  /**
   * Transparent tabs
   */

  .k-tabs--transparent {
    background-color: inherit;

    li, a {
      background-color: transparent;
    }

    #{$k-tabs-link-active-class} {
      &, a {
        &,
        &:hover,
        &:focus {
          background-color: inherit;
        }
      }
    }
  }


  /**
   * Tabbable tabs
   *
   * Hide tabbable panes to start, show them when `.k-is-active`
   */

  .k-tabs-content {
    > .k-tab {
      padding: $k-tabs-content-tab-spacing;

      /**
       * Hide tab when it does not have the active class
       */

      &:not(#{$k-tabs-content-tab-active-class}) {
        display: none !important;
      }
    }

    > #{$k-tabs-content-tab-active-class} {
      display: flex;
    }
  }


  /**
   * Left and right buttons for scrollable tabs
   */

  .k-tabs-scroller-prev,
  .k-tabs-scroller-next {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: $k-tabs-overflow-button-width;
    overflow: hidden;
    display: none;
    opacity: 0;
    background: $k-tabs-link-active-hover-background;
    border: $k-tabs-overflow-button-border;
    border-radius: 0;
    @include transition;

    &:focus,
    &:hover {
      background-color: $k-tabs-link-hover-background;
    }

    span {
      @include transition;
    }
  }

  @include rtl {
    .k-tabs-scroller-prev,
    .k-tabs-scroller-next {
      span:before {
        transform: scaleX(1);
      }
    }
  }

  .k-tabs-scroller-prev {
    left: 0;
    border-left: none;
    transform: translateX(-100%);
  }

  .k-tabs-scroller-next {
    right: 0;
    border-right: none;
    transform: translateX(100%);
  }

  .k-has-tabs-overflow {
    padding-left: $k-tabs-overflow-button-width;
    padding-right: $k-tabs-overflow-button-width;

    .k-tabs-scroller-prev,
    .k-tabs-scroller-next {
      transform: translateX(0);
      cursor: no-drop;
      opacity: 1;
      display: block;

      span {
        opacity: $k-tabs-overflow-button-low-opacity;
      }
    }
  }

  .k-has-tabs-left-overflow {
    .k-tabs-scroller-prev {
      opacity: 1;
      cursor: pointer;

      span {
        opacity: $k-tabs-overflow-button-high-opacity;
      }
    }
  }

  .k-has-tabs-right-overflow {
    .k-tabs-scroller-next {
      opacity: 1;
      cursor: pointer;

      span {
        opacity: $k-tabs-overflow-button-high-opacity;
      }
    }
  }
}
