@if ($k-molecules == true and $k-molecule-title-bar != false) or $k-molecule-title-bar == true {

  /* Title bar
     ========================================================================== */

  /**
   * 1. Set the z-index higher than the menus
   * 2. Setting a background so container will fall nicely over the sidebar
   */

  .k-title-bar {
    @include border(bottom, $k-title-bar-border);
    position: relative; /* 1 */
    z-index: $k-title-bar-z-index; /* 1 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $k-title-bar-background; /* 2 */
    color: $k-title-bar-color;
    font-size: $k-title-bar-font-size;
    flex: 0 0 auto;
  }

  /**
   * Titlebar contents
   */

  .k-title-bar {
    .k-off-canvas-toggle-holder,
    .k-title-bar__heading {
      flex: 0 0 auto
    }

    .k-off-canvas-toggle-holder {
      white-space: nowrap;
    }

    .k-title-bar__heading {
      flex: 1 1 auto;
      padding: $k-title-bar-spacing $k-title-bar-spacing ($k-title-bar-spacing - 1px);
      text-align: center;

      &:first-child {
        margin-left: 48px;
      }

      &:last-child {
        margin-right: 48px;
      }

      @include breakpoint($k-charlie) {
        text-align: left;

        @include rtl {
          text-align: right;
        }
      }
    }

    .k-off-canvas-toggle {
      margin: $k-title-bar-spacing $k-title-bar-spacing ($k-title-bar-spacing - 1px);
    }
  }

  /* Mobile title */

  .k-title-bar--mobile {
    @include border(bottom, $k-title-bar-mobile-border);
    background: $k-title-bar-mobile-background;

    @include breakpoint($k-charlie) {
      display: none;
    }
  }
}
