/* Tooltip
   ========================================================================== */

/*
Tooltips

markup:
<a href="javascript:void(0)" class="k-js-tooltip" data-toggle="tooltip" data-original-title="Tooltip">Tooltip on top</a>

sg-wrapper:
<p style="margin: 30px 0;">
    <sg-wrapper-content/>
</p>

Styleguide 2.25

*/

/**
 * 1. Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
 *    So reset our font and text properties to avoid inheriting weird values.
 */

.k-tooltip {
  position: absolute;
  z-index: $k-zindex-tooltip;
  display: block;
  font-size: $k-tooltip-font-size; /* 1 */
  opacity: 0;

  &.in {
    opacity: $k-tooltip-opacity;
  }

  &.top {
    margin-top: -3px;
    padding: $k-tooltip-arrow-width 0;
  }

  &.right {
    margin-left: 3px;
    padding: 0 $k-tooltip-arrow-width;
  }

  &.bottom {
    margin-top: 3px;
    padding: $k-tooltip-arrow-width 0;
  }

  &.left {
    margin-left: -3px;
    padding: 0 $k-tooltip-arrow-width;
  }
}


/**
 * Wrapper for the tooltip content
 */

.k-tooltip__inner {
  max-width: $k-tooltip-max-width;
  padding: $k-tooltip-spacing;
  color: $k-tooltip-color;
  text-align: $k-tooltip-align;
  background-color: $k-tooltip-background;
  border-radius: $k-tooltip-radius;
}


/* Arrows */

.k-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.k-tooltip {
  &.top .k-tooltip__arrow {
    bottom: 0;
    left: 50%;
    margin-left: -($k-tooltip-arrow-width);
    border-width: $k-tooltip-arrow-width $k-tooltip-arrow-width 0;
    border-top-color: $k-tooltip-arrow-color;
  }

  &.top-left .k-tooltip__arrow {
    bottom: 0;
    right: $k-tooltip-arrow-width;
    margin-bottom: -($k-tooltip-arrow-width);
    border-width: $k-tooltip-arrow-width $k-tooltip-arrow-width 0;
    border-top-color: $k-tooltip-arrow-color;
  }

  &.top-right .k-tooltip__arrow {
    bottom: 0;
    left: $k-tooltip-arrow-width;
    margin-bottom: -($k-tooltip-arrow-width);
    border-width: $k-tooltip-arrow-width $k-tooltip-arrow-width 0;
    border-top-color: $k-tooltip-arrow-color;
  }

  &.right .k-tooltip__arrow {
    top: 50%;
    left: 0;
    margin-top: -($k-tooltip-arrow-width);
    border-width: $k-tooltip-arrow-width $k-tooltip-arrow-width $k-tooltip-arrow-width 0;
    border-right-color: $k-tooltip-arrow-color;
  }

  &.left .k-tooltip__arrow {
    top: 50%;
    right: 0;
    margin-top: -($k-tooltip-arrow-width);
    border-width: $k-tooltip-arrow-width 0 $k-tooltip-arrow-width $k-tooltip-arrow-width;
    border-left-color: $k-tooltip-arrow-color;
  }

  &.bottom .k-tooltip__arrow {
    top: 0;
    left: 50%;
    margin-left: -$k-tooltip-arrow-width;
    border-width: 0 $k-tooltip-arrow-width $k-tooltip-arrow-width;
    border-bottom-color: $k-tooltip-arrow-color;
  }

  &.bottom-left .k-tooltip__arrow {
    top: 0;
    right: $k-tooltip-arrow-width;
    margin-top: -($k-tooltip-arrow-width);
    border-width: 0 $k-tooltip-arrow-width $k-tooltip-arrow-width;
    border-bottom-color: $k-tooltip-arrow-color;
  }

  &.bottom-right .k-tooltip__arrow {
    top: 0;
    left: $k-tooltip-arrow-width;
    margin-top: -($k-tooltip-arrow-width);
    border-width: 0 $k-tooltip-arrow-width $k-tooltip-arrow-width;
    border-bottom-color: $k-tooltip-arrow-color;
  }
}
