@if ($k-molecules == true and $k-molecule-toolbar != false) or $k-molecule-toolbar == true {

  /* Toolbar
     ========================================================================== */

  /**
   * 1. Buttons have margin-top and margin-left to separate them from each other
   *    Setting a bottom padding to separate buttons from bottom of toolbar
   * 2. Set a right padding for the toggle button
   */

  .k-toolbar {
    @include border(bottom, $k-toolbar-border);
    background: $k-toolbar-background;
    min-height: $k-toolbar-height;
    padding-bottom: $k-toolbar-spacing; /* 1 */
    padding-right: $k-toolbar-spacing; /* 2 */
    flex: 0 0 auto;

    @include rtl {
      padding-right: 0;
      padding-left: $k-toolbar-spacing; /* 2 */
    }
  }

  /**
   * Toolbar contents
   */

  .k-toolbar {
    .k-button {
      margin: ($k-toolbar-spacing - 1px) 0 0 $k-toolbar-spacing;
      padding: $k-toolbar-spacing - 1px;
      min-width: $k-toolbar-button-height;
      line-height: $k-toolbar-button-height - ($k-toolbar-spacing * 2);

      /**
       * Make buttons square
       *
       * Only make them square if media queries are supported
       * By default we just want them as buttons
       */

      &:not(.k-toolbar-fullbutton) {
        @include breakpoint(0, range, $k-charlie) {
          overflow: hidden;
          width: $k-toolbar-button-height;
          height: $k-toolbar-button-height;
          text-align: center;
        }
      }


      /* Properly align dropdown button in button */

      .k-dropdown {

        /* Pullback so whole button becomes clickable */

        .k-dropdown__toggle {
          text-decoration: none;
          margin: (-($k-toolbar-spacing - 1px));
          padding: $k-toolbar-spacing - 1px;
        }


        /* Pull back to toggle button */

        .k-dropdown__menu {
          margin-top: $k-toolbar-spacing - 2px;
          left: -($k-toolbar-spacing);
        }
      }
    }

    @include rtl {
      .k-button {
        margin-left: 0;
        margin-right: $k-toolbar-spacing;
      }
    }

    /**
     * Autosave indicator
     *
     * Position of the autosave indicator
     * Use a k-loader for the indicator itself
     */

    .k-autosave-indicator {
      margin: $k-toolbar-spacing 0 0 $k-toolbar-spacing;
      display: inline-block;
      vertical-align: middle;
      padding: $k-toolbar-spacing / 2;

      @include rtl {
        margin: $k-toolbar-spacing $k-toolbar-spacing 0 0;
      }
    }

    /**
     * Position the icons
     *
     * Only position them if media queries are supported
     * By default we just want them aligned normally
     */

    [class^="k-icon"] {
      @include breakpoint(0, range, $k-charlie) {
        display: block;
        margin: 0 0 $k-toolbar-spacing;
        width: $k-large-font-size;
        height: $k-large-font-size;
        font-size: $k-large-font-size;
        line-height: $k-large-font-size;
      }

      display: inline-block;
      margin: 0 0.25em 0 0.1em;

      @include rtl {
        margin: 0 0.1em 0 0.25em;
      }
    }

    .k-off-canvas-toggle-holder {
      display: inline-block;
      vertical-align: middle;

      .k-off-canvas-toggle {
        margin-bottom: 0;
      }
    }

    .k-off-canvas-toggle-holder--right {
      float: right;

      @include rtl {
        float: left;
      }
    }
  }

  /* Text on the toolbar buttons */

  .k-toolbar__text {
    @include breakpoint(0, range, $k-charlie) {
      position: relative;
      z-index: -1;
      visibility: hidden;
    }
  }
}
