@if ($k-molecules == true and $k-molecule-well != false) or $k-molecule-well == true {

  /* Well
     ========================================================================== */

  .k-well {
    padding: $k-well-spacing;
    background-color: $k-well-background;
    border: 1px solid $k-well-border;
    border-radius: $k-well-border-radius;
    box-shadow: $k-well-box-shadow;
    @include content-block();

    p {
      @include content-block($k-well-paragraph-spacing);
    }
  }


  /**
   * Well content
   */

  .k-well__content {
    padding: $k-well-content-spacing;
    background: $k-well-content-background;
    border: $k-well-content-border;
    border-radius: $k-well-border-radius;
  }


  /**
   * Well tabs
   */

  .k-well {
    .k-tabs-content {
      margin: 0;
      background: $k-well-content-background;
      border: $k-well-content-border;
      border-top: none;
      border-radius: 0 0 $k-well-border-radius $k-well-border-radius;
    }
  }
}
