// Building the UI
//
// By default everything is enabled
// Disable entire groups by setting `$k-molecules: false` for example
// Disable individual molecules by setting `$k-molecule-alert: false' for example
// Enable individual molecules by setting `$k-molecules: false` and `$k-molecule-alert: true' for example

// @TODO: actually use them
$k-site-atoms:                                      true !default;

$k-site-molecules:                                  true !default;
$k-site-molecule-alert:                             true !default;
$k-site-molecule-button:                            true !default;


// Spacing
// ==========================================================================
//
// can either be used as a padding or a margin on elements

$k-site-spacing:                                    1em !default;
$k-site-horizontal-spacing:                         $k-site-spacing !default;
$k-site-vertical-spacing:                           $k-site-spacing !default;


// Helpers
// ==========================================================================

$k-site-border-radius:                              3px !default;
$k-site-border-width:                               1px !default;


// Colors
// ==========================================================================

$k-site-default-color:                              #718093 !default;
$k-site-default-type-color:                         white !default;


// Alert
// ==========================================================================

$k-site-alert-padding:                              $k-site-spacing !default;
$k-site-alert-margin-bottom:                        $k-site-vertical-spacing !default;
$k-site-alert-background:                           $k-site-default-color !default;
$k-site-alert-color:                                $k-site-default-type-color !default;

$k-site-alert-element-margin-bottom:                0.5em !default;

$k-site-alert-link-text-decoration:                 underline !default;
$k-site-alert-link-hover-text-decoration:           none !default;

$k-site-alert-neutral-background:                   $k-neutral-color !default;
$k-site-alert-neutral-color:                        $k-neutral-type-color !default;

$k-site-alert-success-background:                   $k-success-color !default;
$k-site-alert-success-color:                        $k-success-type-color !default;

$k-site-alert-warning-background:                   $k-warning-color !default;
$k-site-alert-warning-color:                        $k-warning-type-color !default;

$k-site-alert-error-background:                     $k-error-color !default;
$k-site-alert-error-color:                          $k-error-type-color !default;


// Buttons
// ==========================================================================

$k-site-button-display:                             inline-flex !default;
$k-site-button-border:                              1px solid rgba(0, 0, 0, 0.1) !default;
$k-site-button-box-shadow:                          inset 0 0 0 160px rgba(0, 0, 0, 0), inset 0 1px 0 0 rgba(255, 255, 255, 0.2) !default;
$k-site-button-border-radius:                       $k-site-border-radius !default;
$k-site-button-line-height:                         1.2 !default;
$k-site-button-padding:                             0.35em 0.6em !default;

$k-site-button-hover-box-shadow:                    inset 0 0 0 160px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(255, 255, 255, 0.2) !default;
$k-site-button-hover-border:                        1px solid rgba(0, 0, 0, 0.33) !default;

$k-site-button-background:                          $k-site-default-color !default;
$k-site-button-color:                               $k-site-default-type-color !default;

$k-site-button-neutral-background:                  $k-neutral-color !default;
$k-site-button-neutral-color:                       $k-neutral-type-color !default;

$k-site-button-success-background:                  $k-success-color !default;
$k-site-button-success-color:                       $k-success-type-color !default;

$k-site-button-warning-background:                  $k-warning-color !default;
$k-site-button-warning-color:                       $k-warning-type-color !default;

$k-site-button-error-background:                    $k-error-color !default;
$k-site-button-error-color:                         $k-error-type-color !default;


// Label
// ==========================================================================

$k-site-label-horizontal-padding:                   0.5em !default;
$k-site-label-vertical-padding:                     0.25em !default;
$k-site-label-background:                           $k-site-default-color !default;
$k-site-label-color:                                $k-site-default-type-color !default;
$k-site-label-link-hover-color:                     white !default;
$k-site-label-font-weight:                          bold !default;

$k-site-label-neutral-background:                   $k-neutral-color !default;
$k-site-label-neutral-type-background:              $k-neutral-type-color !default;

$k-site-label-success-background:                   $k-success-color !default;
$k-site-label-success-type-background:              $k-success-type-color !default;

$k-site-label-warning-background:                   $k-warning-color !default;
$k-site-label-warning-type-background:              $k-warning-type-color !default;

$k-site-label-error-background:                     $k-error-color !default;
$k-site-label-error-type-background:                $k-error-type-color !default;


// Query grid
// ==========================================================================

$k-site-query-grid-thirds-width:                    288px !default;
$k-site-query-grid-third-width:                     144px !default;
$k-site-query-grid-fourths-width:                   432px !default;
$k-site-query-grid-fourth-width:                    144px !default;
$k-site-query-spacing:                              24px !default;


// Section
// ==========================================================================

$k-site-section-spacing:                            $k-site-spacing !default;
$k-site-section-background:                         linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent) !default;
$k-site-section-border-width:                       1px !default;
$k-site-section-pseudo-background:                  rgba(0, 0 , 0, 0.08) !default;


// Table
// ==========================================================================

$k-site-table-spacing:                              $k-site-spacing !default;
$k-site-table-background:                           transparent !default;
$k-site-table-accent-background:                    rgba(0, 0, 0, .033) !default;

$k-site-table-border-width:                         $k-site-border-width !default;
$k-site-table-border-color:                         rgba(0, 0, 0, 0.075) !default;


// Thumbnail
// ==========================================================================

$k-site-thumbnail-border:                           1px solid rgba(0, 0, 0, 0.2) !default;
$k-site-thumbnail-border-radius:                    $k-site-border-radius !default;
$k-site-thumbnail-spacing:                          3px !default;
$k-site-thumbnail-background:                       white !default;
$k-site-thumbnail-hover-border-color:               rgba(0, 0, 0, 0.33) !default;


// Title
// ==========================================================================

$k-site-title-spacing:                              round($k-site-section-spacing / 2) !default;
$k-site-subtitle-padding:                           round($k-site-section-spacing * 0.25) !default;
$k-site-subtitle-margin:                            $k-site-section-spacing !default;
$k-site-subtitle-border-bottom:                     1px solid rgba(0, 0, 0, 0.1) !default;


// Toolbar
// ==========================================================================

$k-site-toolbar-margin:                             $k-site-section-spacing !default;
$k-site-toolbar-padding:                            1em !default;
$k-site-toolbar-background:                         rgba(0, 0, 0, 0.05) !default;
$k-site-toolbar-border-bottom:                      2px solid rgba(0, 0, 0, 0.1) !default;
