// Building the UI
//
// By default everything is enabled
// Disable entire groups by setting `$k-molecules: false` for example
// Disable individual molecules by setting `$k-molecule-alert: false' for example
// Enable individual molecules by setting `$k-molecules: false` and `$k-molecule-alert: true' for example

$k-site-molecules:                                  true !default;
$k-site-molecule-alert:                             inherit !default;
$k-site-molecule-button:                            inherit !default;
$k-site-molecule-card:                              inherit !default;
$k-site-molecule-icon:                              inherit !default;
$k-site-molecule-flag-object:                       inherit !default;
$k-site-molecule-inline-list:                       inherit !default;
$k-site-molecule-label:                             inherit !default;
$k-site-molecule-list:                              inherit !default;
$k-site-molecule-pagination:                        inherit !default;
$k-site-molecule-query-grid:                        inherit !default;
$k-site-molecule-section:                           inherit !default;
$k-site-molecule-table:                             inherit !default;
$k-site-molecule-thumbnail:                         inherit !default;
$k-site-molecule-title:                             inherit !default;
$k-site-molecule-toglr:                             inherit !default;
$k-site-molecule-toolbar:                           inherit !default;
$k-site-molecule-tree:                              inherit !default;

$k-site-utilities:                                  true !default;
$k-site-utility-link-coverleft:                     inherit !default;
$k-site-utility-reset:                              inherit !default;
$k-site-utility-wrapped-content:                    inherit !default;


// Spacing
// ==========================================================================
//
// can either be used as a padding or a margin on elements

$k-site-spacing:                                    1em !default;
$k-site-horizontal-spacing:                         $k-site-spacing !default;
$k-site-vertical-spacing:                           $k-site-spacing !default;


// Helpers
// ==========================================================================

$k-site-border-radius:                              3px !default;
$k-site-border-width:                               1px !default;
$k-site-border-style:                               solid !default;
$k-site-element-line-height:                        1.2 !default


// Colors
// ==========================================================================

$k-site-default-color:                              #718093 !default;
$k-site-default-type-color:                         white !default;

$k-site-neutral-color:                              $k-neutral-color !default;
$k-site-neutral-type-color:                         $k-neutral-type-color !default;

$k-site-success-color:                              $k-success-color !default;
$k-site-success-type-color:                         $k-success-type-color !default;

$k-site-warning-color:                              $k-warning-color !default;
$k-site-warning-type-color:                         $k-warning-type-color !default;

$k-site-error-color:                                $k-error-color !default;
$k-site-error-type-color:                           $k-error-type-color !default;


// Alert
// ==========================================================================

$k-site-alert-padding:                              $k-site-spacing !default;
$k-site-alert-margin-bottom:                        $k-site-vertical-spacing !default;
$k-site-alert-background:                           $k-site-default-color !default;
$k-site-alert-color:                                $k-site-default-type-color !default;

$k-site-alert-element-color:                        inherit !default;
$k-site-alert-element-margin-bottom:                round($k-site-spacing / 2) !default;

$k-site-alert-link-color:                           inherit !default;
$k-site-alert-link-text-decoration:                 underline !default;
$k-site-alert-link-hover-text-decoration:           none !default;

$k-site-alert-neutral-background:                   $k-site-neutral-color !default;
$k-site-alert-neutral-color:                        $k-site-neutral-type-color !default;

$k-site-alert-success-background:                   $k-site-success-color !default;
$k-site-alert-success-color:                        $k-site-success-type-color !default;

$k-site-alert-warning-background:                   $k-site-warning-color !default;
$k-site-alert-warning-color:                        $k-site-warning-type-color !default;

$k-site-alert-error-background:                     $k-site-error-color !default;
$k-site-alert-error-color:                          $k-site-error-type-color !default;


// Buttons
// ==========================================================================

$k-site-button-display:                             inline-flex !default;
$k-site-button-border:                              $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.1) !default;
$k-site-button-box-shadow:                          inset 0 0 0 160px rgba(0, 0, 0, 0), inset 0 1px 0 0 rgba(255, 255, 255, 0.2) !default;
$k-site-button-border-radius:                       $k-site-border-radius !default;
$k-site-button-line-height:                         $k-site-element-line-height !default;
$k-site-button-padding:                             0.35em 0.6em !default;

$k-site-button-hover-box-shadow:                    inset 0 0 0 160px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(255, 255, 255, 0.2) !default;
$k-site-button-hover-border:                        $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.33) !default;

$k-site-button-background:                          $k-site-default-color !default;
$k-site-button-color:                               $k-site-default-type-color !default;

$k-site-button-neutral-background:                  $k-site-neutral-color !default;
$k-site-button-neutral-color:                       $k-site-neutral-type-color !default;

$k-site-button-success-background:                  $k-site-success-color !default;
$k-site-button-success-color:                       $k-site-success-type-color !default;

$k-site-button-warning-background:                  $k-site-warning-color !default;
$k-site-button-warning-color:                       $k-site-warning-type-color !default;

$k-site-button-error-background:                    $k-site-error-color !default;
$k-site-button-error-color:                         $k-site-error-type-color !default;


// Card
// ==========================================================================

$k-site-card-body-background:                       transparent !default;
$k-site-card-body-border:                           $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.15) !default;
$k-site-card-body-color:                            inherit !default;

$k-site-card-body-hover-background:                 rgba(0, 0, 0, 0.05) !default;
$k-site-card-body-hover-border-color:               rgba(0, 0, 0, 0.2) !default;

$k-site-card-header-background:                     rgba(0, 0, 0, 0.075) !default;
$k-site-card-header-border-bottom-color:            rgba(0, 0, 0, 0.1) !default;
$k-site-card-header-border-top:                     $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.15) !default;
$k-site-card-header-color:                          inherit !default;

$k-site-card-footer-background:                     rgba(0, 0, 0, 0.075) !default;
$k-site-card-footer-border-top:                     $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.1) !default;
$k-site-card-footer-color:                          inherit !default;


// Flag object
// ==========================================================================

$k-site-flag-object-padding:                        0.5em !default;


// Inline list
// ==========================================================================

$k-site-inline-list-item-display:                   inline-block !default;
$k-site-inline-list-item-pseudo-content:            "•" !default;
$k-site-inline-list-item-pseudo-padding:            0 0.5em !default;


// Label
// ==========================================================================

$k-site-label-display:                              inline-block !default;
$k-site-label-horizontal-padding:                   0.5em !default;
$k-site-label-vertical-padding:                     0.25em !default;
$k-site-label-background:                           $k-site-default-color !default;
$k-site-label-color:                                $k-site-default-type-color !default;
$k-site-label-link-hover-color:                     white !default;
$k-site-label-font-weight:                          bold !default;
$k-site-label-font-size:                            small !default;
$k-site-label-line-height:                          $k-site-element-line-height !default;
$k-site-label-white-space:                          nowrap !default;
$k-site-label-box-shadow:                           inset 0 0 0 160px rgba(0, 0, 0, 0) !default;
$k-site-label-transition:                           box-shadow 200ms ease-in-out !default;
$k-site-label-margin-top:                           -0.1em !default;
$k-site-label-margin-left:                          0.25em !default;
$k-site-label-text-decoration:                      none !default;
$k-site-label-border-radius:                        $k-site-border-radius !default;

$k-site-label-hover-box-shadow:                     inset 0 0 0 160px rgba(0, 0, 0, 0.15) !default;
$k-site-label-hover-text-decoration:                none !default;
$k-site-label-hover-cursor:                         pointer !default;

$k-site-label-neutral-background:                   $k-site-neutral-color !default;
$k-site-label-neutral-color:                        $k-site-neutral-type-color !default;

$k-site-label-success-background:                   $k-site-success-color !default;
$k-site-label-success-color:                        $k-site-success-type-color !default;

$k-site-label-warning-background:                   $k-site-warning-color !default;
$k-site-label-warning-color:                        $k-site-warning-type-color !default;

$k-site-label-error-background:                     $k-site-error-color !default;
$k-site-label-error-color:                          $k-site-error-type-color !default;


// List
// ==========================================================================

$k-site-list-margin:                                $k-site-spacing !default;
$k-site-list-item-line-height:                      1.5 !default;
$k-site-list-item-padding:                          0.25em !default;


// Pagination
// ==========================================================================

$k-site-pagination-item-background-color:           transparent !default;
$k-site-pagination-item-border-color:               rgba(0, 0, 0, 0.15) !default;
$k-site-pagination-item-color:                      inherit !default;

$k-site-pagination-item-hover-background-color:     rgba(0, 0, 0, 0.05) !default;
$k-site-pagination-item-hover-border-color:         rgba(0, 0, 0, 0.2) !default;
$k-site-pagination-item-hover-color:                inherit !default;

$k-site-pagination-item-active-background-color:    rgba(0, 0, 0, 0.075) !default;
$k-site-pagination-item-active-border-color:        rgba(0, 0, 0, 0.15) !default;
$k-site-pagination-item-active-color:               inherit !default;


// Query grid
// ==========================================================================

$k-site-query-grid-third-width:                     144px !default;
$k-site-query-grid-thirds-width:                    $k-site-query-grid-third-width * 2 !default;
$k-site-query-grid-fourth-width:                    $k-site-query-grid-third-width !default;
$k-site-query-grid-fourths-width:                   $k-site-query-grid-third-width * 3 !default;
$k-site-query-spacing:                              24px !default;


// Section
// ==========================================================================

$k-site-section-spacing:                            $k-site-spacing !default;

$k-site-section-gradient-border-width:              $k-site-border-width !default;
$k-site-section-gradient-background:                linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent) !default;
$k-site-section-gradient-margin:                    $k-site-spacing !default;
$k-site-section-gradient-padding:                   $k-site-spacing !default;
$k-site-section-gradient-pseudo-background:         rgba(0, 0 , 0, 0.08) !default;

$k-site-section-border-border:                      1px solid rgba(0, 0 , 0, 0.15) !default;
$k-site-section-border-padding:                     0.5em !default;


// Table
// ==========================================================================

$k-site-table-spacing:                              $k-site-spacing !default;
$k-site-table-background:                           transparent !default;
$k-site-table-accent-background:                    rgba(0, 0, 0, .033) !default;
$k-site-table-border-width:                         $k-site-border-width !default;
$k-site-table-border-color:                         rgba(0, 0, 0, 0.075) !default;
$k-site-table-padding:                              0.5em 0.65em !default;


// Thumbnail
// ==========================================================================

$k-site-thumbnail-border:                           $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.25) !default;
$k-site-thumbnail-border-radius:                    $k-site-border-radius !default;
$k-site-thumbnail-spacing:                          3px !default;
$k-site-thumbnail-background:                       rgba(255, 255, 255, 0.05) !default;
$k-site-thumbnail-hover-border-color:               rgba(0, 0, 0, 0.33) !default;


// Title
// ==========================================================================

$k-site-title-spacing:                              round($k-site-section-spacing / 2) !default;

$k-site-subtitle-font-size:                         small !default;
$k-site-subtitle-padding:                           round($k-site-section-spacing * 0.25) !default;
$k-site-subtitle-margin:                            $k-site-section-spacing !default;
$k-site-subtitle-border-bottom:                     $k-site-border-width $k-site-border-style rgba(0, 0, 0, 0.1) !default;


// Toglr
// ==========================================================================

// Repo overrides
$toglr-id:                                          '#search-open' !default;
$toglr-js-class:                                    '.k-js-enabled' !default;
$toglr-breakpoint:                                  false !default;
$toglr-visually-hidden:                             false !default;

$toglr-input-selector:                              '.k-toglr-input' !default;

$toglr-nav-selector:                                '.k-toglr-body' !default;
$toglr-nav-breakpoint-display:                      false !default;

$toglr-togglers-selector:                           '.k-toglr-togglers' !default;
$toglr-label-selector:                              '.k-toglr-label' !default;
$toglr-label-open-selector:                         '.k-toglr-label-open' !default;
$toglr-label-close-selector:                        '.k-toglr-label-close' !default;
$toglr-open-selector:                               '.k-toglr-open' !default;
$toglr-close-selector:                              '.k-toglr-close' !default;

// Custom styling
$k-site-toglr-togglers-cursor:                      pointer !default;
$k-site-toglr-togglers-color:                       inherit !default;
$k-site-toglr-togglers-text-decoration:             none !default;
$k-site-toglr-togglers-hover-text-decoration:       underline !default;

$k-site-toglr-togglers-before-caret-size:           5px !default;

$k-site-toglr-togglers-after-content:               "✖" !default;
$k-site-toglr-togglers-after-font-size:             16px !default;


// Toolbar
// ==========================================================================

$k-site-toolbar-margin:                             $k-site-section-spacing !default;
$k-site-toolbar-padding:                            $k-site-spacing !default;
$k-site-toolbar-background:                         rgba(0, 0, 0, 0.05) !default;
$k-site-toolbar-border-bottom:                      2px $k-site-border-style rgba(0, 0, 0, 0.1) !default;
