/**
 * JQTree
 */

.jqtree-tree {
  @include clearfix;

  /* Reset default ul li styling */
  &, ul {
    @include reset;
    @include clearfix;
    float: left;
    min-width: 100%;
  }

  @include rtl {
    &, ul {
      float: right;
    }
  }
}

.jqtree-folder {
  @include clearfix;
}

.jqtree-element {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  padding: 0;
  white-space: nowrap;
  height: auto;
  cursor: pointer;

  a {
    padding: 0;
    background: transparent;
  }

  .jqtree-toggler {
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    color: inherit;
  }
}

.jqtree-whitespace,
.jqtree-toggler,
.jqtree-icon,
.jqtree-title {
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.jqtree-whitespace,
.jqtree-toggler,
.jqtree-icon {
  width: 18px;
  text-align: center;
}

.k-icon-folder {
  @include icon-before(k-folder, true) {
    font-size: 16px;
    margin-bottom: -1px;
  }
}

.k-icon-folder--open {
  @include icon-before(k-folder_open, true) {
    font-size: 16px;
    margin-bottom: -1px;
  }
}

.jqtree-title {
  padding: 0 0 0 5px;

  @include rtl {
    padding: 0 5px 0 0;
  }
}

.jqtree-toggler {
  @include psuedo(before) {
    top: 50%;
    margin-top: -2px;
    left: 4px;
    @include arrow(bottom);
    @include transition;

    @include rtl {
      left: auto;
      right: 4px;
    }
  }

  &:hover,
  &:focus {
    &:before {
      border-top-color: black;
    }
  }

  &.jqtree-closed {
    &:before {
      transform: rotate(-90deg);

      @include rtl {
        transform: rotate(90deg);
      }
    }
  }
}

.jqtree_common.active {
  & > .jqtree-element {
    font-weight: $bold;
  }
}

.jqtree-closed {
  ul {
    display: none;
  }
}
