/* ==========================================================================
   Sidebars
   ========================================================================== */

/**
 * The left and right sidebar
 */

.k-sidebar,
.k-sidebar-right {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;


  @include resizing {
    overflow: hidden;
  }

  /* Faking flexbox on older browsers by using table styling */

  @include breakpoint($desktop) {
    @include allwidth($sidebar-width-small);
    display: table-cell;
    vertical-align: top;
  }


  /* Larger sidebar when space is available */

  @include breakpoint($delta) {
    @include allwidth($sidebar-width);
  }


  /* When JavaScript is enabled */

  @include js-enabled {
    @include allwidth($sidebar-width);
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    display: none;


    /* On 'desktop' we 'open' the sidebar by default */

    @include breakpoint($desktop) {
      @include allwidth($sidebar-width-small);
      position: relative;
      height: auto;
      display: table-cell;
    }


    /* And we make it even larger when there's enough space */

    @include breakpoint($delta) {
      @include allwidth($sidebar-width);
    }

  }


  /* When flexbox is in use */

  @include flexbox($horizontal: $desktop) {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    .k-sidebar__navigation,
    .k-sidebar__footer {
      flex: 0 0 auto;
    }
  }
}


/* RTL */

@include rtl {
  .k-sidebar,
  .k-sidebar-right {
    direction: rtl;
  }
}


/* Left sidebar specific styling */

.k-sidebar {
  @include border(right, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include rtl {
    border-right: none;
    @include border(left, $sidebar-border);
  }

  @include js-enabled {
    left: 0;
  }

  @include rtl {
    @include js-enabled {
      left: auto;
      right: 0;
    }
  }
}


/* When sidebar is toggled */

.opened--left {
  .k-sidebar {
    display: block;
  }
}


/* Right sidebar specific styling */

.k-sidebar-right {
  @include border(left, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include rtl {
    border-left: none;
    @include border(right, $sidebar-border);
  }

  @include js-enabled {
    right: 0;
  }

  @include rtl {
    @include js-enabled {
      right: auto;
      left: 0;
    }
  }
}


/* When sidebar is toggled */

.opened--right {
  .k-sidebar-right {
    display: block;
  }
}


/* Sidebar contents
   ========================================================================== */

/* Sidebar item */

.k-sidebar__item {
  width: 100%;

  & + & {
    margin-top: $spacing;
  }

  @include flexbox {
    flex: 0 0 auto;

    &--flex {
      flex: 1 0 auto;
    }
  }

}


/* Sidebar header */

.k-sidebar__header {
  padding: $spacing $spacing 0;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 12px;
}


/* Sidebar content */

.k-sidebar__content {
  padding: $spacing $spacing 0;
}

.k-sidebar__content--small {
  padding: $spacing-small $spacing 0;
}


/**
 * Overflowing items
 *
 * 1. Set container to overflow it's items
 */

.k-sidebar__item--overflow {
  overflow: auto; /* 1 */

  @include flexbox {
    flex: 0 1 auto;
  }

  @include resizing {
    overflow: hidden;
  }


  /**
   * Box shadow for overflowing containers
   *
   * 1. Set as same color as background to make it look like text is fading
   */

  & ~ [class^="overflowing"] {
    color: $sidebar-background;
  }
}
