.ercan-todo {
  outline: 2px solid green !important;
  outline-offset: -1px;
}

.robin-todo {
  outline: 2px solid purple !important;
  outline-offset: -1px;
}

.todo {
  outline: 2px solid red !important;
  outline-offset: -1px;
}

.koowa_icon--48 {
  font-size: 48px !important;
}

.k-quick-filters {
  padding-bottom: $spacing-small;

  .k-list {
    @include js-enabled {
      @media (min-height: $flexbox-vertical) {
        display: none;
      }
    }

    @media (min-height: 550px) {
      display: block!important;
    }
  }

  .k-sidebar__header {
    position: relative;
  }

  .k-sidebar__toggle {
    @include js-enabled {
      @media (min-height: $flexbox-vertical) {
        @include icon-after(chevron-top, true) {
          background: white;
          border: 1px solid #ddd;
          border-radius: 10px;
          width: 20px;
          height: 20px;
          position: absolute;
          top: $spacing;
          right: $spacing;
          display: block;
          text-align: center;
          line-height: 20px;
          vertical-align: middle;
          font-size: 10px;
          cursor: pointer;
          @include transition;

        }

        &.is-active:after {
          transform: rotate(180deg);
        }
      }

      @media (min-height: 550px) {
        display: none;
      }
    }

    @include rtl {
      @include js-enabled {
        right: auto;
        left: $spacing;
      }
    }
  }
}


// Better sized because of box-sizing
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 32px;
}


// Button container in right sidebar
.k-button-container {
  margin-bottom: $spacing;
}

.files__sortable,
.files__sortable--sorted,
.files__sortable--sorted-desc,
a.-koowa-asc,
a.-koowa-desc {
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.files__sortable--sorted,
a.-koowa-asc {
  @include icon-after(sort-ascending, true) {
    margin-left: .5em;
    vertical-align: middle;
  }
}

.files__sortable--sorted-desc,
a.-koowa-desc {
  @include icon-after(sort-descending, true) {
    margin-left: .5em;
    vertical-align: middle;
  }
}

.k-grid__items__folders,
.k-grid__items__files {
  @include clearfix;
  clear: both;
}

.remove-tag {
  color: #888;
  font-weight: $bold;
  padding: 0 2px 0 4px;
  @include transition;
  
  &:focus,
  &:hover {
    color: black;
  }
}

.k-migrator-container {
  @include flexbox {
    flex: 1 1 auto;
  }
}

// Custom overwrite since in Bootstrap 3 they use .form-group instead of .control-group
.form-group.warning {
  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
}
.form-group.error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}
.form-group.success {
  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
}



.k-positioner {
  $k-positioner-width: 16px;
  $k-positioner-color: #ccc;

  display: inline-block;
  vertical-align: middle;
  width: $k-positioner-width;
  height: 4px;
  border-top: 1px solid $k-positioner-color;
  border-bottom: 1px solid $k-positioner-color;
  cursor: move;
  counter-increment: positioner-counter;

  @include psuedo(before) {
    width: $k-positioner-width;
    height: 10px;
    border-top: 1px solid $k-positioner-color;
    border-bottom: 1px solid $k-positioner-color;
    top: -4px;
  }

  &:after {
    position: absolute;
    width: ($k-positioner-width * 2);
    height: ($k-positioner-width * 2);
    top: -($k-positioner-width - 1px);
    left: -($k-positioner-width / 2);
    content: counter(positioner-counter);
    font-size: 10px;
    line-height: ($k-positioner-width * 2.75);
    text-indent: 3px;
    vertical-align: bottom;
    color: #333;
    text-shadow: 0 0 3px white;
    @include transition;
  }

  @for $i from 1 through 15 {
    &--level#{$i} {
      counter-increment: positioner-counter#{$i};

      &:after {
        content: counter(positioner-counter#{$i});
      }
    }
  }
}

.k-table-container {
  counter-reset:
    positioner-counter
    positioner-counter-level1
    positioner-counter-level2
    positioner-counter-level3
    positioner-counter-level4
    positioner-counter-level5
    positioner-counter-level6
    positioner-counter-level7
    positioner-counter-level8
    positioner-counter-level9
    positioner-counter-level10
    positioner-counter-level11
    positioner-counter-level12
    positioner-counter-level13
    positioner-counter-level14
    positioner-counter-level15;
}

tr.selected {
  .k-positioner {
    &:after {
      color: white;
      text-shadow: none;
    }
  }
}

.k-ellipsis-item {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Larger tooltips
.tooltip-inner {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: none;
  max-width: 320px;
}

.k-link-coverall {
  &:after {
    display: block;
    content: " ";
    @include coverall;
  }
}

.k-link-ontop {
  position: relative;
  z-index: 2;
}

