/* ==========================================================================
   Global tools
   ========================================================================== */

/* Containing different libraries, variables, mixins and functions */

@import "admin/core/tools";


/* ==========================================================================
   Core styling
   ========================================================================== */

/*  Loading all SCSS files */

@import "admin/core/core";
