/* Global tools
   ========================================================================== */

/* Testing variabel overrides */
// Overrides to test UI
//$flexbox:               false;
//$font-family:           "Comic Sans MS", cursive, sans-serif;
//$font-size:             24px;
//$transition-duration:   1s;
//$transition-easing:     cubic-bezier(0.2, 0.57, 0.44, 0.83);
//$transition:            all $transition-duration $transition-easing;

//$color-primary-1:       black;
//$color-primary-2:       black;
//$color-primary-3:       black;
//$color-primary-4:       black;
//$color-primary-5:       black;
//$color-primary-6:       black;
//$color-primary-7:       black;
//
//$color-secondary-1:     black;
//$color-secondary-2:     black;
//$color-secondary-3:     black;
//$color-secondary-4:     black;
//$color-secondary-5:     black;
//$color-secondary-6:     black;
//$color-secondary-7:     black;
//
//$color-accent:          black;
//$color-accent-type:     yellow;
//
//$color-success:         black;
//$color-success-type:    yellow;
//
//$color-error:           black;
//$color-error-type:      yellow;
//
//$color-neutral:         black;
//$color-neutral-type:    yellow;
//
//$color-warning:         black;
//$color-warning-type:    yellow;
//
//$borders:               false;




/**
 * Containing different libraries, variables, mixins and functions
 */

@import "core/tools";


/* Core styling
   ========================================================================== */

/**
 * Loading all SCSS files
 */

@import "core/core";


// <span class="k-loader">Loading...</span>

.k-loader {
  display: inline-block;
  color: #464646;
  font-size: 2px;
  margin: 0 auto 12px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  vertical-align: middle;

  &,
  &:before,
  &:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation-fill-mode: both;
    animation: k-loader 1.8s infinite ease-in-out;
  }

  &:before {
    left: -4em;
    animation-delay: -0.32s;
  }

  &,
  &:after {
    left: 4em;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }
}

@keyframes k-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 3em 0 -1.5em;
  }
  40% {
    box-shadow: 0 3em 0 0;
  }
}
