// List examples
//
// Example pages that can be used to quickly build pages.
// - Just copy paste the markup for fast building components / pages
//
// Styleguide 4.0

/*
Complete list page

markup:
<div class="koowa-container koowa">
    <sg-insert>2.14</sg-insert>
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Sidebar -->
            <div class="k-sidebar-left k-js-sidebar-left">
                <div class="k-sidebar-item">
                    <sg-insert>2.16-all</sg-insert>
                </div>
                <div class="k-sidebar-item k-sidebar-item--flex">
                    <div class="k-sidebar-item__header">
                        Categories
                    </div>
                    <sg-insert>2.26</sg-insert>
                </div>
                <div class="k-sidebar-item k-sidebar-item--toggle k-js-sidebar-toggle-item">
                    <div class="k-sidebar-item__header">
                        Quick filters
                    </div>
                    <sg-insert>2.13</sg-insert>
                </div>
            </div>
            <!-- Content -->
            <div class="k-content k-js-content">
                <sg-insert>2.23.1</sg-insert>
                <sg-insert>2.24</sg-insert>
                <!-- Component -->
                <div class="k-component">
                    <!-- Form -->
                    <form class="k-flex-wrapper k-js-grid-controller k-js-grid">
                        <sg-insert>2.2</sg-insert>
                        <sg-insert>2.18</sg-insert>
                        <sg-insert>2.21</sg-insert>
                    </form><!-- .k-list-layout -->
                </div><!-- .k-component -->
            </div><!-- k-content -->
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 4.1

*/



/*
List with title-bar

- Can be used inside a modal for example
- For full UI pages use a `.k-menubar` instead of a `.k-title-bar`

markup:
<div class="koowa-container koowa">
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <sg-insert>2.23</sg-insert>
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Sidebar -->
            <div class="k-sidebar-left k-js-sidebar-left">
                <sg-insert>2.16-all</sg-insert>
                <div class="k-sidebar-item">
                    <div class="k-sidebar-item__header">
                        Quick filters
                    </div>
                    <sg-insert>2.13</sg-insert>
                </div>
            </div>
            <!-- Content -->
            <div class="k-content k-js-content">
                <!-- Component -->
                <div class="k-component">
                    <!-- Form -->
                    <form class="k-flex-wrapper">
                        <sg-insert>2.2</sg-insert>
                        <sg-insert>2.18</sg-insert>
                        <sg-insert>2.21</sg-insert>
                    </form><!-- .k-list-layout -->
                </div><!-- .k-component -->
            </div><!-- k-content -->
            <!-- Sidebar -->
            <div class="k-sidebar-right k-js-sidebar-right">
                <div class="k-sidebar-item">
                    <div class="k-sidebar-item__header">
                        Selected file info
                    </div>
                    <div class="k-sidebar-item__content">
                        <sg-insert>2.4.1</sg-insert>
                        <sg-insert>1.2</sg-insert>
                        <form>
                            <sg-insert>2.9</sg-insert>
                            <div class="form-group">
                                <button type="button" class="k-button k-button--primary">Insert file</button>
                                <a class="k-button k-button--default" href="javascript:void(0)">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 4.2

*/



/*
Gallery view

The default list view displayed in a gallery layout

markup:
<div class="koowa-container koowa">
    <!-- Wrapper -->
    <div class="k-wrapper k-js-wrapper">
        <!-- Content wrapper -->
        <div class="k-content-wrapper">
            <!-- Sidebar -->
            <div class="k-sidebar-left k-js-sidebar-left">
                <div class="k-sidebar-item">
                    <sg-insert>2.16-all</sg-insert>
                </div>
                <div class="k-sidebar-item k-sidebar-item--flex">
                    <div class="k-sidebar-item__header">
                        Categories
                    </div>
                    <sg-insert>2.26</sg-insert>
                </div>
                <div class="k-sidebar-item k-sidebar-item--toggle k-js-sidebar-toggle-item">
                    <div class="k-sidebar-item__header">
                        Quick filters
                    </div>
                    <sg-insert>2.13</sg-insert>
                </div>
            </div>
            <!-- Content -->
            <div class="k-content k-js-content">
                <sg-insert>2.23.1</sg-insert>
                <sg-insert>2.24</sg-insert>
                <!-- Component -->
                <div class="k-component">
                    <!-- Form -->
                    <form class="k-flex-wrapper">
                        <sg-insert>2.18</sg-insert>
                        <sg-insert>2.10</sg-insert>
                    </form><!-- .k-list-layout -->
                </div><!-- .k-component -->
            </div><!-- k-content -->
        </div><!-- .k-content-wrapper -->
    </div><!-- .k-wrapper -->
</div><!-- .koowa-container -->

Styleguide 4.3

*/
